@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* Menu HOME */

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background-color: transparent !important;
	}

	.nav>li>a:focus, .nav>li>a:hover {
	    background-color: transparent !important;
	}

/* BANNER */

	#banner_home{
		background-image: url( ../img/JPG/Principal.jpg );
		height: 715px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 0px 50px;
		display: table;
		width: 100%;
		box-sizing: border-box;
	}

	#banner_home > div {
		display: table-cell;
		width: 100%;
		margin: 0px 1360px;
		height: 100%;
		text-align: center;
		vertical-align: middle;
	}

	#banner_home > div > div > span {
		display: block;
		color: #FFF;
	}

	#banner_home .banner_txt_1 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 36px;
		padding: 20px 0px;
	}

	#banner_home .banner_txt_2 {
		font-family: 'Indie Flower', cursive;
		font-size: 40px;
		font-weight: 600;
	}

	#banner_home #buscador {
		background-color: #FFF;
		padding: 20px;
		max-width: 1000px;
		margin: 40px auto 20px;
		border-radius: 5px;
		box-shadow: 0px 0px 5px #6d6d6d;
	}



/* SERVICIOS PRINCIPALES */

	.servicios_principales_container{
	    margin-bottom: 15px;
	}

	.input_check_box {
		position: relative;
	    display: inline-block;
	    width: calc( 25% - 15px );
	    border: solid 1px #CCC;
	    height: 70px;
	    margin-right: 10px;
	    border-radius: 5px;
	    cursor: pointer;
	    padding: 5px 0px;
	}

	.input_check_box input {
	    display: none;
	}

	.input_check_box img {
	    display: block;
	    margin: 5px auto;
	    height: 30px;
	}

	.input_check_box span {
	    color: #828282;
	    font-weight: 400;
	}

	.input_check_box .top_check {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 5px;
	    background-color: #1cd3c6;
	    border-radius: 5px 5px 0px 0px;
	    transition: all .3s ease-in-out;
	    opacity: 0;
	}

	.input_check_box input:checked ~ .top_check {
	    opacity: 1;
	}

	.input_check_box:last-child {
	    margin-right: 0px;
	}

	.tamanios_container .input_check_box img {
	    display: none;
	}

/* CONTROLES MITAD */
	
	.controles_mitad_container{
		margin-bottom: 15px;
	}


/* UBICACION */

	.ubicacion_container{
		position: relative;
		display: inline-block;
		width: 35%;
		box-sizing: border-box;
	    margin-right: 10px;
	}

	.ubicacion_container input {
		width: 100%;
		border: solid 1px #CCC;
		height: 51px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 0px 40px 0px 35px;
		font-size: 16px;
		font-family: Lato;
		color: #777;
		outline: none;
	}

	.ubicacion_container small,
	.fechas_container small {
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    display: inline-block;
	    padding: 2px;
	    color: red;
	    display: none;
	}

	.ubicacion_container img {
		height: 20px;
	}

	.ubicacion_container .ubicacion_gps,
	.ubicacion_container .ubicacion_localizacion
	{
		position: absolute;
		top: 0px;
	}

	.ubicacion_container .ubicacion_localizacion{
		left: 12px;
		top: 15px;
	}

	.ubicacion_container .ubicacion_gps{
		right: 0px;
		cursor: pointer;
		font-size: 20px;
		color: #1cd3c6;
		height: 100%;
		padding: 15px 12px;
	}

	.ubicacion_container .barra_ubicacion{
		position: absolute;
		right: 40px;
		border-left: solid 1px #CCC;
		top: 0px;
		height: 100%;
		width: 0px;  
	}

	#ubicacion_list{
		overflow: auto;
	    max-height: 200px;
	    padding: 10px;
	}


	.ubicacion_list_hover {
		display: block !important;
	}

	#ubicacion_list li {
	    padding: 2px 10px;
	    margin: 0;
	    line-height: 17px;
	    font-size: 13px;
	    text-align: left;
	    font-family: Lato;
	    cursor: pointer;
	}

	#ubicacion_list li:hover {
		background: #DDD;
	}

	.cerrar_list_box{
		display: none;
		position: absolute;
	    top: 43px;
	    left: -1px;
	    width: calc( 100% + 2px );
	    z-index: 99999999999999;
	    border: 1px solid #e5e5e5;
	    border-radius: 0px 0px 5px 5px;
	    background: #FFF;
	    min-height: 50px;
	}

	.cerrar_list {
	    position: absolute;
	    top: 0px;
	    right: 5px;
	    padding: 10px 20px 15px !important;
	    font-size: 20px !important;
	    z-index: 999999999999999999 !important;
	}

	.error_fecha input {
		border: solid 1px red !important;
	}

	.error_fecha small{
		display: block;
	}

/* TIPO MASCOTA */

	.tipo_mascota_container{
		display: inline-block;
		width: 30%;
		box-sizing: border-box;
	    margin-right: 10px;
	    vertical-align: top;
	}

	.tipo_mascota_container input {
		width: 100%;
	}

	.tipo_mascota_container .input_check_box {
	    width: calc( 50% - 15px );
	    height: 52px;
	    vertical-align: middle;
	    padding: 0px;
	}

	.tipo_mascota_container .input_check_box * {
	    vertical-align: middle;
	}

	.tipo_mascota_container .input_check_box img {
	    display: inline-block;
	    margin: 8px 12px 8px 0px;
	    height: 30px;
	}



/* FECHAS */

	.fechas_container{
		display: inline-block;
		width: calc( 35% - 40px );
		box-sizing: border-box;
	    margin-right: 0px;
	}

	.fechas_container > div {
		position: relative;
		display: inline-block;
		width: calc( 50% - 10px );
	}

	.fechas_container input {
		width: 100%;
		border: solid 1px #CCC;
		height: 50px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 0px 0px 0px 35px;
		font-size: 13px;
		font-family: Lato;
		color: #777;
		outline: none;
	}

	#desde_container{
	    margin-right: 15px;
	}

	.fechas_container img {
		height: 17px;
	}

	.fechas_container .icon_fecha{
		position: absolute;
		top: 17px;
		cursor: pointer;
		left: 10px;
	}



/* TAMAÑOS */

	.tamanios_container{
		display: inline-block;
		width: 60%;
		box-sizing: border-box;
	    margin-right: 10px;
	    padding-left: 6px;
	    overflow: hidden;
	}

	.tamanios_container .input_check_box{
		padding: 17px 0px;
		box-sizing: border-box;
	    float: left;
        width: calc( 25% - 8px );
	}

	.input_check_box span small {
	    display: block;
	}

	.tam_label_pc{
		display: inline-block;
	}

	.tam_label_movil{
		display: none;
	}

	.tamanios_container .input_check_box img {
	    display: none;
	}



/* BOTÓN BUSCAR */

	.boton_buscar_container{
		display: inline-block;
		width: calc( 40% - 15px );
		box-sizing: border-box;
	    vertical-align: top;
	    padding-right: 5px;
	}

	.boton_buscar_container .boton_buscar{
	    display: block;
	    font-size: 24px;
	    font-weight: 500;
	    border: 1px #1cd3c6;
	    height: 70px;
	    border-radius: 5px;
	    cursor: pointer;
	    padding: 0px;
	    width: 100%;
	    box-sizing: border-box;
	    font-family: Lato;
	    outline: none;
	}

/* BENEFICIOS */

	.beneficios_buscar_top,
	.beneficios_banner_movil{
		display: none;
	}

	.beneficios_container {
		padding: 50px;
		text-align: center;
	    margin: 0px auto;
    	max-width: 1360px;
	}

	.beneficios_container h2 {
		color: #000;
	    font-weight: 600;
	    font-family: Lato;
	    text-transform: uppercase;
        font-size: 22px;
	}

	.beneficios_registrar_container .boton{
		padding: 15px 100px;
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		color: #7c169e;
	}

	.beneficios_registrar_container span{
	    display: block;
	    padding: 30px 0px;
	    color: #777;
	    font-size: 18px;
	}

	.beneficios_detalles{
		padding: 20px 0px;
		display: table;
		width: 100%;
	}

	.beneficios_detalles h2 {
		text-transform: uppercase;
		color: #313131;
		display: table-caption;
		padding-bottom: 20px;
	    font-size: 22px;	    
	}

	.beneficios_detalles .beneficios_detalles_tabla {
		display: table-row;
	}

	.beneficios_detalles .beneficios_detalles_tabla > div {
		display: table-cell;
		vertical-align: top;
		width: 50%;
	}

	.beneficios_detalles_item{
		overflow: hidden;
	    width: 90%;
        padding-bottom: 10px;
	}

	.beneficios_detalles_icon{
		float: left;
		width: 30%;
		text-align: center;
	}

	.beneficios_detalles_icon img{
		width: 65%;
    	margin: 10px 0px;
	}

	.beneficios_detalles_info{
		float: left;
		width: 70%;
		text-align: left;
	}

	.beneficios_detalles_info h3 {
		color: #5d5d5d;
	}

	.beneficios_detalles_info p {
		font-size: 20px;
	    color: #636363;
	}

	.beneficios_servicios_principales{
		border: solid 1px #e6e6e6;
		border-radius: 5px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_titulo{
	    border-bottom: solid 1px #e6e6e6;
	    background-color: #f0f0f0;
	    padding: 10px;
	    color: #818181;
	    font-size: 24px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista {
		list-style: none;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista li {
		text-align: left;
		padding: 10px 0px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista li > div {
		display: inline-block;
		vertical-align: top;
		padding: 5px 0px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista img {
		height: 40px;
	    margin-right: 30px;
		vertical-align: top;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista p {
		padding: 5px 0px;
		margin: 0px;
		vertical-align: top;
		color: #636363;
		font-size: 18px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista strong {
		font-size: 20px;
		color: #5d5d5d;
	}

	.beneficios_buscar_container {
		display: table;
		width: 100%;
		max-width: 1360px;
		margin-top: 25px;
	}

	.beneficios_buscar_left{
		display: table-cell;
		width: 70%;
		font-size: 21px;
		color: #3c3c3c;
		letter-spacing: 2px;
	}

	.beneficios_buscar_right{
		display: table-cell;
		width: 30%;
		text-align: right;
	}

	.beneficios_buscar_right .boton {
		font-size: 24px;
		padding: 15px 50px;
		margin: 0px;
	}

/* TESTIMONIOS */

	.testimonios_container{
		padding: 150px 110px 200px;
	    position: relative;
	    box-shadow: 0px 3px 5px #dedede;
	    overflow: hidden;
	    margin-bottom: 70px;
	}

	.testimonios_container .testimonios_img{
		background-image: url( ../img/JPG/Coment-Cuidador.jpg );
		height: 480px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.testimonios_container .testimonios_img span {
        position: absolute;
	    top: 45px;
	    left: 45px;
	    color: #FFF;
	    font-size: 23px;
	    font-weight: 600;
	    letter-spacing: 2px;
	}

	.testimonios_container .testimonios_item {
		background-color: #FFF;
		border-radius: 5px 0px 5px 5px;
		position: absolute;
		bottom: 100px;
		left: 200px;
		height: 360px;
		width: 400px;
		box-sizing: border-box;
		padding: 20px;
		font-size: 22px;
    	line-height: 1.7;
		text-align: justify;
		color: #585858;
		box-shadow: 1px 1px 2px #CCC;
	    padding: 10px 20px;
	}

	.testimonios_container .testimonios_item p {
		font-size: 22px;
    	line-height: 1.7;
	}

	.testimonios_container .testimonios_item span {
		position: absolute;
		right: 20px;
		bottom: 10px;
		font-weight: 400;
		font-size: 24px;
	}

	.testimonios_container .testimonios_item:before {
		content: ' ';
		position: absolute;
		top: 0px;
		right: -40px;
		width: 0px;
		height: 0px;
		border: solid;
		border-color: #FFF transparent transparent #FFF;
		border-width: 40px 20px 40px 20px;
	}

	.testimonios_link{
		position: absolute;
		bottom: 120px;
		left: 645px;
		font-size: 20px;
		color: #1696f4;
		border-bottom: solid 1.5px;
		font-weight: 500;
	}

/* PASOS RESERVA */
	
	.pasos_reserva_container {

	}

	.pasos_reserva_container h2 {
	    display: block;
	    text-transform: uppercase;
	    text-align: center;
	    margin-bottom: 70px;
	    font-size: 25px;
	    color: #000;
	    font-weight: 600;
	    font-family: Lato;
	}

	.pasos_reserva_tabla{
	    display: table;
	    width: 100%;
	    max-width: 1360px;
	    margin: 0px auto;
	    text-align: center;
	}

	.pasos_reserva_row{
		display: table-row;

	}

	.pasos_reserva_celda{
		display: table-cell;
		width: 33.3333333%;
		position: relative;
	}

	.pasos_reserva_celda span {
	    border: solid 2px #1cd3c6;
	    padding: 7px 15px;
	    border-radius: 50%;
	    font-size: 22px;
	    color: #1cd3c6;
	    font-weight: 600;
	}

	.pasos_reserva_container #paso_1:after {
		content: ' ';
		position: absolute;
		right: 2px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #1cd3c6;
	}

	.pasos_reserva_container #paso_2:before {
		content: ' ';
		position: absolute;
		left: 0px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #1cd3c6;
	}

	.pasos_reserva_container #paso_2:after {
		content: ' ';
		position: absolute;
		right: 0px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #1cd3c6;
	}

	.pasos_reserva_container #paso_3:before {
		content: ' ';
		position: absolute;
		left: 2px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #1cd3c6;
	}

	.pasos_reserva_celda img {
	    height: 170px;
   		margin: 30px 0px 5px;
	}

	.pasos_reserva_celda h3 {
		color: #5d5d5d;
	}

	.pasos_reserva_celda p {
		font-size: 16px;
    	color: #636363;
    	max-width: 290px;
    	width: 100%;
    	margin: 0px auto;
	}

	.pasos_celda_top,
	.pasos_celda_bottom{
		display: block;
	}

/* CLUB PATITAS FELICES */

	.club_patitas_container_superior{
		padding: 0px 50px 50px;
	}

	.club_patitas_container {
		display: block;
		width: 100%;
		box-sizing: border-box;
		max-width: 1360px;
		margin: 70px auto 15px;
	}

	.club_patitas_container h2 {
		font-family: 'Indie Flower', cursive;
		font-weight: 400;
		font-size: 36px;
		margin: 0px;
	}

	.club_patitas_container span {
	    font-weight: 400;
	    font-size: 17px;
	    color: #636363;
	    padding-top: 15px;
	    display: inline-block;
	}

	.club_patitas_container h3 {
		text-transform: uppercase;
		font-size: 22px;
	    color: #7c169e;
	}

	.club_patitas_tabla{
		display: table;
		width: 100%;
		box-shadow: 0px 0px 10px #a2a2a2;
		border-radius: 2px;
		padding: 70px;
		box-sizing: border-box;
		overflow: hidden;
	}

	.club_patitas_celda{
		display: table-cell;
		vertical-align: middle;
	}

	.club_patitas_celda.celda_30 {
	    float: right;
	    padding-right: 0px !important;
	}

	.club_patitas_celda.celda_70 {
	    float: left;
	}

	.club_patitas_logo{
		display: block;
		width: 80%;
		margin: 0px auto;
	}

	.club_patitas_container input[type='text'],
	.club_patitas_container input[type='email']
	{
		width: 100%;
		border: 0px;
		border-bottom: solid 1px #CCC;
		padding: 10px 0px;
		outline: none;
		display: block;
		font-size: 16px;
	}

	.club_patitas_tabla .club_patitas_tabla{
		display: table;
		width: 90%;
		box-shadow: 0px 0px 0px #a2a2a2;
		border-radius: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

	.club_patitas_tabla .club_patitas_tabla .club_patitas_celda{
		padding-right: 40px;
		box-sizing: border-box;
	}

	.club_patitas_container input[type='submit']{
	    width: 100%;
	    padding: 15px 0px;
	    outline: none;
	    border: 0px;
	    font-size: 18px;
	    font-weight: 600;
	    margin: 0px 0px 5px;
	    text-align: center;
	}

	.club_patitas_container small {
	    display: block;
	    text-align: center;
        color: #636363;
	}

/* QUIERO SER CUIDADOR */

	.quiero_ser_cuidador_container{
		padding: 0px;
	    position: relative;
	    overflow: hidden;
	    margin-bottom: 70px;
	}

	.quiero_ser_cuidador_container_2{
		display: none;
	}

	.quiero_ser_cuidador_container .quiero_ser_cuidador_img{
		background-image: url( ../img/JPG/Banner-Conviertete.jpg );
		height: 450px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.quiero_ser_cuidador_container .quiero_ser_cuidador_info {
		position: absolute;
		bottom: 80px;
		right: 150px;
		text-align: right;
	}

	.quiero_ser_cuidador_container h2 {
		color: #FFF;
		font-size: 36px;
		text-transform: uppercase;		
		margin: 0px 0px 15px;
	}

	.quiero_ser_cuidador_container span {
		display: block;		
		color: #FFF;
		font-size: 18px;	
		margin: 0px 0px 70px;
	}

	.quiero_ser_cuidador_container a {
		margin-top: 20px;
		padding: 15px 80px;
		font-size: 18px;
		font-weight: 500;
		margin: 0px;
	}

/* CONECTATE */

	.conectate_container{

	}

	.conectate_container > h2 {
		text-transform: uppercase;
		display: block;
		text-align: center;
		font-size: 25px;
		color: #000;
		font-weight: 600;
		font-family: Lato;
	}

	.conectate_container > img {
		height: 450px;
		display: block;
		text-align: center;
		border-bottom: solid 1px #CCC;
		margin: 50px auto 50px;
	}

	.conectate_container > span {
		display: block;
		color: #1cd3c6;
		text-align: center;
		margin-bottom: 50px;
		font-size: 18px;
	}

	.conectate_container .mensaje_movil {
		display: none;
	}

	.conectate_botones_tabla{
		display: table;
		width: 100%;
		max-width: 600px;
		margin: 0px auto 50px;
	}

	.conectate_botones_celda {
		display: table-cell;
		width: 50%;
		text-align: center;
	}

	.conectate_botones_celda > img{
		height: 60px;
	}

	/* ALIADOS */

	.aliados_container{
		width: 100%;
		max-width: 1360px;
		text-align: center;
	    margin: 0px auto 50px;
	}


	.aliados_container img{
		width: 15.5%;
	}
