@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* Menu HOME */

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background-color: transparent !important;
	}

	.nav>li>a:focus, .nav>li>a:hover {
	    background-color: transparent !important;
	}

	h2 {
	    color: #000 !important;
	    font-weight: 600 !important;
	    font-family: Gotham-Pro-Bold !important; 
	    text-transform: uppercase !important;
	    font-size: 18px !important;
	}

/* BANNER ROTATIVO */

	.banner_box {
	    position: relative;
	}

	.banner_rotativo {
		position: relative;
	    height: 195px;
	    white-space: nowrap;
	    display: block;
	}

	.banner_rotativo_container {
		position: relative;
		overflow: hidden;
	    white-space: nowrap;
	    display: block;
	    height: 100%;
	}

	.banner_rotativo_box {
	    white-space: nowrap;
	    height: 100%;
	}

	.banner_rotativo_item {
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}

/* BANNER */

	.titulo_banner_top{
		display: none;
	}

	#banner_home{
		height: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 100px 0px 0px;
		display: table;
		width: 1000px;
		box-sizing: border-box;
		margin: 0px auto;
	}

	#banner_home > div {
		display: table-cell;
		width: 100%;
		margin: 0px;
		height: 100%;
		text-align: center;
		vertical-align: middle;
	}

	#banner_home > div > div > span {
		display: block;
		color: #FFF;
	}

	#banner_home .banner_txt_1 {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 24px;
		padding: 60px 0px 0px;
		font-family: Gotham-Pro-Bold;
	}

	#banner_home .banner_txt_2 {
		font-family: 'Indie Flower', cursive;
		font-size: 40px;
		font-weight: 600;
	}

	#banner_home #buscador {
		background-color: #FFF;
		padding: 30px 25px 20px;
		max-width: 100%;
		margin: 0px auto;
		border-radius: 0px;
		box-shadow: none;
    	background: #fafafa;
    	overflow: hidden;
    	border: solid 1px #CCC;
	}

	#banner_home #buscador {
		font-size: 11px;
	}



/* SERVICIOS PRINCIPALES */
	
	#buscador_2{
		display: none;
	}

	.servicios_principales_container{
	    margin-bottom: 15px;
	}

	#servicios_principales_container img.Flechas {
	    display: none;
	}

	.input_check_box {
		position: relative;
	    display: inline-block;
	    width: calc( 25% - 15px );
	    border: solid 1px #CCC;
	    height: 48px;
	    margin-right: 10px;
	    border-radius: 5px;
	    cursor: pointer;
	    padding: 5px 0px;
	    background: #FFF;
	}

	.input_check_box input {
	    display: none;
	}

	.input_check_box img {
	    display: block;
	    margin: 3px auto;
	    height: 17px;
	}

	.input_check_box span {
	    color: #828282;
	    font-weight: 400;
	}

	.input_check_box .top_check {
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 5px;
	    background-color: #00d2c6;
	    border-radius: 5px 5px 0px 0px;
	    transition: all .3s ease-in-out;
	    opacity: 0;
	}

	.input_check_box input:checked ~ .top_check {
	    opacity: 1;
	}

	.tamanios_container .input_check_box img {
	    display: none;
	}

/* CONTROLES MITAD */
	
	.controles_mitad_container{
		margin-bottom: 10px;
		padding: 0px;
	}


/* UBICACION */

	.ubicacion_container{
		position: relative;
		display: inline-block;
		width: 35%;
		box-sizing: border-box;
	    margin-right: 10px;
	    vertical-align: top;
	}

	.ubicacion_container input {
		width: 100%;
		border: solid 1px #CCC;
		height: 45px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 0px 40px 0px 35px;
		font-size: 11px !important;
		color: #777;
		outline: none;
	}

	.ubicacion_container small,
	.fechas_container small {
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    display: inline-block;
	    padding: 2px;
	    color: red;
	    display: none;
	}

	img.icon_flecha_fecha {
	    position: absolute;
	    top: 16px;
	    right: 8px;
	    width: 15px;
	}

	.ubicacion_container img {
		height: 20px;
	}

	img.mi_ubicacion {
	    position: absolute;
	    top: 13px;
	    right: 10px;
	    z-index: 100;
	}

	.ubicacion_container .ubicacion_gps,
	.ubicacion_container .ubicacion_localizacion
	{
		position: absolute;
		top: 0px;
	}

	.ubicacion_container .ubicacion_localizacion{
		left: 12px;
		top: 13px;
	}

	.ubicacion_container .ubicacion_gps{
		right: 0px;
		cursor: pointer;
		font-size: 20px;
		color: #00d2c6;
		height: 100%;
		padding: 13px 11px;
		left: auto!important;
	}

	.ubicacion_container .barra_ubicacion{
		position: absolute;
		right: 40px;
		border-left: solid 1px #CCC;
		top: 0px;
		height: 100%;
		width: 0px;  
	}

	.ubicacion_list{
		overflow: auto;
	    max-height: 200px;
	    padding: 10px;
	}


	.ubicacion_list_hover {
		display: block !important;
	}

	.ubicacion_list li {
	    padding: 2px 10px;
	    margin: 0;
	    line-height: 17px;
	    font-size: 9px !important;
	    text-align: left;
	    cursor: pointer;
	}

	.ubicacion_list li:hover {
		background: #DDD;
	}

	.cerrar_list_box{
		display: none;
		position: absolute;
	    top: 43px;
	    left: -1px;
	    width: calc( 100% + 2px );
	    z-index: 99999999999999;
	    border: 1px solid #e5e5e5;
	    border-radius: 0px 0px 5px 5px;
	    background: #FFF;
	    min-height: 50px;
	}

	.cerrar_list {
	    position: absolute;
	    top: 0px;
	    right: 5px;
	    padding: 10px 20px 15px !important;
	    font-size: 20px !important;
	    z-index: 999999999999999999 !important;
	}

	.error_fecha input {
		border: solid 1px red !important;
	}

	.error_fecha small{
		display: block;
	}

/* TIPO MASCOTA */

	.tipo_mascota_container{
		display: inline-block;
		width: 30%;
		box-sizing: border-box;
	    margin-right: 10px;
	    vertical-align: top;
	}

	.tipo_mascota_container input {
		width: 100%;
	}

	.tipo_mascota_container .input_check_box {
	    width: calc( 50% - 15px );
	    height: 45px;
	    vertical-align: middle;
	    padding: 0px;
	}

	.tipo_mascota_container .input_check_box * {
	    vertical-align: middle;
	}

	.tipo_mascota_container .input_check_box img {
	    display: inline-block;
	    margin: 12px 8px 12px 0px;
	    height: 20px;
	}



/* FECHAS */

	.fechas_container{
		display: inline-block;
		width: calc( 35% - 40px );
		box-sizing: border-box;
	    margin-right: 0px;
	}

	.fechas_container > div {
		position: relative;
		display: inline-block;
		width: calc( 50% - 10px );
	}

	.fechas_container input {
		width: 100%;
		border: solid 1px #CCC;
		height: 45px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 0px 0px 0px 35px;
		font-size: 11px;
		color: #777;
		outline: none;
	}

	#desde_container{
	    margin-right: 15px;
	}

	.fechas_container img {
		height: 15px;
	}

	.fechas_container .icon_fecha{
		position: absolute;
		top: 14px;
		cursor: pointer;
		left: 10px;
	}



/* TAMAÑOS */

	.tamanios_container{
	    display: inline-block;
	    width: 50%;
	    box-sizing: border-box;
	    margin-right: 10px;
	    padding-left: 6px;
	    overflow: hidden;
	    float: left;
	}

	.tamanios_container .input_check_box{
		padding: 11px 0px;
		box-sizing: border-box;
	    float: left;
        width: calc( 25% - 8px );
	}

	.input_check_box span small {
	    display: block;
	}

	.tam_label_pc{
		display: inline-block;
	}

	.tam_label_movil{
		display: none;
	}

	.tamanios_container .input_check_box img {
	    display: none;
	}



/* BOTÓN BUSCAR */

	.boton_buscar_container{
	    display: inline-block;
	    width: calc( 40% - 15px );
	    box-sizing: border-box;
	    vertical-align: top;
	    padding-right: 5px;
	    float: right;
	}

	.boton_buscar_container .boton_buscar{
	    display: block;
	    font-size: 14px;
	    font-weight: 500;
	    border: 1px #00d2c6;
	    height: 48px;
	    border-radius: 5px;
	    cursor: pointer;
	    padding: 0px;
	    width: 100%;
	    box-sizing: border-box;
	    font-family: Gotham-Pro-Bold;
	    outline: none;
	}

/* DESTACADOS */

	.seccion_destacados h2{
		text-transform: none !important;	
		margin: 30px auto 25px;
		text-align: center;
		font-size: 20px !important;
	}

	.seccion_destacados h2 span {
		color: #00d2c6;
	}

	.destacados_container{
		position: relative;
		height: 255px; 
		display: block;
		margin: 0px auto;
    	text-align: center;
	}

	.destacados_box {
		position: relative;
		display: inline-block;
	}

	.destacados_box > div{
		position: relative;
	    overflow: hidden;
	    width: 100%;
	    max-width: 1000px;
	    box-sizing: border-box;
	    display: block;
	    vertical-align: top;
	    margin: 0px auto;
	}

	.destacados_box > div > div {
		height: 100%;
		white-space: nowrap;
		position: relative;
		display: block;
		left: 0%;
	}

	.destacados_item{
		position: relative;
		display: inline-block;
		width: 25%;
		height: 100%; 
		box-sizing: border-box;
		padding: 0px 20px;
		vertical-align: top;
	}

	.img_destacado {
	    height: 120px;
	    background-position: center;
	    background-size: cover;
	}

	.datos_top_destacado_containder {
	    padding: 5px 0px;
	    overflow: hidden;
	}

	.avatar_destacado {
	    background-position: center;
	    background-size: cover;
	    height: 25px;
	    width: 25px;
	    border-radius: 50%;
	    display: inline-block;
	    float: left;
	}

	.nombre_destacado {
	    float: left;
	    padding: 4px 0px 4px 5px; 
	}

	.nombre_destacado a {
	    text-decoration: none;
	    font-size: 10px;
	    font-family: Gotham-Pro-Regular;
	    font-weight: 600;
	    text-transform: uppercase;
	    display: block;
	    line-height: 1;
	    text-align: left;
	}

	.nombre_destacado span {
	    display: block;
	    font-weight: 600;
	    font-size: 8px;
	}

	.datos_destacado_containder {
	    border: solid 1px #7abab7;
	    border-top: 0px;
	    border-radius: 0px 0px 25px 25px;
	    background: #FFF;
	    padding: 5px 5px 0px;
	}

	.destacados_item {
	    text-align: center;
	}

	.destacados_item > a {
	    display: inline-block;
	    padding: 5px;
	    background: #00d2c6;
	    color: #FFF !important;
	    width: 65%;
	    margin: 10px 0px;
	    text-align: center;
	    font-family: Gotham-Pro-Bold;
	    text-decoration: none !important;
	}

	.msg_destacado_containder {
	    padding: 0px 10px 5px 25px;
	    text-align: justify;
		white-space: normal;
		min-height: 50px;
	    font-size: 10px;
	}

	.ranking_destacado {
	    float: right;
	    padding-top: 8px;
	}

	.km-ranking a {
		width: 14px !important;
	    height: 7px !important;
	    background-size: 14px 7px !important;
	    float: right !important;
	    background-image: url(../img/HOME/SVG/WLABEL/calificacion_individual_vacia.svg) !important;
	}

	.km-ranking a.active {
	    background-image: url(../img/HOME/SVG/WLABEL/calificacion_individual.svg) !important;
	}

	.seccion_destacados_flechas{
		position: absolute;
		top: calc( 50% - 25px );
		width: 60px;
		height: auto;
		z-index: 9;
	}

	.seccion_destacados_izq {
		left: -70px;
	}

	.seccion_destacados_der {
		right: -70px;
	}

	.datos_destacado_containder > a {
		display: none;
	}

	#banner_home .seccion_destacados .datos_destacado_containder > a {
		display: block;
	}



	/* Landing C */

		#banner_home .destacados_container {
			background-color: #FFF;
			height: 170px;
			padding: 10px 0px;
		}

		#banner_home .seccion_destacados {
		    margin-left: -50px;
		    width: calc( 100% + 100px );
		    margin-top: 100px;
		}

		#banner_home .destacados_item {
			width: 50%;
		}

		#banner_home .img_destacado {
	        float: right;
		    padding-top: 0px;
		    padding-right: 7px;
		}

		#banner_home .datos_destacado_containder {
		    border-radius: 0px 10px 10px 0px;
		    padding: 5px 5px 0px;

		    width: calc( 100% - 200px );
		    height: 150px;
	    	float: right;
	    	position: relative;
	    	border-top: solid 1px #7abab7;
	    	border-left: 0px; 
		}

		#banner_home .ranking_destacado {
		    float: left;
		    padding-top: 0px;
		    padding-left: 10px;
		}

		#banner_home .nombre_destacado {
		    padding: 4px 0px 0px 10px;
		}

		#banner_home .msg_destacado_containder {
		    padding: 5px 10px 5px 10px;
		    min-height: auto;
		    font-size: 11px;
		}

		#banner_home .datos_top_destacado_containder {
		    padding: 5px 0px 0px;
		}

		#banner_home .seccion_destacados_flechas {
		    top: calc( 50% - 15px );
		    width: 45px;
		}

		#banner_home .nombre_destacado a {
		    font-size: 12px;
		}
		#banner_home .nombre_destacado span {
		    font-size: 10px;
		}

		#banner_home .datos_destacado_containder a.boton.boton_verde {
		    position: absolute;
		    bottom: 6px;
		    padding: 5px 0px;
		    left: 20px;
		    width: calc( 100% - 55px );
		}

		#banner_home .km-ranking a {
		    float: left !important;
		    background-image: url(../img/HOME/SVG/WLABEL/calificacion_individual_vacio_c.svg) !important;
		}

		#banner_home .km-ranking a.active {
		    background-image: url(../img/HOME/SVG/WLABEL/calificacion_individual.svg) !important;
		}

		#banner_home .km-ranking a.no_active {
		    background-image: url(../img/HOME/SVG/WLABEL/calificacion_individual_vacio_c.svg) !important;
		}

		#banner_home.landing_c .banner_txt_1 {
		    padding: 15px 0px 0px;
		    font-size: 22px;
		}

		#banner_home.landing_c .banner_txt_2 {
		   	color: #FFF;
		   	font-size: 35px;
		    padding: 5px 0px 20px;
		    display: inline-block;
		}

/* BENEFICIOS */

	.beneficios_buscar_top,
	.beneficios_banner_movil{
		display: none;
	}

	.beneficios_container {
		padding: 50px;
		text-align: center;
	    margin: 0px auto;
    	max-width: 1150px;
	}

	.beneficios_container h2 {
		color: #000;
		font-weight: 600;
		font-family: Gotham-Pro-Bold;
		text-transform: uppercase;
		font-size: 18px;
	}

	.beneficios_registrar_container .boton{
		padding: 10px 100px;
		text-align: center;
		font-size: 18px;
		font-weight: 600;
		color: #7c169e;
		transition: all .3s ease-in-out;
	}

	.beneficios_registrar_container .boton.boton_border_morado:hover {
	    background: #7c169e;
	    color: #FFF;
	    transition: all .3s ease-in-out;
	}

	.beneficios_registrar_container span{
	    display: block;
	    padding: 30px 0px 60px;
	    color: #777;
	    font-size: 16px;
	}

	.beneficios_detalles{
		padding: 20px 0px;
		display: table;
		width: 100%;
	}

	.beneficios_detalles h2 {
		text-transform: uppercase;
		color: #313131;
		display: table-caption;
		padding-bottom: 20px;
	    font-size: 22px;	    
	}

	.beneficios_detalles .beneficios_detalles_tabla {
		display: table-row;
	}

	.beneficios_detalles .beneficios_detalles_tabla > div {
		display: table-cell;
		vertical-align: top;
		width: 50%;
	}

	.beneficios_detalles_item{
		overflow: hidden;
	    width: 90%;
        padding-bottom: 20px;
	}

	.beneficios_detalles_icon{
		float: left;
		width: 30%;
		text-align: center;
	}

	.beneficios_detalles_icon img{
		width: 50%;
    	margin: 10px 0px;
	}

	.beneficios_detalles_info{
		float: left;
		width: 70%;
		text-align: left;
	}

	.beneficios_detalles_info h3 {
		color: #5d5d5d;
		font-family: Gotham-Pro-Bold,arial,sans-serif;
	    font-size: 16px;
	}

	.beneficios_detalles_info p {
		font-size: 13px;
	    color: #636363;
	}

	.beneficios_servicios_principales{
		border: solid 1px #e6e6e6;
		border-radius: 5px;
	}

	.servicios_principales_box label {
		margin-right: 12px !important;
	}

	.servicios_principales_box > label:nth-child(4) {
		margin-right: 0px !important;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_titulo{
	    border-bottom: solid 1px #e6e6e6;
	    background-color: #f0f0f0;
	    padding: 10px;
	    color: #818181;
	    font-size: 16px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista {
		list-style: none;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista li {
		text-align: left;
		padding: 5px 0px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista li > div {
		display: inline-block;
		vertical-align: top;
		padding: 5px 0px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista img {
	    height: 25px;
	    margin-right: 30px;
	    vertical-align: middle;
	    margin-top: 10px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista p {
		padding: 0px 0px 5px;
		margin: 0px;
		vertical-align: top;
		color: #636363;
		font-size: 13px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista strong {
		font-size: 16px;
		color: #5d5d5d;
	}

	.beneficios_buscar_container {
		display: table;
		width: 100%;
		max-width: 1150px;
		margin-top: 0px;
	}

	.beneficios_buscar_left{
	    display: table-cell;
	    width: 60%;
	    font-size: 17px;
	    color: #3c3c3c;
	    letter-spacing: 0px;
	}

	.beneficios_buscar_right{
		display: table-cell;
		width: 30%;
		text-align: right;
	}

	.beneficios_buscar_right .boton {
	    font-size: 18px;
	    padding: 15px 60px;
	    margin: 0px;
	}

/* TESTIMONIOS */

	.testimonios_container{
		padding: 80px 50px 150px;
	    position: relative;
	    box-shadow: 0px 3px 5px #dedede;
	    overflow: hidden;
	    margin-bottom: 70px;
	}

	.testimonios_container .testimonios_img{
		position: relative;
		background-image: url( ../img/HOME/JPG/Coment-Cuidador.jpg );
		height: 375px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.testimonios_container .testimonios_img span {
	    position: absolute;
	    top: 60px;
	    left: 40px;
	    color: #FFF;
	    font-size: 18px;
	    font-weight: 600;
	    letter-spacing: 2px;
	}

	.testimonios_container .testimonios_item {
	    background-color: #FFF;
	    border-radius: 5px 0px 5px 5px;
	    position: absolute;
	    bottom: 40px;
	    /* bottom: 100px; */
	    left: 200px;
	    height: 280px;
	    width: 300px;
	    box-sizing: border-box;
	    padding: 20px;
	    font-size: 22px;
	    line-height: 1.7;
	    text-align: justify;
	    color: #585858;
	    box-shadow: 1px 1px 2px #CCC;
	    padding: 10px 20px;
	    z-index: 100;
	}

	.testimonios_container .testimonios_item p {
		font-size: 14px;
    	line-height: 1.7;
	}

	.testimonios_container .testimonios_item span {
		position: absolute;
		right: 20px;
		bottom: 10px;
		font-weight: 400;
		font-size: 24px;
	}

	.testimonios_container .testimonios_item:before {
    	content: ' ';
	    position: absolute;
	    top: 0px;
	    right: -20px;
	    width: 0px;
	    height: 0px;
	    border: solid;
	    border-color: #FFF transparent transparent #FFF;
	    border-width: 25px 10px 25px 10px;
	}

	.testimonios_link{
		position: absolute;
		bottom: 85px;
		left: 550px;
		font-size: 20px;
		color: #1696f4;
		border-bottom: solid 1.5px;
		font-weight: 500;
		text-decoration: none !important;
	}

/* PASOS RESERVA */
	
	.pasos_reserva_container {
	    padding: 50px 0px;
	}

	.pasos_reserva_container h2 {
	    display: block;
	    text-transform: uppercase;
	    text-align: center;
	    margin-bottom: 70px;
	    font-size: 18px;
	    color: #000;
	    font-weight: 600;
	    font-family: Gotham-Pro-Bold;
	}

	.pasos_reserva_tabla{
	    display: table;
	    width: 100%;
	    max-width: 1230px;
	    margin: 0px auto;
	    text-align: center;
	}

	.pasos_reserva_row{
		display: table-row;

	}

	.pasos_reserva_celda{
		display: table-cell;
		width: 33.3333333%;
		position: relative;
	}

	.pasos_reserva_celda span {
	    border: solid 2px #00d2c6;
	    padding: 7px 15px;
	    border-radius: 50%;
	    font-size: 22px;
	    color: #00d2c6;
	    font-weight: 600;
	}

	.pasos_reserva_container #paso_1:after {
		content: ' ';
		position: absolute;
		right: 2px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #999;
	}

	.pasos_reserva_container #paso_2:before {
		content: ' ';
		position: absolute;
		left: 0px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #999;
	}

	.pasos_reserva_container #paso_2:after {
		content: ' ';
		position: absolute;
		right: 0px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #999;
	}

	.pasos_reserva_container #paso_3:before {
		content: ' ';
		position: absolute;
		left: 2px;
	    top: 15px;
		width: calc( 50% - 45px );
		height: 0px;
		border-bottom: dotted 2px #999;
	}

	.pasos_reserva_celda img {
	    height: 170px;
   		margin: 30px 0px 5px;
	}

	.pasos_reserva_celda h3 {
	    color: #5d5d5d;
	    font-family: Gotham-Pro-Bold;
	    font-size: 16px;
	}

	.pasos_reserva_celda p {
		font-size: 13px;
    	color: #636363;
    	max-width: 290px;
    	width: 100%;
    	margin: 0px auto;
	}

	.pasos_celda_top,
	.pasos_celda_bottom{
		display: block;
	}

/* CLUB PATITAS FELICES */

	.club_patitas_container_superior{
		padding: 0px 50px 100px;
	}

	.club_patitas_container {
		display: block;
		width: 100%;
		box-sizing: border-box;
		max-width: 1150px;
		margin: 70px auto 15px;
	}

	.club_patitas_container h2 {
		font-family: 'Indie Flower', cursive;
		font-weight: 400;
		font-size: 36px;
		margin: 0px;
	    color: #000;
	}

	.club_patitas_container span {
	    font-weight: 400;
	    font-size: 14px;
	    color: #636363;
	    padding-top: 15px;
	    display: inline-block;
	}

	.club_patitas_container h3 {
		text-transform: uppercase;
		font-size: 20px;
	    color: #7c169e;
	    font-family: Gotham-Pro-Bold;
	}

	.club_patitas_tabla{
		display: table;
		width: 100%;
		box-shadow: 0px 0px 10px #a2a2a2;
		border-radius: 2px;
		padding: 70px;
		box-sizing: border-box;
		overflow: hidden;
	}

	.club_patitas_celda{
		display: table-cell;
		vertical-align: middle;
	}

	.club_patitas_celda.celda_30 {
	    float: right;
	    padding-right: 0px !important;
	}

	.club_patitas_celda.celda_70 {
	    float: left;
	}

	.club_patitas_celda form {
	    padding-top: 25px;
	}

	.club_patitas_celda.celda_30 h2 {
	    display: none;
	}

	.club_patitas_logo{
		display: block;
		width: 80%;
		margin: 20px auto 0px;
	}

	.club_patitas_container input[type='text'],
	.club_patitas_container input[type='email']
	{
		width: 100%;
		border: 0px;
		border-bottom: solid 1px #CCC;
		padding: 10px 0px;
		outline: none;
		display: block;
		font-size: 16px;
	}

	.club_patitas_tabla .club_patitas_tabla{
		display: table;
		width: 100%;
		box-shadow: 0px 0px 0px #a2a2a2;
		border-radius: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

	.club_patitas_celda.celda_70 {
	    width: 55%;
	}

	.club_patitas_celda.celda_30 {
	    width: 45%;
	}

	.club_patitas_tabla .club_patitas_tabla .club_patitas_celda{
		padding-right: 40px;
		box-sizing: border-box;
	}

	.club_patitas_container input[type='submit']{
	    width: 100%;
	    padding: 15px 0px;
	    outline: none;
	    border: 0px;
	    font-size: 18px;
	    font-weight: 600;
	    margin: 0px 0px 5px;
	    text-align: center;
	}

	.club_patitas_container small {
	    display: block;
	    text-align: center;
        color: #636363;
	}

	#cp_loading {
		padding: 5px 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		margin-top: 15px;
		text-align: center;
	}

/* QUIERO SER CUIDADOR */

	.quiero_ser_cuidador_container{
		padding: 0px;
	    position: relative;
	    overflow: hidden;
	    margin-bottom: 70px;
	}

	.quiero_ser_cuidador_container_2{
		display: none;
	}

	.quiero_ser_cuidador_container .quiero_ser_cuidador_img{
		background-image: url( ../img/HOME/JPG/Banner-Conviertete.jpg );
		height: 400px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.quiero_ser_cuidador_container .quiero_ser_cuidador_info {
		position: absolute;
		bottom: 80px;
		right: 150px;
		text-align: right;
	}

	.quiero_ser_cuidador_container h2 {
	    color: #FFF !important;
	    font-size: 26px !important;
	    text-transform: uppercase;
	    margin: 0 0 15px;
	    font-family: Gotham-Pro-Bold;
	    font-weight: 600 !important;
	}

	.quiero_ser_cuidador_container span {
		display: block;		
		color: #FFF;
		font-size: 16px;	
		margin: 0px 0px 70px;
		font-weight: 800;
	}

	.quiero_ser_cuidador_container a {
		margin-top: 20px;
		padding: 15px 80px;
		font-size: 18px;
		font-weight: 500;
		margin: 0px;
	}

/* CONECTATE */

	.conectate_container{

	}

	.conectate_container > h2 {
		text-transform: uppercase;
		display: block;
		text-align: center;
		font-size: 25px;
		color: #000;
		font-weight: 600;
		font-family: Gotham-Pro-Bold;
	}

	.conectate_container > img {
		height: 450px;
		display: block;
		text-align: center;
		border-bottom: solid 1px #CCC;
		margin: 50px auto 50px;
	}

	.conectate_container > span {
		display: block;
		color: #00d2c6;
		text-align: center;
		margin-bottom: 50px;
		font-size: 18px;
	}

	.conectate_container .mensaje_movil {
		display: none;
	}

	.conectate_botones_tabla{
		display: table;
		width: 100%;
		max-width: 600px;
		margin: 0px auto 50px;
	}

	.conectate_botones_celda {
		display: table-cell;
		width: 50%;
		text-align: center;
	}

	.conectate_botones_celda > img{
		height: 60px;
	}

/* ALIADOS */

	.aliados_container{
		width: 100%;
		max-width: 1150px;
		text-align: center;
	    margin: 0px auto 50px;
	}


	.aliados_container img{
		width: 12.5%;
	}

/* MODAL ADICIONALES */

	.modal {
	    background: #0009;
	}
	
	#popup-servicios-new {
		text-align: center;
	}
	#popup-servicios-new h4 {
	    font-size: 18px;
	}
	#popup-servicios-new .modal-dialog {
		width: 100%;
		padding: 10px;
		max-width: 850px;
		box-sizing: border-box;
	}
	#popup-servicios-new .modal-content {
		padding: 20px 35px;
	}
	#popup-servicios-new .km-btn-primary {
		line-height: 18px;
	}
	#popup-servicios-new .km-opcion {
	    padding: 14px 0;
	    min-height: 65px;
	    align-items: center;
	    display: table;
	}
	#popup-servicios-new .km-opcion .km-opcion-text {
	    vertical-align: middle;
	    display: table-cell;
	    padding-left: 15px;
	    font-weight: 500;
	}

	#popup-servicios-new .km-opcion img {
		position: relative;
	    margin-right: 6px;
	    margin-left: 15px;
	    width: 25px;
	    top: 5px!important;
	    vertical-align: middle;
	    display: table-cell;
	}
	#popup-servicios-new .km-opcion img {
	    position: absolute;
	    margin: 0px !important;
	    width: 60px;
	    top: -3px;
	    height: 100%;
	    top: 0px !important;
	    background: #EEE;
	    left: 0px !important;
	    padding: 0px 12px;
	    border-right: solid 1px #e5e5e5;
	}
	#popup-servicios-new .km-servicios-adicionales {
	    margin-top: 15px;
	}
	#popup-servicios-new #buscar {
	    height: 65px;
	    border: 0px;
	    color: #FFF;
	    box-sizing: border-box;
	    padding: 25px 0px;
	}


	#popup-servicios-new .km-opcion input ~ span {
	    display: none;
	}


	#popup-servicios-new .km-opcion input:checked ~ span {
	    display: inline-block;
	    position: absolute;
	    top: -13px;
	    right: -13px;
	    width: 30px;
	    height: 30px;
	    background-image: url(../img/HOME/PNG/check_adicionales.png);
	    border: solid 4px #fff;
	    padding: 3px;
	    background-position: center;
	    background-size: contain;
	    background-repeat: no-repeat;
	}

	a#agregar_servicios {
	    padding: 25px;
	    width: 100%;
	    border-radius: 5px;
	    text-decoration: none !important;
	}

/* HOME 2 */

	.home_2 nav {
	    background: rgb(255, 255, 255);
	}
	
	.home_2 .logo,
	.home_2 .nav_white .logo {
		display: none !important;
	}
	
	.home_2 .logo_verde,
	.home_2 .nav_white .logo_verde {
		display: inline-block !important;
	}

	.home_2 nav .nav_table a {
	    color: #000 !important;
	}

	.home_2 nav .lupa {
	    display: none !important;
	}

	.home_2 nav .lupa_negra,
	.home_2 nav.nav_white .lupa_negra {
	    display: inline-block !important;
	}

	.home_2 .nav > li > a > img {
	    width: 40px;
	    height: 40px;
	}

	.home_2 nav {
	    padding: 10px 50px;
	    box-shadow: 0px 5px 5px #EEE;
	}

	.home_2 nav.nav_white {
		border-bottom: solid 1px #EEE !important;
	    box-shadow: 0px 0px 0px #EEE;
	}

	.home_2 nav .nav_table {
	    margin: 0px auto;
	}

	.menu_horizontal {
		list-style: none;
		display: inline-block;
		padding-right: 15px;
		margin: 0px;
	}

	.menu_horizontal li {
		position: relative;
		color: #000;
		text-align: left;
		display: inline-block;
		padding: 12px 15px 10px;
		cursor: pointer;
	}

	.menu_activo:before{
		content: ' ';
		position: absolute;
		left: 30px;
		bottom: 0px;
		border-bottom: solid 2px purple;
		width: calc( 100% - 60px );
	}

	.mensajes_container{
		position: relative;
		display: inline-block;
	}

	.new_mensaje{
		position: absolute;
		right: -5px;
		top: -5px;
		background-color: red;
		padding: 3px;
		border-radius: 50%;
	}

	/* Carrusel servicios principales */

		.carrusel_servicios {
		    display: block;
		    position: relative;
		    margin: 50px auto 0px;
		    max-width: 1000px;
		}

		.carrusel_servicios_principales_container {
		    display: block;
		    position: relative;
		    overflow: hidden;
		    height: auto;
		    white-space: nowrap;
		}

		.carrusel_servicios_principales_box {
		    white-space: nowrap;
		}

		.carrusel_servicios_principales_item {
		    width: 33.33333334%;
		    display: inline-block;
		    box-sizing: border-box;
		    padding: 5px;
		    white-space: normal;
		    text-align: center;
		    cursor: pointer;
		}

		.carrusel_servicios_principales_img {
		    height: 200px;
		    background-position: center;
		    background-size: cover;
		    background-repeat: no-repeat;
		}

		.carrusel_servicios h2 {
			text-transform: none !important;
			font-size: 18px !important;
			font-weight: 400 !important;
			font-family: Gotham-Pro-Bold !important;
			margin: 0px;
			padding: 0px 0px 20px;
			color: #333 !important;
		}

		.carrusel_servicios_principales_data label {
		    padding: 15px 0px 5px;
		    font-size: 16px;
		}

		.carrusel_servicios_principales_data p {
		    font-size: 13px;
		}

	/* Carrusel recomendados */

		.carrusel_recomendados {
		    display: block;
		    position: relative;
		    margin: 50px auto 0px;
		    max-width: 1000px;
		}

		.carrusel_recomendados_container {
		    display: block;
		    position: relative;
		    overflow: hidden;
		    height: auto;
		    white-space: nowrap;
		}

		.carrusel_recomendados_box {
		    white-space: nowrap;
		}

		.carrusel_recomendados_item {
			display: inline-block !important;
			position: relative;
		    width: 20%;
		    box-sizing: border-box;
		    padding: 5px;
		    white-space: normal;
		    text-align: left;
		}

		.carrusel_recomendados_item > a {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			z-index: 99;
		}

		.carrusel_recomendados_img {
		    height: 120px;
		    background-position: center;
		    background-size: cover;
		    background-repeat: no-repeat;
		    border-radius: 4px;
		}

		.carrusel_recomendados h2 {
			text-transform: none !important;
			font-size: 18px !important;
			font-weight: 400 !important;
			font-family: Gotham-Pro-Bold !important;
			margin: 0px;
			padding: 0px 0px 20px;
			color: #333 !important;
		}

		.carrusel_recomendados_data > span {
			display: inline-block;
		    padding: 10px 0px 0px;
		    font-size: 16px;
		    font-family: Gotham-Pro-Bold;
		    text-transform: uppercase;
		}

		.carrusel_recomendados_experiencia, 
		.carrusel_recomendados_precio {
		    font-weight: 600;
		    padding-bottom: 2px;
		}

		.carrusel_recomendados_experiencia {
		    font-size: 12px;
		}

		.carrusel_recomendados_precio {
		    font-size: 14px;
		}

		.carrusel_recomendados_ranking .km-ranking a {
		    width: 20px !important;
			height: 10px !important;
			background-size: 20px 10px !important;
			float: right !important;
		}

		.carrusel_recomendados_ranking {
		    margin-left: -2px;
		}

		.input_check_box .top_check {
		    top: -1px;
		    left: -1px;
		    width: calc( 100% + 2px );
		    height: calc( 100% + 2px );
		    background-color: transparent;
		    border-radius: 5px;
		    border: solid 2px #00d2c6;
		}

		.seccion_destacados_flechas{
			position: absolute;
			top: calc( 50% - 35px );
			width: 45px;
			height: auto;
			z-index: 99;
			border: solid 1px #CCC;
			padding: 10px 15px;
			background: #FFF;
			cursor: pointer;
		}

		.seccion_destacados_izq {
			left: -20px;
			border-radius: 0px 3px 3px 0px;
		}

		.seccion_destacados_der {
			right: -20px;
			border-radius: 3px 0px 0px 3px;
		}

		.carrusel_recomendados .seccion_destacados_flechas {
			top: calc( 50% - 55px ) !important;
		}

	/* SUSCRIPCION BLOG */

		.suscribir_blog {
			overflow: hidden;
			margin: 0px auto;
			max-width: 1000px;
			padding: 80px 0px 50px;
		}

		.suscribir_blog h2 {
			float: left;
		    width: 50%;
		    font-size: 16px !important;
		}

		.suscribir_blog h2 span {
		    font-size: 11px !important;
		    text-transform: none;
		    font-family: Gotham-Pro-Regular;
		    font-weight: 400;
		    color: #333;
		}

		.suscribir_blog > form {
			float: right;
			width: 50%;
			overflow: hidden;
		}

		form#suscribir input[type="text"] {
		    border: solid 1px #CCC;
		    padding: 7px 10px;
		    border-right: 0px;
		    border-radius: 4px 0px 0px 4px;
		    float: left;
		    width: calc( 100% - 180px );
		}

		form#suscribir input[type="submit"] {
		    border: solid 1px #CCC;
		    padding: 7px 10px;
		    border-left: 0px;
		    border-radius: 0px 4px 4px 0px;
		    float: right;
		    width: 180px;
		    background: #00d2c6;
		    color: #FFF;
		    text-transform: uppercase;
		    font-family: Gotham-Pro-Bold;
		    font-size: 12px;
		    height: 34px;
		}

		.carrusel_recomendados_ubicacion {
		    padding: 0px;
		    text-align: left;
		    font-weight: 600;
		}