/* SECCION 1 */
	
	.pc_seccion_0 {
	    width: 100%;
	    height: 270px;
	    background-size: cover;
	    background-position: center;
	    position: relative;
	    z-index: -1;
	}

/* SECCION 1 */
	.pc_seccion_1_container{
		display: block;
		border-bottom: solid 2px #CCC;
	}

	.pc_seccion_1{
		display: table;
		width: 100%;
		min-height: 200px;
		margin: 0px auto;
		max-width: 1360px;
	}

	.pc_seccion_1 div {
		vertical-align: top;
	}

	/* Avatar */

		.pc_img_container{
			position: relative;
			display: table-cell;
			width: 	250px;
		}

		.pc_img {
		    position: absolute;
		    top: -125px;
		    width: 100%;
		    height: 250px;
		    background-position: center;
		    background-size: cover;
		    background-repeat: no-repeat;
		    border-radius: 4px;
		}
		
		.pc_info_iconos_container{
			display: table;
			width: 100%;
		    margin-bottom: 15px;
	        position: absolute;
    		bottom: 10px;
		}

		.pc_info_iconos{
			display: table-cell;
			vertical-align: top;
		}

		.pc_info_iconos span{
			display: block;
		    border: solid 2px #CCC;
		    border-radius: 3px;
		    background: #EEE;
		    padding: 10px 0px 10px 35px;
		    box-sizing: border-box;
		}

		.icono_flash, .icono_descuento{
			position: relative;
			width: 50px;
		}

		.icono_flash span, .icono_descuento span{
		    display: block;
		    padding: 0px;
		    height: 42px;
			margin-left: 5px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 20px;

		}

		.icono_disponibilidad span{
			background-image: url(../img/BUSQUEDA/SVG/iconos/Disponible.svg);
		    background-position: 11px center;
		    background-repeat: no-repeat;
		    background-size: 15px;
		}

		.icono_flash span{
			background-image: url( ../img/BUSQUEDA/SVG/iconos/Reserva_Inmediata.svg );			
		}

		.icono_descuento span{
			background-image: url( ../img/BUSQUEDA/SVG/iconos/Descuento.svg );
		}

		.ocultar_flash span {
		    background-image: url();
			color: #EEE;
		}

		.ocultar_flash_none, .ocultar_descuento, .ocultar_flash_descuento{
			display: none;
		}

	/* Informacion */
	
		.pc_info_container{
			position: relative;
			display: table-cell;
			width: 	445px;
			padding: 20px 10px 0px 30px;
			box-sizing: border-box;
		}

		.pc_info_container .pc_info_titulo {
			color: #000;
		    font-family: Lato;
		    font-size: 34px;
		    font-weight: 800;
		    margin: 0px;
		}

		.pc_info_experiencia {
		    padding: 5px 0px;
		    font-weight: 600;
		}

		.pc_info_ranking {
			line-height: 0;
		}

		.pc_info_ranking a, .km-comentario a {
		    background-image: url(../img/BUSQUEDA/SVG/Huesito_gris.svg) !important;
		}

		.pc_info_ranking .km-ranking a.active, .km-comentario .km-ranking a.active {
		    background-image: url(../img/BUSQUEDA/SVG/Huesito_azul.svg) !important;
		}

		.pc_info_valoraciones{
		    padding: 5px 0px;
		    font-weight: 600;
		}

		.pc_info_valoraciones a {
		 	color: #098bff;
		 	padding-left: 10px;
		}

		.pc_info_favorito {
			position: absolute;
			top: 20px;
			right: 35px;
			width: 50px;
			border: solid 2px #CCC;
			padding: 10px;
			border-radius: 3px;
		}

		.km-ranking a {
		    width: 20px;
		    height: 12px;
		    background: url(../images/new/icon/icon-hueso.svg) no-repeat center center;
		    background-size: contain;
		}

	/* Galeria */
	
		.pc_galeria_container{
			display: table-cell;
		}

		.pc_galeria_container_interno{
		    margin-left: 60px;
			height: 200px;
			overflow: hidden;
		}
	
		.pc_galeria_box{
			white-space: nowrap;
    		position: relative;
    		padding: 50px 0px;
    		box-sizing: border-box;
    		height: 100%;
		}
	
		.pc_galeria_box .pc_galeria_item {
		    height: 100%;
		    width: calc( 20% - 20px );
		    margin: 0px 8px;
		    display: inline-block;
		    border: solid 2px #FFF;
		}
	
		.pc_galeria_box .pc_galeria_item .pc_galeria_img{
			height: 100%;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		    display: inline-block;
		    width: 100%;
		    border-radius: 5px;
		}

		.ocultar_flash span {
		    background-image: url();
    		color: #EEE;
		}

		.ocultar_flash_none, .ocultar_descuento, .ocultar_flash_descuento{
			display: none;
		}

/* SECCION 2 */

	.pc_seccion_2_container{
		display: block;
	}

	.pc_seccion_2{
		display: table;
		width: 100%;
		min-height: 200px;
		margin: 0px auto;
		max-width: 1360px;
	}

	.pc_seccion_2 div {
		vertical-align: top;
	}

	/* IZQ */

		.pc_seccion_2 .pc_seccion_2_izq {
		    display: table-cell;
	    	width: 350px;
	    	padding: 30px 0px;
		}

		.pc_seccion_2 .pc_seccion_2_izq label {
	        font-size: 20px;
	    	display: block;
	    	padding: 10px 20px 20px;
		}

		.pc_seccion_2 .pc_seccion_2_izq p {
			text-align: justify;
			font-size: 13px;
	    	padding: 0px 20px 10px;
		}

		.pc_seccion_2 .pc_seccion_2_datos {
		    overflow: hidden;
		    padding: 0px 10px;
		}

		.pc_seccion_2 .pc_seccion_2_datos .pc_seccion_2_datos_item {
		    display: inline-block;
			width: calc( 50% - 20px );
			float: left;
			height: auto;
			box-sizing: border-box;
			padding: 20px 0px;
			border: solid 1px #CCC;
			border-radius: 4px;
			margin: 0px 10px 10px;
		}

		.pc_seccion_2 .pc_seccion_2_datos .pc_seccion_2_datos_item > div {
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 40px;
		}

		.pc_seccion_2 .pc_seccion_2_datos .pc_seccion_2_datos_item > span {
			color: #BBB;
			text-align: center;
			display: block;
			font-size: 15px;
		    padding: 15px 0px 0px;
		}

	/* CEN */

		.pc_seccion_2 .pc_seccion_2_cen {
			display: table-cell;
			box-sizing: border-box;
    		padding: 30px 20px;
		}

		.km-tit-ficha {
		    font-size: 22px !important;
		}

		.pc_seccion_2 .pc_seccion_2_cen label {
	        font-size: 20px;
	    	display: block;
	    	padding: 10px 0px 20px;
		}

		.servicios_container {
			
		}

		.servicios_container img {
			height: 40px;
		}

		.servicio_item {
		    border: solid 1px #CCC;
		    padding: 10px 50px 10px 10px;
		    border-radius: 4px;
		    margin-bottom: 15px;
		    cursor: pointer;
		}

		.servicios_container .servicio_table {
		    display: table;
		    width: 100%;
		}

		.servicio_celda {
		    display: table-cell;
		    vertical-align: middle;
		    padding: 10px 0px;
		}

		.servicio_celda span {
		    display: block;
		}

		.servicio_celda small {
		    display: block;
		}

		.servicio_precios {
		    display: none;
		}

		.servicio_celda.servicio_icon {
		    width: 100px;
		    text-align: center;
		}

		.servicio_celda.servicio_titulo {
		    text-align: left;
		}

		.servicio_celda.servicio_titulo span {
		    font-size: 17px;
		    font-weight: 400;
		    text-transform: capitalize;
		}

		.servicio_celda.servicio_titulo small {
		    font-size: 13px;
		    font-weight: 600;
		}

		.servicio_celda.servicio_desde {
		    text-align: right;
		}

		.servicio_celda.servicio_desde small {
		    font-size: 12px;
		    font-weight: 400;
		}

		.servicio_celda.servicio_desde span {
		    font-size: 18px;
		    font-weight: 600;
		}

		.servicio_visible .servicio_item {
			position: relative;
		    background: #f7f7f7;
		    border-radius: 4px 4px 0px 0px;
		}

		.servicio_visible .servicio_item:after {
		    content: ' ';
		    position: absolute;
		    bottom: -47px;
		    left: calc( 50% - -30px );
		    width: 0px;
		    height: 0px;
		    border: solid;
		    border-color: #f7f7f7 transparent transparent transparent;
		    border-width: 24px 24px 24px 24px;
		}

		.servicio_visible .servicio_item:before {
		    content: ' ';
		    position: absolute;
		    bottom: -50px;
		    left: calc( 50% - -30px );
		    width: 0px;
		    height: 0px;
		    border: solid;
		    border-color: #CCC transparent transparent transparent;
		    border-width: 25px 25px 25px 25px;
		}

		.servicio_visible .servicio_precios {
			display: block;
		}

		.servicio_tamanio .servicio_titulo{
		    padding-left: 20px;
		    width: 40%;
		}

		.servicio_tamanio .servicio_icon img{
		    height: 35px;
		}

		.servicio_tamanio .servicio_precio{
		    width: 40%;
		    font-size: 16px;
	        padding: 20px 0px 0px;
		}

		.servicio_tamanio {
		    border-bottom: solid 1px #CCC;
		}

		.servicio_precios .servicio_tamanio:last-child{
		    border-bottom: 0px;
		}

		a.km-btn-comentario {
		    height: auto !important;
		    border: 2px solid black !important;
		    border-radius: 8px !important;
		    line-height: 1 !important;
		    font-family: 'Gotham-Pro-Bold' !important;
		    text-align: center !important;
		    display: block !important;
		    color: black !important;
		    margin: 5px auto !important;
		    max-width: 245px !important;
		    padding: 10px !important;
		}

		.km-review-categoria .col-xs-6 {
		    margin-top: 10px !important;
		    margin: 0px !important;
		    padding: 0px !important;
		    width: 25% !important;
		}

		.row.km-review-categoria {
		    margin: 0px 15px 5px !important;
		}

		.km-comentario .col-xs-2 .km-foto-comentario-cuidador {
		    display: block;
		    margin: 0px auto;
		}

		.km-comentario {
		    margin: 0px 10px;
		    border: solid 1px #CCC !important;
		    border-radius: 3px;
		    margin-bottom: 10px;
		    box-sizing: border-box;
		    padding: 5px;
		    margin-top: 15px !important;
		}

		.km-comentario .col-xs-2 {
		    width: 18%;
		}

		.km-comentario .col-xs-9 {
		    width: 82%;
		}

		.km-comentario .col-xs-9 p {
		    font-size: 13px;
	        line-height: 1.5;
	        font-weight: 600;
		}

		.km-comentario .col-md-12 p {
		    margin: 10px 15px;
		    font-size: 13px;
		}

		.km-review-categoria p {
		    margin-bottom: 3px !important;
		}

		#km-comentario label {
		    padding: 10px 10px 0px;
		}

	/* DER */

		.pc_seccion_2 .pc_seccion_2_der {
			display: table-cell;
	    	width: 350px;
	    	padding: 30px 20px;
		}

		.pc_seccion_2 .pc_seccion_2_der span {
	        font-size: 13px;
	    	display: block;
	    	padding-bottom: 0px;
	    	font-weight: 600;
		}

		.pc_seccion_2 .pc_seccion_2_der label {
	        font-size: 20px;
	    	display: block;
	    	padding-bottom: 0px;
		}

		/* FECHAS */

			.fechas_container{
				display: block;
				width: 100%;
				box-sizing: border-box;
			    margin-right: 0px;
			    margin-bottom: 30px;
			}

			.fechas_container > div {
				position: relative;
				display: block;
				width: 100%;
				margin-bottom: 15px;
			}

			.fechas_container input {
			    width: 100%;
			    border: solid 1px #CCC;
			    height: 50px;
			    border-radius: 5px;
			    box-sizing: border-box;
			    padding: 0px 0px 0px 35px;
			    font-size: 13px;
			    font-family: 'Lato', sans-serif;
			    color: #777;
			    outline: none;
			    background: transparent;
			}

			#desde_container{
			    margin-right: 15px;
			}

			.fechas_container img {
				height: 17px;
			}

			.fechas_container .icon_fecha{
				position: absolute;
				top: 17px;
				cursor: pointer;
				left: 10px;
			}

			.fechas_container small {
			    position: absolute;
			    right: 0px;
			    bottom: 0px;
			    width: auto;
			    display: inline-block;
			    padding: 5px 10px;
			    color: red;
			    display: none;
			}

			.fechas_container .boton {
			    display: block;
			    margin: 0px 0px 10px;
			    text-align: center;
			    font-size: 15px;
			}

		/* MAPA */

			#mapa {
			    width: 100%;
			    height: 300px;
			    margin: 15px 0px;
			}

			#mapa_movil {
			    width: 100%;
			    height: 300px;
			    margin: 15px 0px;
			}

			.mapa a {    
				color: #098bff;
			    font-size: 16px;
			    font-weight: 600;
			    text-decoration: underline;
			}

		.reservar_footer {
		    display: none;
		}