.postbox-container{
	width: 100%!important;
}
.contenedor_widget{
	display: inline-flex;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.contenedor_widget .wbox-full{
	width: 100%;
}
.contenedor_widget .wbox{
	padding: 10px 15px;
	width: 32%;
	border-radius: 5px;
	background-color: #578ebe!important;
	margin: 5px;
	color: #fff;
	text-align: right;
}
.contenedor_widget .wbox:first-child,
.contenedor_widget .wbox:last-child{
	/*padding-left: 0px!important;*/
	/*padding-right: 0px!important;*/
}
.contenedor_widget .wbox .total{
	font-size: 35px;
	font-weight: bold;
	margin: 10px 0px;
}
.contenedor_widget .wbox h2{
	color: #fff;
	/*color: #4f4f4f;*/
	font-size: 13px;
	font-weight: bold;
	margin: 0px 0px; 
	padding: 0px; 
}
.contenedor_widget .wbox h3{
	color: #aaa!important;
	font-size: 11px;
	margin-top: 5px; 
}