*.log
vlz_config.php
wp-config.php
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/index.php
imgs/Temp/


/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
*BK*
/index.php
