#conoce_cuidador .km-datos-mascota {
    line-height: 12px !important;
}

#conoce_cuidador small{
    padding: 5px 0px 0px;
}

.popup-iniciar-sesion-2 {
    text-align: center;
    padding: 10px;
}

.popup-iniciar-sesion-2 img {
    max-width: 100%;
}

.popup-iniciar-sesion-2 h2 {
    padding: 25px 20px 20px;
    margin: 0px;
    color: #000;
    font-size: 29px;
}

.btn_fin_reserva {
    background: #7dd1c4;
    color: #6b1c9b;
    display: block;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    line-height: 55px;
    margin-top: 30px;
    max-width: 500px;
    margin: 0px auto 10px;
}

.km-btn-basic,
.btn_fin_reserva {
    text-decoration: none !important;
}
.disabled {
    cursor: default;
    background: rgba(0, 0, 0, .2) !important;
}

.boton_pdf_conocer{
    color: blue !important;
    border: solid 1px blue;
    padding: 5px 10px 2px;
    border-radius: 3px;
    text-decoration: none !important;
}

.boton_pdf_conocer:hover {
    background: #EEE;
}

.btn_otra_solicitud {
    background: #7dd1c4;
    color: #6b1c9b;
    display: block;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    line-height: 55px;
    margin-top: 30px;
    max-width: 500px;
    margin: 30px auto 40px;
    text-decoration: none;
}

/* PRUEBA B*/

    .conocer_b{
        
    }

    .conocer_b .titulo_b{
        font-size: 14px;
        padding: 25px 30px 10px;
    }

    .conocer_b .titulo_b strong {
        font-family: Gotham-Pro-Black;
    }

    .popup_conocer_b {
        padding: 0px !important;
    }

    .conocer_b ul {
        padding: 0px 60px 10px;
        list-style: none;
    }

    .mensaje_b {
        background: #74cd80;
        color: #FFF !important;
        padding: 15px 30px;
        font-family: Gotham-Pro-Bold;
        font-size: 12px;
    }

    .conocer_b li {
        font-size: 13px;
        line-height: 2;
        border-bottom: solid 1px #000;
        padding: 2px 0px 1px;
    }

    .conocer_b li strong {
        width: 30px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-family: Gotham-Pro-Black;
        line-height: 1;
    }

    .conocer_b li span {
        color: #000000;
        font-family: Gotham-Pro-Black;
    }

    .botones_b {
        text-align: center;
        padding: 20px;
    }

    .botones_b .boton {
        min-width: 200px;
        color: #FFF;
        font-family: Gotham-Pro-Bold;
    }

    .botones_b .boton_izq {
        background-color: #00d2c6;
    }

    .botones_b .boton_der {
        border: solid 1px #00d2c6;
        color: #00d2c6;
    }

    button.cerrar_conocer_b {
        position: absolute !important;
        right: 0px !important;
        top: 0px !important;
        font-size: 25px !important;
        color: #000 !important;
        opacity: 1 !important;
        padding: 5px 10px 1px !important;
        background: #CCC !important;
        border-radius: 0px 5px 0px 0px !important;
    }

    .conocer_b ul li div {
        display: inline-block;
        width: calc( 100% - 50px );
    }

    #popup-conoce-cuidador button.close {
        right: 0px !important;
    }

    .botones_b .boton_izq {
        background-color: #00d2c6;
        border: solid 1px #00d2c6;
    }

    .pre_requisitos {
        padding: 20px 20px 5px;
    }

/* PRUEBA C*/

    .conocer_c{
        
    }

    .conocer_c .titulo_c {
        font-size: 18px;
        padding: 30px 30px 20px;
        background: #eebf31;
        text-align: center;
        color: #FFF;
        border-radius: 5px 5px 0px 0px;
    }

    .conocer_c .titulo_c_2 {
        text-align: center;
        padding: 15px 20px 10px;
        font-size: 14px;
        font-family: Gotham-Pro-Light;
    }

    .conocer_c .titulo_c_3 {
        text-align: center;
        font-size: 18px;
        color: #00d2c6;
        line-height: 1;
        padding: 0px 0px 15px;
    }

    .conocer_c .titulo_c_3 span {
        font-size: 45px;
        font-family: Gotham-Pro-Bold;
    }

    .conocer_c .titulo_c_4 {
        font-size: 13px;
        padding: 15px 60px;
        background: #eebf31;
        text-align: left;
        color: #FFF;
        margin-bottom: 10px;
    }

    .conocer_c .titulo_c strong,
    .conocer_c .titulo_c_2 strong {
        font-family: Gotham-Pro-Light;
    }

    .popup_conocer_c {
        padding: 0px !important;
    }

    .conocer_c ul {
        padding: 5px 60px 10px;
        list-style: none;
    }

    .mensaje_c {
        background: #74cd80;
        color: #FFF !important;
        padding: 15px 30px;
        font-family: Gotham-Pro-Regular;
        font-size: 12px;
    }

    .conocer_c li {
        font-size: 13px;
        line-height: 2;
        border-bottom: solid 1px #b5b5b5;
        padding: 2px 0px 1px;
    }

    .conocer_c li strong {
        width: 30px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-family: Gotham-Pro-Black;
        line-height: 1;
    }

    .conocer_c li span {
        color: #000000;
        font-family: Gotham-Pro-Black;
    }

    .botones_c {
        text-align: center;
        padding: 20px;
        overflow: hidden;
    }

    .botones_c .boton {
        min-width: 200px;
        color: #FFF;
        font-family: Gotham-Pro-Bold;
    }

    .botones_c .boton_izq {
        background-color: #00d2c6;
    }

    .botones_c .boton_der {
        border: solid 1px #00d2c6;
        color: #00d2c6;
    }

    button.cerrar_conocer_c {
        position: absolute !important;
        right: 0px !important;
        top: 0px !important;
        font-size: 25px !important;
        color: #000 !important;
        opacity: 1 !important;
        padding: 5px 10px 1px !important;
        background: #CCC !important;
        border-radius: 0px 5px 0px 0px !important;
    }

    .conocer_c ul li div {
        display: inline-block;
        width: calc( 100% - 50px );
    }

    #popup-conoce-cuidador button.close {
        right: 0px !important;
    }

    .botones_c .boton_izq {
        background-color: #00d2c6;
        border: solid 1px #00d2c6;
    }

    .pre_requisitos {
        padding: 20px 20px 5px;
    }

    .contador_c{
        padding: 15px 0px 0px;
        overflow: hidden;
    }

    .conocer_c .cronometro_descuento_c {
        width: 190px;
        display: block;
        margin: 0px auto;
    }

    .conocer_c .cronometro_descuento_c > div {
        float: left;
        margin: 0px;
        padding: 3px 0px;
        background-color: #FFF;
        font-size: 20px;
        color: #000;
        text-align: center;
        width: 55px;
    }

    .conocer_c .cronometro_descuento_c > span {
        float: left;
        display: inline-block;
        margin: 0px 2px;
        padding: 3px 0px;
        font-size: 20px;
        color: #000;
        font-family: Gotham-Pro-Black;
        padding-left: 2px;
    }

    .conocer_c .cronometro_descuento_c > div span {
        border: solid 1px #000;
        padding: 0px 3px;
        margin: 0px 1px;
        width: 25px;
        display: inline-block;
    }

    div#popup-conoce-cuidador{
        padding-right: 0px !important;
    }

    div#popup-conoce-cuidador .modal-content {
        margin: 75px auto 0px;
    }

    .cerrar_conocer_b {
        right: 5px !important;
    }

    .modal_conocer_c .popup-iniciar-sesion-2 {
        padding: 10px 40px !important;
    }

    .modal_conocer_c .btn_otra_solicitud,
    .modal_conocer_c #te_quedan {
        display: none;
    }