.body-ayuda{
    background: #fff;
    display: flex;
}

.body-ayuda section{
	padding: 15px 0px!important;
}

#ayuda-content{	
    padding-bottom: 50px;
}

.item-container{
	display: table-cell;
	vertical-align: middle;
}

#form-ayuda-detalle{
	margin: 40px 0px 20px;
}

.titulo-principal h3{
	padding-left: 15px;
}


.ayuda-text-icon {
	background-color: transparent!important;
	border-right: 0px solid transparent!important;
}
.ayuda-input{
	padding-left: 0px!important;
	border-left: 0px solid transparent!important;
	border-right: 0px solid	transparent!important;
}

.media{
	margin-top: 35px!important;
	cursor: pointer;
}

.item-container p{
	font-family: 'Gotham-Pro-Light',arial,sans-serif!important;
	font-size: 18px; 
	font-weight: lighter;
	margin-left: 20px;
	line-height: 1.3;
	text-align: left;
}

#sidebar{
	padding: 15px 30px 35px 30px;
	background-color: #e7e7e7;
	display: flex!important;
	vertical-align: middle;
}
.title-category{
	font-family: 'Gotham-Pro-Regular',arial,sans-serif!important;
	font-size: 16px;
	font-weight: bold;
}
.title-post a,
.title-post{
	font-family: 'Gotham-Pro-Light',arial,sans-serif!important;
	font-size: 16px;
}

.text-content {
	margin-left: 40px!important;
}
.text-content p{
	line-height: 23px!important;
	font-size: 16px;
	font-family: 'Gotham-Pro-Light',arial,sans-serif!important;
}

.contacta-con-nosotros{
	color: blue;
}

@media (max-width: 575.98px) {   }

@media (max-width: 767.98px) { 
	.body-ayuda{
		display: inline-block;
	}
	#sidebar{
		padding: 2px 15px;
		background-color: #fff;
		width: 100%;
	}
	.sidebar-content > h3{
		margin-top: 0px; 
		font-size: 18px;
		font-weight: bold;
	}

	.item-container{
		display: inline-block;
	}
	.media-left{
		padding: 5px 2px 15px 2px!important;
	}
	.media{
		width: 50%;
		display: inline-block;
	}
	.item-container p{
		text-align: center;
		font-size: 12px;
		margin-left: 0px;
	}
	.titulo-secundario h3{
		font-size: 15px;
		font-weight: bold;
		text-align: center;
	}
	.titulo-principal h3{
		font-size: 18px;
		font-weight: bold;
	}

	.text-content p{
		margin-left: 0px!important;
	}
}

@media (max-width: 991.98px) {   }

@media (max-width: 1199.98px) {   }
