.favoritos_container{
	overflow: hidden;
}
.favoritos_box{
	float: left;
	width: 33.333333%;
	box-sizing: border-box;
	padding: 0px 5px 10px;
}
.favoritos_item{
	position: relative;
	display: block;
	border: solid 1px #CCC;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 245px;
}
.favoritos_item a.favoritos_content{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: calc( 100% - 30px );
	z-index: 999999999;
}
.vlz_img_portada_perfil {
    height: 150px;
    margin: 8px;
}
.favoritos_data{
    margin: 0px 8px;
    text-align: center;
}
.favoritos_data h3{
    margin: 15px 0px;
}
.favoritos_item a.favoritos_content:hover h3{
	color: #59c9a8;
}

.favoritos_vacio{
	text-align: center;
}
.favoritos_vacio img{
    display: block;
    margin: 0px auto;
}

.km-ranking a {
    background-image: url(../recursos/img/BUSQUEDA/SVG/Huesito_gris.svg) !important;

    width: 20px;
    height: 9px;
    background-size: 20px 9px;
}

.km-ranking a.active {
    background-image: url(../recursos/img/BUSQUEDA/SVG/Huesito_azul.svg) !important;
}

.favoritos_container h1 a {
	font-family: Gotham-Pro-Regular;
	font-size: 15px;
    font-weight: 800;
    display: inline-block;
    padding: 0px 2px;
}

.favoritos_container .experiencia {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 2px;
}

b.precio {
    font-size: 13px;
    padding: 0px 2px;
}

.valoraciones {
	font-size: 11px;
    font-weight: 700;
    padding: 5px 3px 0px;
}

.km-ranking {
    padding: 2px 0px;
}

.km-resultados{
	overflow: hidden;
	padding-top: 65px;
}

.item-favorito{
    width: calc( 25% - 20px );
    float: left;
    margin: 0px 10px 5px;
}

.item-favorito .boton {
    margin: 10px 3px 0px !important;
    padding: 8px 5px 5px !important;
    text-align: center;
    display: block;
    font-weight: 800;
}

.km-contenedor-favorito {
    top: 0 !important;
    right: 8px !important;
    width: 35px !important;
    height: 35px !important;
    background: transparent !important;
}

a.km-foto {
    border-radius: 3px;
    overflow: hidden;
}