.main *{
    font-family: "Roboto Condensed",Arial, Helvetica, sans-serif;
}

.main p,
.main dl{
    margin: 0px;
}

.main p {
    text-align: right;
}

.main dt{
    font-weight: 600;
}

.main h1.titulo {
    margin: 0px 0px 5px;
    color: #59c9a8;
    border-top: solid 2px #59c9a8;
    padding-top: 10px !important;
}

.main .vlz_tabla {
    overflow: hidden;
    box-shadow: 0px 0px 2px #a0a0a0;
    margin: 0px 0px 10px;
}

.main .vlz_tabla .vlz_tabla_superior {
    display: table;
    width: 100%;
    overflow: hidden;
    padding: 10px 0px;
}

.main .vlz_tabla .vlz_tabla_superior > div {
    vertical-align: middle;
}

.main .vlz_tabla .vlz_tabla_superior > div.vlz_celda {
    display: table-cell;
}

.main .vlz_tabla .vlz_tabla_img {    
    width: 100px;
    text-align: center;
}

.main .vlz_tabla .vlz_tabla_img span {  
    display: inline-block;   
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.main .vlz_tabla .vlz_tabla_cuidador {   
    width: calc( 40% - 100px );
}

.main .vlz_tabla .vlz_tabla_cuidador span {     
    font-weight: 600;
    color: #969696;
    padding: 0px;
    display: inline-block;
    font-size: 16px;
}

.main .vlz_tabla .vlz_tabla_cuidador div {     
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.main .vlz_tabla .vlz_tabla_cuidador b {     
    color: #59c9a8;
}

.main .vlz_tabla .vlz_botones {     
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px;
    overflow: hidden;
}

.main .vlz_tabla .vlz_botones span {     
    font-weight: 600;
    color: #59c9a8;
    padding: 0px;
    display: inline-block;
    font-size: 13px;
    padding: 15px;
    border: solid 1px #59c9a8;
    border-radius: 5px;
    margin-left: 5px;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
}

.main .vlz_tabla .vlz_botones span.cancelar {   
    padding: 12px 15px;
}

.main .vlz_tabla .vlz_botones span.cancelar i {    
    font-size: 20px;
}

.main .vlz_tabla .vlz_tabla_inferior {
    margin-left: 100px;
    margin-right: 50px;
    padding: 0px 0px 10px 0px;
    display: none;
}

.main .vlz_tabla .vlz_tabla_inferior .desglose_reserva {
    padding: 15px 0px;
    border-top: solid 1px #969696;
    border-bottom: solid 1px #969696;
    margin-bottom: 15px;
}

.main .vlz_tabla .vlz_tabla_inferior .desglose_reserva .item_desglose {
    overflow: hidden;
}

.main .vlz_tabla .vlz_tabla_inferior .desglose_reserva .vlz_bold {
    font-weight: 600;
}

.main .vlz_tabla .vlz_tabla_inferior .total_reserva {
    overflow: hidden;
    font-weight: 600;
}

.main .vlz_tabla .vlz_tabla_inferior .desglose_reserva .item_desglose div,
.main .vlz_tabla .vlz_tabla_inferior .total_reserva .item_desglose div
 {
    float: left;
}

.main .vlz_tabla .vlz_tabla_inferior .desglose_reserva .item_desglose span,
.main .vlz_tabla .vlz_tabla_inferior .total_reserva .item_desglose span
 {
    float: right;
}

.main .vlz_tabla .ver_reserva_botones{
    overflow: hidden;
    padding-top: 15px;
}

.main .vlz_tabla .ver_reserva_botones span{
    font-weight: 600;
    color: #59c9a8;
    padding: 0px;
    display: inline-block;
    font-size: 11px;
    padding: 8px 10px;
    border: solid 1px #59c9a8;
    border-radius: 5px;
    margin-left: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.main .vlz_tabla .ver_reserva_botones span i {
    font-size: 15px;
    padding-right: 5px;
}

.main .vlz_tabla .ver_reserva_botones .cancelar{
    float: left;
}

.main .vlz_tabla .ver_reserva_botones .pdf{
    float: right;
}

.main .vlz_tabla .vlz_cerrar {
    position: relative;
    display: none;
}

.main .vlz_tabla .vlz_cerrar i {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.main .vlz_tabla .boton_fuera {
    display: none !important;
    width: 100% !important;
    display: block;
}

.main .vlz_tabla .boton_fuera span {
    padding: 10px;
    display: block;
    float: none;
    margin-bottom: 10px;
}