.row_3 section{
	width: 33.33333333%;
}

.vlz_check, .vlz_no_check{
    width: calc( 33.3333333% - 7px ) !important;
    display: inline-block !important;
    margin: 3px 3px 0px;
}

#otras_opciones{
	display: none;
}

.error_seleccionar_uno{
    color: red;
    border: solid 1px red;
    padding: 5px;
    margin: 0px 7px;
    border-radius: 3px;
}

.no_error{
	display: none;
}