/* New */

.km-input-custom {
    border-bottom: solid 1px #CCC !important;
    padding: 10px 20px !important;
    text-align: left;
    box-sizing: border-box;
    width: 100% !important;
    cursor: pointer;
}

.input_fechas_box{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0px 10px;
}

#fechas_container input{
    text-align: center;
}

.titulos_inputs{
    border-bottom: solid 3px #CCC;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 5px 3px;
    margin: 10px;
}

.inputs_container{
    overflow: hidden;
}

.bg-white-secondary{
    background-color:#fff;
    box-shadow:0 4px 4px rgba(0,0,0,.25);
    transition:background-color .5s ease 0s;
    height: 100px;
}

.bg-white-secondary a{
    color: #000 !important;
}

.invalido {
    display: none;
    background: #ff8300;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
}

.km-quantity-height .km-height{
    overflow: hidden;
}

.km-quantity-height .km-height span{
    float: right;
    font-weight: 600;
}

#step_1{
    display: block;
}

#step_2,
#step_3
{
   display: none;
}

#reserva_btn_next_2{
    cursor: pointer;
}

.expiration{
    width: calc( 50% - 10px ) !important;
    margin: 0px 4px;
    text-align: center;
}

.errores_box{
    display: none;
    border-top: solid 2px orange;
    border-bottom: solid 2px orange;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.metodos_container {
    border: solid 1px #EEE;
    border-radius: 5px;
    padding: 20px 20px 5px;
}

div#tienda_box {
    text-align: center;
    display: none;
}

div#tienda_box img {
    width: 90%;
    margin-bottom: 15px;
}

.km-cupones{
    overflow: hidden;
    margin-top: 20px;
}

.km-cupones > div {
    display: inline-block;
    width: 50%;
    float: left;
    height: 40px;
}

.km-cupones input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 3px 0px 0px 3px;
    border: solid 1px #5fc4b0;
}

.km-cupones span{
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #5fc4b0;
    color: #FFF;
    height: 100%;
    padding: 10px;
    border-radius: 0px 3px 3px 0px;
    border: solid 1px #5fc4b0;
    border-left: 0;
}

.cupones_desglose{
    display: none;
}

.atras{
    border: solid 1px #CCC;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    float: left;
}

.km-info{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 36px !important;
    cursor: pointer;
    color: #000 !important;
}

.km-info:hover{
    color: #2196F3 !important;
}

.km-info-box{
    position: absolute;
    top: 40px;
    right: 20px;
    border: solid 1px #CCC;
    max-width: 400px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    background: #FFF;
    text-align: justify;
    margin-left: 20px;
}
.km-info-box div{
    overflow: hidden;
}
.km-info-box small{
    display: block;
    margin-top: 5px;
}

.km-info-inactive{
    padding: 0px;
}

.km-info-inactive div{
    display: none;
}