/* New */

.modal_20_porciento{
    position: absolute;
    z-index: 9999999;
    background: #FFF;
    width: calc( 100% - 140px );
    left: 70px;
    box-sizing: border-box;
    padding: 40px 50px;
    font-size: 20px;
    border: solid 2px #ff9b42;
    border-radius: 20px;

    display: none;
}

.modal_20_porciento i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.msg_bloqueador_no_valido{
    margin: 15px 0px 0px;
    padding: 10px;
    background: #ff8300;
    color: #FFF;
    border-radius: 5px;
    font-size: 17px;
}

.msg_bloqueador_no_valido ul li{
    list-style: initial;
    margin-left: 30px;
}

.msg_mismo_dia{
    margin: 15px 0px 0px;
    padding: 10px;
    background: #ff8300;
    color: #FFF;
    border-radius: 5px;
}

.vlz_bloquear_msg_madrugada{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0px 0px;
}

.vlz_bloquear_msg_madrugada img {
    width: 100%;
}

.bloquear_madrugada{
    display: none;
}

.vlz_NO_bloquear_msg_madrugada{
    display: none;
}

.km-input-custom {
    border-bottom: solid 1px #CCC !important;
    padding: 10px 20px !important;
    text-align: left;
    box-sizing: border-box;
    width: 100% !important;
    cursor: pointer;
}

.input_fechas_box{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0px 10px;
}

#fechas_container input{
    text-align: center;
}

.titulos_inputs{
    border-bottom: solid 3px #CCC;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 5px 3px;
    margin: 10px;
}

.inputs_container{
    overflow: hidden;
}

.bg-white-secondary a{
    color: #000 !important;
}

.invalido {
    display: none;
    background: #ff8300;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
}

.km-quantity-height .km-height{
    overflow: hidden;
}

.km-quantity-height .km-height span{
    float: right;
    font-weight: 600;
}

#step_1{
    display: block;
}

#step_2,
#step_3
{
   display: none;
}

#reserva_btn_next_2{
    cursor: pointer;
}

.expiration{
    width: calc( 50% - 10px ) !important;
    margin: 0px 4px;
    text-align: center;
}

.errores_box{
    display: none;
    border-top: solid 2px orange;
    border-bottom: solid 2px orange;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.metodos_container {
    border: solid 1px #EEE;
    border-radius: 5px;
    padding: 20px 20px 5px;
}

div#tienda_box {
    text-align: center;
    display: none;
}

div#tienda_box img {
    width: 90%;
    margin-bottom: 15px;
}

.km-cupones{
    overflow: hidden;
    /*margin-top: 20px;*/
}

.km-cupones > div {
    display: inline-block;
    width: 50%;
    float: left;
    height: 60px;
}

.km-cupones input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px 0px 0px 3px;
    border: solid 1px #5fc4b0;
    font-size: 17px;
}

.km-cupones span{
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #5fc4b0;
    color: #FFF;
    height: 100%;
    padding: 17px 10px;
    border-radius: 0px 3px 3px 0px;
    border: solid 1px #5fc4b0;
    border-left: 0;
    font-size: 17px;
}

.cupones_desglose{
    display: none;
}

.atras{
    border: solid 1px #CCC;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    float: left;
}

.km-info{
    font-size: 25px !important;
    cursor: pointer;
    color: #000 !important;
}

.km-info:hover{
    color: #2196F3 !important;
}

.km-info-box{
    position: relative;
    font-size: 16px;
    line-height: 20px;
    background: #FFF;
    text-align: center;
    max-width: 400px;
    margin: 0px auto;
}
.km-info-box .km-info ~ div{
    display: none;
}
.km-info-box .km-info:hover ~ div,
.km-info-box .km-info ~ div:hover{
    display: block;
    overflow: hidden;
    text-transform: none;
    line-height: 16px;
    border: solid 1px #CCC;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    background: #FFF;
    top: 25px;
    z-index: 0;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
}

.km-info-box small{
    display: block;
}

.km-info-inactive{
    padding: 0px;
}

.btn_modificar{
    position: fixed;
    display: inline-block;
    left: 50px;
    bottom: 50px;
    padding: 8px 15px;
    font-size: 20px;
    font-family: Roboto;
    z-index: 999999999999999999;
    color: #FFF;
    border: solid 1px #7b7b7b;
    text-decoration: none !important;
}

.page-reservation .km-end-btn-form.disabled {
    position: relative;
}

.page-reservation .km-end-btn-form.cargando {
    background: rgba(151, 151, 151, .3);
    color: #000;
}

.perfil_cargando {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    top: 15px;
    right: 15px;
}

.page-reservation .km-end-btn-form.cargando .perfil_cargando {
    display: block !important;
}

.km-ficha-fechas .listas_check {
    width: calc( 50% - 2px );
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin: 0;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
}

.km-ficha-fechas .listas_check select{
    border: 1px solid #FFF;
    margin: 0;
    display: inline-block;
    font-size: 16px;
    padding: 0px;
    background: white;
    width: 100%;
}

/* FLASH */

    .vlz_bloquear{
        display: none;
    }

    .vlz_NO_bloquear_msg{
        display: none;
    }

    .vlz_bloquear_msg{
        border: solid 2px #d06314;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        padding: 20px;
        margin: 20px 0px 0px;
        border-radius: 35px;
    }

    .vlz_bloquear_msg a{
        color: #FFF;
        font-weight: 600;
    }

    .alerta_flash {
        text-align: center;
        color: #000;
        font-family: 'Lato';
    }

    .alerta_flash_importante{
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: left 7px;
        background-image: url(../images/alerta_flash/advertencia_flash.png);
        padding: 3px 0px 0px 35px;
        display: inline-block;
        font-weight: 800;
        font-size: 25px;
        vertical-align: top;
    }

    .alerta_flash_mensaje {
        font-size: 13px;
        color: #d06314;
        margin: 10px 0px;
    }

    .alerta_flash_pasos {
        overflow: hidden;
    }

    .alerta_flash_paso {
        float: left;
        width: 33.33333333%;
    }

    .alerta_flash_paso_titulo {
        font-size: 15px;
        color: #d06314;
        font-weight: 600;
    }

    .alerta_flash_paso_img {
        box-sizing: border-box;
        padding: 5px;
    }

    .alerta_flash_paso_img img {
        max-width: 100px;
        width: 100%;
    }

    .alerta_flash_paso_txt {
        font-size: 14px;
        color: #777;
        font-weight: 600;
        line-height: normal;
        padding: 3px;
    }

.bloquear_gatos.km-quantity-height * {
    color: #9e9e9e !important;
}