.page-reservation .km-sub-title-step {
    padding: 30px 0px 0px;
}

.page-reservation .km-content-step {
    padding: 0px 0 17px 0;
}

.km-tab-content {
    padding-right: 35px;
}

span#reserva_btn_next_3 {
    margin-right: 35px;
}