#perfil-img-a{
	display: inline-block;
	width: 150px;
    height: 150px;
    margin-bottom: 0px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_registro_cliente #rotar_i {
    left: -15px !important;
}

.img_registro_cliente #rotar_d {
    right: -15px !important;
}

.img_registro_cliente .btn_rotar {
    top: 110px !important;
}

.img_registro_cliente .btn_aplicar_rotar {
    margin: 5px 0px 10px !important;
}

#loading-perfil{
	display: none;
}

#loading-perfil,
#loading-perfil img
{
	width:100%; 
	height: 100%;
}

button.close {
    z-index: 9999999;
}

.fecha_placeholder label {
    top: 12px !important;
    font-size: 11px !important;
}

.select_tipo_doc {
    width: 100%;
    margin-top: 10px;
    border: 0px;
    border-bottom: solid 1px #e5e5e5;
    padding: 0px 5px;
    border-radius: 0px;
}

.popup-registro-exitoso, .popup-registro-exitoso-final {
    background: url(../images/new/km-registro/registro-exitoso.jpg) no-repeat;
    height: auto;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 10px;
}

.popup-registro-exitoso-text {
    padding: 0px 10px 0px;
}

.popup-registro-exitoso-text p {
    line-height: 100% !important;

}

@media ( max-width: 600px ){
    .popup-registro-exitoso-text aside p {
        font-size: 15px !important;
    }
}