*.log
vlz_config.php
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/languages/
wp-content/ngg_styles/
wp-content/index.php
imgs/Temp/

wp-content/themes/kmimos/admin_2/campaing/files/*

apk/
/app/
movil/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
vlz_config.php
panel/Backup_index.php
wp-content/plugins/kmimos/subscribe/subscription.csv

Respaldo*
monitor/DB/
monitor/servicios_old/
monitor/recursos - Sucursales/
/index.php
wp-content/plugins/rvcfdi-para-woocommerce/
wp-content/themes/kmimos/lib/openpay/

reportes/excels/*
