@media (min-width: 768px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){

	nav .nav_table {
	    padding: 0px 5px;
	}

	td.nav_left .boton {
	    display: none;
	}

	.logo {
	    height: 30px;
	}

	.solo_movil {
	    display: block !important;;
	}

	.solo_pc {
	    display: none !important;;
	}

	nav {
	    background: rgba(0,0,0,0);
	}
	
	td.nav_right img {
	    height: 28px;
	}

	td.nav_right > a {
		color: #000;
		padding: 0px 0px 5px 0px;
		font-size: 13px;
	}

	footer {
	    padding: 15px 5px 30px;
	}

	.siguenos_alto{
		display: none;
	}

	.footer_alto > div > div {
	    display: inline-block;
	    width: 50%;
	    vertical-align: top;
	    font-size: 12px;
        padding: 0px 5px;
	}

	.footer_alto_col_1 {
	    width: 100% !important;
	}

	.siguenos_bajo{
		display: inline-block !important;
	}

}

@media (max-width: 480px){

}

@media (max-width: 350px){
    
}