@media (min-width: 600px){
	/* POPUP */

		#PageSubscribe_NEW {
		    position: relative;
		    max-width: 700px;
		    margin: 0 auto;
		    padding: 0px;
		    top: auto;
		    border-radius: 10px;
		    background: #ffffff;
		    overflow: hidden;
		    border: solid 1px #777;
		    height: 280px;
		}

		#PageSubscribe_NEW .section_1 {
			margin-bottom: 35px;
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 100;
			background: #FFF;
			margin: 0px;
			height: 100%;
			width: 70%;
		}
		
		#PageSubscribe_NEW i.exit.fa.fa-times {
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    font-size: 20px;
		    color: #a1a1a1;
		    padding: 8px;
		    background: #EEE;
		    cursor: pointer;
		    z-index: 10;
		}
		
		#PageSubscribe_NEW h2 {
		    color: #444;
		    text-align: left;
		    text-transform: uppercase;
		    font-family: Gotham-Pro-Bold;
		    font-weight: 800;
		    padding: 25px 25px 0px;
		    font-size: 30px !important;
		}
		
		#PageSubscribe_NEW p {
		    color: #000;
		    text-align: left;
		    font-size: 20px;
		    margin: 0px 25px 15px;
		}
		
		#PageSubscribe_NEW p.p_1 {
			color: #555;
		}
		
		#PageSubscribe_NEW p.p_2 {
			font-size: 11px;
	    	color: #777;
	    	margin: 0px 25px 0px;
		}
		
		#PageSubscribe_NEW .section_2 {
		    position: absolute;
		    bottom: 55px;
		    left: 0px;
		    width: 70%;
		    z-index: 999999;
		}
		
		#PageSubscribe_NEW .section_2 > div.img_banner {
			display: none;
		}
		
		#PageSubscribe_NEW .section_2 .msg_footer {
			text-align: center;
			color: #000;
		}
		
		#PageSubscribe_NEW div.img_banner_pc {
			position: absolute;
			top: 0px;
			right: -1px;
			width: 30%;
		   	height: 100%;
		   	background-repeat: no-repeat;
		   	background-size: cover;
		   	background-position: center;
		}
		
		#PageSubscribe_NEW .section_3 {
			text-align: center;
			color: #333;
			font-weight: 600;
			position: absolute;
			width: 70%;
			box-sizing: border-box;
			padding: 15px;
			bottom: 5px;
			background: #FFF;
			z-index: 1000;
		}
		
		#PageSubscribe_NEW form {
		    margin: 0px 25px;
		    position: relative;
		    top: auto;
		}
		
		#PageSubscribe_NEW input#mail_suscripcion {
		    width: 60%;
		    padding: 10px;
		    border: solid 1px #CCC;
		    border-right: 0px;
		    border-radius: 3px 0px 0px 3px;
		    color: #000;
		    display: inline-block;
		}
		
		#PageSubscribe_NEW button {
		    width: 39%;
		    padding: 10px;
		    border: solid 1px #00d2c6;
		    border-left: 0px;
		    border-radius: 0px 3px 3px 0px;
		    background: #00d2c6;
		    display: inline-block;
		    position: relative;
	    	right: 2px;
		}
			
		#PageSubscribe_NEW img {
		    width: 100%;
		}

		#message.Msubscribe {
	        height: 100vh; !important;
		    overflow: auto !important;
		}

		#message.Msubscribe .contain {
			display: table;
			width: 100%;
			height: 100%;
		}

		#message.Msubscribe .contain > div {
		    display: table-cell;
		    vertical-align: middle;
		}

		#PageSubscribe_NEW .message {
		    text-shadow: 0px 0px 1px #000;
		    background: #00000099;
		    border-radius: 2px;
		    margin-top: 3px;
		    padding: 4px;
		    transition: all .5s ease-in-out;
		    position: absolute;
		    font-size: 12px;
		    opacity: 0;
		}

		#PageSubscribe_NEW .message.show {
		    opacity: 1;
		}

}

@media (min-width: 768px){
	#PageSubscribe_NEW button:hover,
	.boton_buscar_container .boton_buscar:hover,
	.beneficios_buscar_right .boton:hover,
	.quiero_ser_cuidador_container a:hover,
	a#agregar_servicios:hover {
	    background: #49eada;
	    text-decoration: none;
	    color: #FFF !important;
	}
}

@media (max-width: 768px){

	#buscador .solo_movil .boton_border_morado{
		width: 100%;
		max-width: 180px;
		font-weight: 600;
		color: #7c169e;
		margin-bottom: 20px;
		font-size: 15px;
	}

	#banner_home {
	    background-image: '';
	    height: 270px;
	    padding: 0px;
	}

	.banner_home {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 0px 50px;
		display: table;
		width: 100%;
		box-sizing: border-box;
	    background-image: url(../../img/HOME/RESPONSIVE/PNG/Principal.png);
	    height: 270px;
	    padding: 0px;
	}

	#banner_home #buscador {
		margin: -30px 0px 0px;
		border-radius: 30px 30px 0px 0px;
		box-shadow: 0px 0px 0px #6d6d6d;
		padding: 30px 0px 10px;
		box-sizing: border-box;
		width: 100%;
		position: relative
	}

	#buscador .banner_txt_1, 
	#buscador .banner_txt_2 {
	    display: block;
	}

	#buscador .banner_txt_1 {
		font-size: 14px;
		text-transform: none;
		max-width: 325px;
		margin: 0px auto;
		padding: 0px;
	}

	#buscador .banner_txt_2 {
		font-size: 12px;
		font-weight: 400;
		padding: 15px 0px;
		font-family: 'Gotham-Pro-Regular', arial, sans-serif;
	}

	#buscador .banner_txt_3 {
	    font-size: 13px;
	    font-weight: 600;
	    padding: 15px 0px;
	    text-align: left;
	    display: block;
	}

	.servicios_principales_container {
	    overflow: hidden;
        width: calc( 100% - 20px );
	    position: relative;
	    margin-left: 10px;
	    padding: 0px 0px 10px;
	}

	.error_principales{
	    bottom: -12px;
	}

	.servicios_principales_box{
	    white-space: nowrap;
	    position: relative;
	}

	.servicios_principales_container .input_check_box {
		padding: 0px;
		width: calc( 34% - 12px );
		height: auto;
	}

	.servicios_principales_container .input_check_box img {
	    height: auto;
	    margin: 0px;
	    width: 100%;
	}

	.servicios_principales_container .input_check_box span {
   		color: #828282;
	    font-size: 13px;
	    padding: 6px 0px;
	    display: inline-block;
	}

	.servicios_principales_container .input_check_box .top_check {    
		top: -1px;
    	left: -1px;
	    width: calc( 100% + 2px );
    	height: calc( 100% + 2px );
	    background-color: transparent;
	    border-radius: 5px;
	    border: solid 2px #00d2c6;
	}

	#servicios_principales_container {
	    position: relative;
        width: calc( 100vw - 20px );
        width: 100vw;
	    overflow: hidden;
	    display: inline-block;
	}

	#servicios_principales_container img.Flechas {
		display: inline-block;
	    position: absolute;
	    top: 40px;
	    height: 38px;
	    z-index: 100;
	    padding: 12px;
	    border: solid 1px #CCC;
	    background: #FFF;
	}

	#servicios_principales_container .Flecha_Izquierda {
	    left: -1px;
        border-radius: 0px 3px 3px 0px;
	}

	#servicios_principales_container .Flecha_Derecha {
        right: -1px !important;
    	left: auto !important;
	    border-radius: 3px 0px 0px 3px;
	}

	.tipo_mascota_container .input_check_box span {
	    font-size: 13px;
	}

	.tipo_mascota_container .input_check_box img {
	    display: inline-block;
	    margin: 11px 20px 11px 0px;
	    height: 22px;
	}

	.ubicacion_container {
	    position: relative;
	    display: block;
	    width: 100%;
	    box-sizing: border-box;
	    margin-right: 10px;
	    margin-bottom: 15px;
	}

	.ubicacion_container input {
	    width: calc( 100% - 5px );
	}

	.tipo_mascota_container {
	    display: block;
	    width: 100%;
	    box-sizing: border-box;
	    margin-right: 0px;
	    vertical-align: top;
	    margin-bottom: 15px;
	}

	.tipo_mascota_container .input_check_box {
	    width: calc( 50% - 10px );
	    height: auto;
	}

	.fechas_container {
	    display: block;
	    width: 100%;
	}

	img.icon_flecha_fecha {
	    top: 13px;
	}

	.tamanios_container {
	    display: block;
	    width: calc( 100% - 10px );
	    box-sizing: border-box;
	    margin-right: 10px;
	    padding-left: 10px;
	    overflow: hidden;
	    margin-bottom: 15px;
	}

	.controles_mitad_container {
	    padding: 0px 10px;
	}

	.tam_label_pc{
		display: none;
	}

	.tam_label_movil{
		display: block;
	}

	.tamanios_container .input_check_box {
        padding: 10px 0px;
	    width: calc( 25% - 4px );
    	margin-right: 5px;
    	height: 70px;
	}

	.tamanios_container .input_check_box span {
	    font-size: 12px;
	}

	.tamanios_container .input_check_box img {
		display: inline-block;
        height: 19px;
    	margin: 0px auto 2px;
	}

	.boton_buscar_container {
	    width: 100%;
	    padding-right: 0px;
	    max-width: 300px;
        margin: 0px 0px 10px;
	}

	.boton_buscar_container .boton_buscar {
	    font-size: 20px;
	    padding: 15px 0px;
	    height: auto;
	}

/* DESTACADOS */
	
	.destacados_container{
		display: block;
	    width: calc( 100% - 10px );
	    height: auto;
	}

	.destacados_box{
		display: block;
		width: 100%;
	}

	.destacados_item{
		width: 50%;
    	padding: 0px 4px;
	}

	.destacados_item > a {
	    width: 85%;
    	font-size: 9px;
	}

	.seccion_destacados_flechas {
	    width: 40px;
	    top: calc( 50% - 80px );
	    display: none;
	}

	.seccion_destacados_izq {
	    left: -45px;
	}

	.seccion_destacados_der {
	    right: -45px;
	}

	.img_destacado {
	    height: 100px;
	}

	.avatar_destacado {
	    height: 20px;
	    width: 20px;
	}

	.datos_destacado_containder {
	    border-radius: 0px 0px 15px 15px;
	    padding: 5px 5px 0px;
	}

	.datos_top_destacado_containder {
	    padding: 0px;
	    overflow: hidden;
	    position: relative;
	}

	.ubicacion_destacado_containder {
	    font-size: 8px;
	    padding: 0px 0px 2px;
	    text-align: left;
	}

	#banner_home .ubicacion_destacado_containder {
	    font-size: 8px !important;
	    padding: 2px 0px !important;
	}

	.nombre_destacado a {
	    font-size: 8px;
	    font-weight: 400;
	}

	.nombre_destacado span {
	    font-size: 7px;
	    font-weight: 400;
	}

	.km-ranking a {
	    width: 12px !important;
	    height: 6px !important;
	    background-size: 10px 6px !important;
	}

	.ranking_destacado {
	    float: none;
	    padding-top: 0px;
	    position: absolute;
	    top: -2px;
	    right: -2px;
	    white-space: normal;
    	overflow: hidden;
	}

	#banner_home .ranking_destacado {
	    padding-right: 0px;
	}

	.msg_destacado_containder {
		padding: 0px 0px 5px 0px;
		text-align: justify;
		white-space: normal;
		min-height: 35px;
		font-size: 8px;
		line-height: 1.2;
	}

	.seccion_destacados h2 {
	    margin: 20px auto;
	    font-size: 20px !important;
	    font-size: 11px !important;
	}

	.datos_destacado_containder > a.boton.boton_verde {
		display: block;
	    padding: 3px 0px 2px;
	    font-size: 9px;
	    margin-bottom: 5px;
	}

	.destacados_item > a {
		display: none;
	}

	.controles_movil{
		text-align: center;
		padding: 10px 0px 0px;
		margin: 0px;
	}

	.controles_movil > span {
	    padding: 5px;
	    border: solid 1px #00d2c6;
	    display: inline-block;
	    margin: 0px 3px;
	    border-radius: 50%;
	}

	.controles_movil > span.active {
	    background-color: #00d2c6;
	}

	/* Landing C */

		#banner_home.landing_c .banner_txt_2 {
		    display: none;
		}

		#banner_home.landing_c .banner_txt_1 {
		    font-size: 12px;
		}

		#banner_home .seccion_destacados {
		    margin-left: 0px;
		    width: 100%;
		    margin-top: 0px;
		}

		#banner_home .seccion_destacados .destacados_container {
		    display: block;
		    width: 300px;
		    height: auto;
		}

		#banner_home .nombre_destacado {
		    padding: 4px 0px 0px 5px;
		}

		#banner_home .seccion_destacados .img_destacado {
		    height: 100px;
		    width: 100%;
		    float: none;
		}

		#banner_home .seccion_destacados .datos_destacado_containder {
		    border-radius: 0px 0px 10px 10px;
		    padding: 5px 5px 0px;
		    width: 100%;
		    height: 105px;
		    float: none;
		    position: relative;
		    border-top: 0px;
		    border-left: solid 1px #7abab7;
		}

		#banner_home .seccion_destacados .msg_destacado_containder,
		#banner_home .seccion_destacados .nombre_destacado a,
		#banner_home .seccion_destacados .nombre_destacado span {
		    font-size: 7px;
		}

		#banner_home .msg_destacado_containder {
		    padding: 1px 0px 5px 0px;
		}
		#banner_home .seccion_destacados .datos_top_destacado_containder {
		    padding: 0px;
		}

		#banner_home .seccion_destacados .datos_destacado_containder a.boton.boton_verde {
		    bottom: 0px;
		    padding: 5px 0px;
		    left: 20px;
		    width: calc( 100% - 55px );
		}

		#banner_home .banner_txt_0 {
		    font-weight: 600;
		    font-size: 13px;
		    font-family: Gotham-Pro-Bold;
		}

		#banner_home .banner_txt_0 span {
		    color: #00d2c6;
		}


/* BENEFICIOS */

	.pasos_reserva_container {
	    padding: 30px 0px;
	}

	.beneficios_container {
	    padding: 0px;
	}

	.beneficios_buscar_top{
		display: block;
		padding: 30px;
	    background: #f2f2f2;
	    font-size: 14px;
	}

	.beneficios_registrar_container{
		display: none;
	}

	.beneficios_container > h2 {
	    text-transform: none;
	    font-size: 15px !important;
	    padding: 20px;
	}

	.beneficios_banner_movil{
		display: block;
		margin: 0px auto 20px;
		width: 90%;
	}

	.beneficios_detalles .beneficios_detalles_tabla > div {
	    display: block;
	    vertical-align: top;
	    padding: 0px 15px;
	    width: auto;
	}

	.beneficios_detalles_info h3 {
	    color: #000;
	    font-size: 14px;
	    margin: 5px 0px;
	}

	.beneficios_detalles_info p {
	    font-size: 10px;
	    text-align: justify;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista li > div {
	    vertical-align: middle;
	    max-width: 85%;
    	text-align: justify;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_titulo {
	    font-size: 15px;
	    color: #000;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista {
	    padding: 0px 20px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista img {
	    height: 20px;
	    margin-right: 10px;
	    vertical-align: top;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista strong {
	    font-size: 15px;
	    color: #000;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista p {
	    font-size: 12px;
	}

	.beneficios_servicios_principales .beneficios_servicios_principales_lista li {
	    padding: 0px;
	}

	.beneficios_buscar_container {
	    margin-top: 10px;
	}

	.beneficios_buscar_left {
	    display: none;
	}

	.beneficios_buscar_right {
	    display: block;
	    width: auto;
	    text-align: center;
	}

	.beneficios_buscar_right .boton {
	    font-size: 16px;
	    padding: 10px 65px;
	    margin: 0px;
	}

	.testimonios_container {
	    padding: 20px 20px 60px;
	    position: relative;
	    box-shadow: 0px 3px 5px #dedede;
	    overflow: hidden;
	    margin: 30px 0px 0px;
	    background: #f2f2f2;
	}

	.testimonios_container .testimonios_img {
	    background-image: url(../../img/HOME/RESPONSIVE/PNG/Coment-Cuidador.png);
	    height: 130px;
        position: relative;
	}

	.testimonios_container .testimonios_item {
	    background-color: #FFF;
	    border-radius: 5px 5px 0px 0px;
	    position: relative;
	    bottom: auto;
	    left: auto;
	    height: auto;
	    width: 100%;
	    box-sizing: border-box;
	    padding: 20px;
	    font-size: 13px;
	    line-height: 1.7;
	    text-align: justify;
	    color: #585858;
	    box-shadow: 0px 0px 0px #CCC;
	    padding: 10px 10px 35px;
	}

	.testimonios_container .testimonios_item p {
	    font-size: 13px;
	}

	.testimonios_container .testimonios_item:before {
	    content: ' ';
	    position: absolute;
	    top: auto;
	    right: auto;
	    width: 0px;
	    height: 0px;
	    border: solid;
	    border-color: #fff transparent transparent transparent;
	    border-width: 20px;
	    bottom: -40px;
	    left: 20px;
	}

	.testimonios_container .testimonios_img span {
		position: absolute;
		top: 25px;
		left: 10px;
		color: #FFF;
		font-size: 10px;
		font-weight: 600;
		letter-spacing: 1px;
		width: 42%;
	}

	.testimonios_container .testimonios_item span {
	    font-size: 13px;
	}

	.testimonios_link {
   		position: absolute;
	    bottom: 0px;
	    left: 0px;
	    font-size: 13px;
	    color: #FFF;
	    border-bottom: 0px;
	    font-weight: 500;
	    text-align: center;
	    width: 100%;
	    background: #00d2c6;
	    padding: 10px;
	    box-sizing: border-box;
	    font-family: Gotham-Pro-Bold;
	}

	.pasos_reserva_container h2{
		display: none;
	}

	.pasos_reserva_numeros{
		display: none !important;
	}

	.pasos_reserva_celda img {
	    height: 80px;
	    margin: 0px;
	}

	.pasos_reserva_row {
	    display: block;
	}

	.pasos_reserva_celda {
	    display: block;
	    width: 100%;
	    position: relative;
	    overflow: hidden;
	}

	.pasos_celda_top,
	.pasos_celda_bottom{
		float: left;
	}

	.pasos_celda_top{
		width: 30%;
		text-align: center;
	}

	.pasos_celda_bottom{
		width: 70%;
		text-align: left;
	}

	.pasos_reserva_celda h3 {
		color: #000;
		font-size: 13px;
		margin: 18px 0px 5px;
	}

	.pasos_reserva_celda p {
	    font-size: 12px;
	    color: #000000;
	    max-width: 290px;
	    width: 100%;
	    margin: 0px;
	    padding: 0px 20px 0px 0px;
	    box-sizing: border-box;
	    text-align: justify;
	}

	.pasos_reserva_container h2.solo_movil {
	    display: block;
	    text-transform: none;
	    text-align: center;
	    margin: 0px 0px 15px;
	    font-size: 14px !important;
	}

	.club_patitas_container_superior {
	    padding: 20px;
	}

	.club_patitas_container {
	    display: block;
	    width: 100%;
	    box-sizing: border-box;
	    max-width: 100%;
	    margin: 0px;
	}

	.club_patitas_tabla {
	    display: block;
	    width: 100%;
	    box-shadow: 0px 0px 1px #a2a2a2;
	    border-radius: 0px;
	    padding: 20px;
	    box-sizing: border-box;
	}

	.club_patitas_celda {
	    display: block;
	    width: 100% !important;
	    box-sizing: border-box;
	}

	.club_patitas_container h2 {
	    font-family: 'Indie Flower', cursive;
	    font-weight: 400;
	    font-size: 17px;
	    margin: 0px;
	    text-align: center;
	}

	.club_patitas_celda.celda_30 h2 {
		margin: 0px 0px 20px;
	    display: block;
    	font-size: 18px !important;
	}

	.club_patitas_celda.celda_30 img {
		width: 50%;
	}

	.club_patitas_celda.celda_70 h2 {
		display: none;
	}

	.club_patitas_container span {
	    font-weight: 400;
	    font-size: 11px;
	    padding-top: 20px;
	    display: block;
	    text-align: center;
	}

	.club_patitas_container h3 {
	    text-transform: uppercase;
	    font-size: 13px;
	    color: #7c169e;
	    text-align: center;
	    display: block;
	}

	.club_patitas_tabla .club_patitas_tabla {
	    display: block;
	    width: 100%;
	}

	.club_patitas_tabla .club_patitas_tabla .club_patitas_celda {
	    padding: 0px 0px 15px;
	}

	.club_patitas_container input[type='text'], .club_patitas_container input[type='email'] {
	    font-size: 12px;
	}

	.club_patitas_container input[type='submit'] {
	    padding: 10px 0px;
	    font-size: 12px;
	    width: 80%;
	    display: block;
	    margin: 0px auto;
	}

	.club_patitas_container small {
	    padding: 5px;
	    font-size: 12px;
	}

	.quiero_ser_cuidador_container .quiero_ser_cuidador_img {
	    background-image: url(../../img/HOME/RESPONSIVE/PNG/Banner-Cuidador.png);
	    height: 250px;
	    border-radius: 5px;
	}

	.quiero_ser_cuidador_container {
	    padding: 0px 20px;
	    position: relative;
	    overflow: inherit;
	    margin-bottom: 0px;
	}

	.quiero_ser_cuidador_container .quiero_ser_cuidador_info {
	    bottom: 10px;
	    right: 10px;
	}

	.quiero_ser_cuidador_container h2 {
	    color: #FFF;
	    font-size: 17px !important;
	    text-transform: none;
	    margin: 0px 0px 15px;
	    padding: 0px 25px 0px 55px;
	    font-family: Gotham-Pro-Bold;
	    font-weight: 600;
	}


	.quiero_ser_cuidador_container .quiero_ser_cuidador_info div {
		position: absolute;
		display: block;
    	text-align: center;
	}

	.quiero_ser_cuidador_container .quiero_ser_cuidador_info div span,
	.quiero_ser_cuidador_container .quiero_ser_cuidador_info div a {
		display: none;
	}

	.quiero_ser_cuidador_container_2{
		display: block;
		text-align: center;
	    margin-bottom: 30px;
	}

	.quiero_ser_cuidador_container_2 span{
		display: block;
		padding: 15px;
		font-weight: 600;
	}

	.quiero_ser_cuidador_container_2 a{
		padding: 10px 50px;
	}

	.conectate_container > img{
	    display: none;
	}

	.conectate_botones_celda > img {
	    height: 35px;
	}

	.conectate_container > h2,
	.conectate_container > img,
	.conectate_container > span	{
	    display: none;
	}

	.conectate_container .mensaje_movil{
		display: block;
	}

	.conectate_container .mensaje_movil span{
		color: #000;
		text-align: center;
	    display: block;
	    padding: 15px;
	    font-size: 14px;
	}

	.conectate_botones_tabla {
	    width: 75%;
	}

	.aliados_container img {
	    width: 30.333333%;
	}

	#popup-servicios-new .km-opcion .km-opcion-text {
	    width: 85%!important;
	}

}

@media (max-width: 600px){

/* POPUP */
	
	#message.Msubscribe .contain {
	    width: 90%;
	}

	#PageSubscribe_NEW {
	    position: relative;
	    max-width: 300px;
	    margin: 0 auto;
	    padding: 0px;
	    top: auto;
	    border-radius: 10px;
	    background: #ffffff;
	    overflow: hidden;
	    border: solid 1px #777;
	}
	
	#PageSubscribe_NEW i.exit.fa.fa-times {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    font-size: 20px;
	    color: #a1a1a1;
	    padding: 8px;
	    background: #EEE;
	    cursor: pointer;
	}
	
	#PageSubscribe_NEW h2 {
	    color: #444;
	    text-align: center;
	    text-transform: uppercase;
	    font-family: Gotham-Pro-Black;
	    font-weight: 800;
	    padding: 25px 35px 15px;
	    font-size: 25px !important;
	}
	
	#PageSubscribe_NEW p {
		color: #444;
		text-align: center;
		font-size: 15px;
		margin: 0px 22px 25px;
	}
	
	#PageSubscribe_NEW .section_1 {
	    margin-bottom: 35px;
	}
	
	#PageSubscribe_NEW .section_2 {
	    position: relative;
	}
	
	#PageSubscribe_NEW .section_2 > div.img_banner {
	   	background-repeat: no-repeat;
	   	background-size: cover;
	   	background-position: center;
	   	height: 200px;
	}
	
	#PageSubscribe_NEW .section_3 {
	    text-align: center;
	    background: #000;
	    font-size: 15px;
	    padding: 12px;
	}
	
	#PageSubscribe_NEW form {
	    margin: 0px 50px;
	    position: absolute;
	    top: -20px;
	}
	
	#PageSubscribe_NEW input#mail_suscripcion {
	    width: 100%;
	    padding: 7px;
	    border: solid 1px #CCC;
	    border-bottom: 0px;
	    border-radius: 3px 3px 0px 0px;
	    color: #000;
	}
	
	#PageSubscribe_NEW button {
	    width: 100%;
	    padding: 7px;
	    border: solid 1px #00d2c6;
	    border-top: 0px;
	    border-radius: 0px 0px 3px 3px;
	    background: #00d2c6;
	    text-transform: uppercase;
    	font-weight: 800;
	}
	
	#PageSubscribe_NEW img {
	    width: 100%;
	}

	#message.Msubscribe {
        height: 100vh; !important;
	    overflow: auto !important;
	}

	#message.Msubscribe .contain {
		display: table;
		width: 100%;
		height: 100%;
	}

	#message.Msubscribe .contain > div {
	    display: table-cell;
	    vertical-align: middle;
	}

	#PageSubscribe_NEW .message {
	    text-shadow: 0px 0px 1px #000;
	    background: #00000099;
	    border-radius: 3px;
	    margin-top: 7px;
	    padding: 6px;
	    opacity: 0;
	    transition: all .5s ease-in-out;
	}

	#PageSubscribe_NEW .message.show {
	    opacity: 1;
	}

	#popup-servicios-new .km-opcion {
	    padding: 0px 35px;
	}

	#popup-servicios-new h4 {
	    line-height: 20px;
	}

	.modal-open .modal, .modal {
	    overflow-x: auto !important; 
	    overflow-y: auto !important; 
	}
	#popup-servicios-new .modal-dialog {
	    margin: 100px 0px 0px;
	}

	.ubicacion_container small, .fechas_container small {
	    top: 23px;
	    text-align: right;
	    padding: 2px 7px;
	}

	.img_destacado img {
		display: inline-block;
	    position: absolute;
	    top: 5px;
	    right: 10px;
	    width: 20px;
	}
}

@media (max-width: 350px){

	.servicios_principales_container .input_check_box span {
	    font-size: 10px;
	}

	.tipo_mascota_container .input_check_box img {
	    margin: 7px 20px 7px 0px;
	    height: 22px;
	}

	.tipo_mascota_container .input_check_box span {
	    font-size: 12px;
	}

	.fechas_container input {
	    height: 40px;
	}

	.fechas_container .icon_fecha {
	    top: 12px;
	}

	.controles_mitad_container {
	    margin-bottom: 10px;
	}

	.ubicacion_container {
	    margin-bottom: 10px;
	}

	.tipo_mascota_container {
	    margin-bottom: 5px;
	}

	.fechas_container {
	    padding: 0px 2px;
	}

	.tamanios_container {
	    width: calc( 100% - 12px );
	    padding-left: 13px;
	}

	#PageSubscribe_NEW h2 {
	    padding: 25px 34px 0px;
	    font-size: 25px !important;
	    text-align: center;
	}

	#PageSubscribe_NEW p {
	    text-align: center;
	    font-size: 14px;
	}

	p.p_1 {
        font-size: 16px !important;
	}

	#PageSubscribe_NEW .section_3 {
	    font-size: 13px;
        font-family: Gotham-Pro-Bold;
	}

	#PageSubscribe_NEW .section_2 > div.img_banner {
	    height: 180px;
	}

	#message.Msubscribe .contain {
	    width: 90%;
	}

	#PageSubscribe_NEW input#mail_suscripcion {
	    font-size: 12px;
	}

	#PageSubscribe_NEW button {
	    font-size: 12px;
	}

	#buscador .solo_movil .boton_border_morado {
	    font-size: 11px;
	    padding: 8px;
	}

	.servicios_principales_container {
	    margin-bottom: 0px;
	}

	#popup-servicios-new h4 {
	    font-size: 12px;
	    line-height: 1.2 !important;
	}

	#popup-servicios-new .km-opcion {
	    min-height: 45px;
	}

	#popup-servicios-new .km-opcion img {
	    width: 55px;
	    padding: 0px 15px;
	}

	#popup-servicios-new .km-opcion .km-opcion-text {
	    padding-left: 10px;
	    font-size: 10px;
	}

	.km-servicios-adicionales .mtb-10 {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}

	button.close {
	    font-size: 30px !important;
	    right: 5px !important;
	}

	#popup-servicios-new .modal-content {
	    padding: 10px 30px;
	}

	.km-servicios-adicionales .col-sm-3 {
	    margin-bottom: 2px !important;
	}

	a#agregar_servicios {
	    padding: 15px;
	}

	a#buscar_no {
	    margin-top: 7px !important;
	}

}
