@media (min-width: 768px){
	.fechas_container .boton:hover {
	    background: #49eada !important;
	}

}
@media (max-width: 768px){

	body {
	    overflow-x: hidden;
	}

	.pc_scroll {
	    max-height: none;
	    overflow: unset;
	    padding-right: 0px !important;
	}

	.Flecha_Izquierda, .Flecha_Derecha {
	    top: 24px;
	    height: 30px;
	    padding: 9px;
	}

	.Flecha_Izquierda {
    	left: -1px;
	}

	.Flecha_Derecha {
	    right: -1px;
	}

	.ocultar_flash_descuento {
	    display: none !important;
	}

	.pc_seccion_0 {
	    border-radius: 0px 0px 30px 30px;
	    overflow: hidden;
        height: 200px;
	}

	.pc_seccion_1 {
	    padding: 5px 15px;
	    min-height: auto;
	    height: auto;
	}

	.pc_img_container {
	    width: 95px;
	}

	.pc_img {
	    position: relative;
	    top: auto;
	    height: 95px;
	    border-radius: 5px;
	    width: 100%;
	    left: 0px;
	}

	.pc_info_iconos_container {
	    display: table;
	    position: relative;
	    bottom: auto;
	}

	.pc_galeria_container_interno {
        height: 85px;
	    margin: 10px 35px;
	}

	.pc_galeria_box {
	    padding: 10px 0px;
	}

	.pc_galeria_box .pc_galeria_item {
	    width: calc( 25% - 2px );
	    margin: 0px;
        border: solid 1px #FFF;
	}

	.galeria_container_fixed .galeria_celda {
	    padding: 15px;
	}

	.galeria_container_fixed .cerrar {
	    left: auto;
	    position: fixed;
	    right: 5px;
    	top: auto;
    	font-size: 40px;
	    line-height: 0.5;
	}
	
	.galeria_container_fixed .galeria_celda img {
	    height: auto;
	    vertical-align: top;
        width: 85%;
	}

	.pc_info_container {
	    width: auto;
	    padding: 0px 0px 0px 15px;
	}

	.pc_info_container .pc_info_titulo {
	    font-size: 15px;
	    line-height: 1;
	}

	.pc_info_favorito {
        position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 35px;
	    height: 35px;
	    border: solid 1px #CCC;
	    padding: 0px;
	}

	.pc_info_favorito > div {
	    position: absolute;
	    top: auto;
	    right: auto;
	    width: 100%;
	    height: 100%;
	    border: 0px;
	    padding: 0px;
	    border-radius: 3px;
	    background-size: 55%;
	}

	.pc_info_experiencia {
	    padding: 5px 0px;
	    font-weight: 600;
	    font-size: 10px;
	}

	.pc_info_precio {
	    padding: 0px 0px 5px;
	    font-weight: 600;
	    font-size: 13px;
	}

	.pc_info_valoraciones {
	    font-size: 11px;
	}

	.pc_info_iconos_container {
	    margin: 0px;
	    width: calc( 100% - 30px );
	    left: 15px;
	}

	.pc_info_iconos span {
	    border: solid 1px #CCC;
        padding: 5px 0px 5px 35px;
        font-size: 11px;
	}

	.icono_flash, .icono_descuento {
	    width: 40px;
	}

	.icono_flash span, .icono_descuento span {
	    height: 28px;
	}

	.info_movil_2{
		padding: 0px 10px;
	}

	.info_movil_2 label {
	    margin-bottom: 10px;
	    font-size: 15px;
	}

	.servicio_item {
	    padding: 0px 10px 0px 0px;
	    margin-bottom: 15px;
	}

	.servicios_container img {
	    height: 30px;
	}

	.servicio_celda.servicio_icon {
	    width: 60px;
	}

	.servicio_celda.servicio_titulo span {
	    font-size: 15px;
	}

	.servicio_celda.servicio_titulo span {
	    font-size: 15px;
	}

	.servicio_celda.servicio_titulo small {
	    font-size: 11px;
	}

	.servicio_celda.servicio_desde span {
	    font-size: 13px;
	    font-weight: 800;
	}

	.servicio_precios .servicio_celda.servicio_titulo small {
	    font-size: 10px;
	    font-weight: 400;
	}

	.servicio_tamanio .servicio_precio {
	    font-size: 15px;
	    padding: 5px 0px 0px;
	}

	.servicio_tamanio .servicio_icon img {
	    height: 25px;
	}

	.pc_seccion_2 .pc_seccion_2_izq,
	.pc_seccion_2 .pc_seccion_2_cen,
	.pc_seccion_2 .pc_seccion_2_der {
	    display: block;
	    width: 100%;
	    padding: 0px;
	}

	.pc_seccion_2 .pc_seccion_2_izq label {
	    font-size: 15px;
	    padding: 15px 10px 10px;
	}

	.pc_seccion_2 .pc_seccion_2_datos {
	    padding: 0px 0px 0px 5px;
	}

	.pc_seccion_2 .pc_seccion_2_datos .pc_seccion_2_datos_item {
	    width: calc( 25% - 5px );
	    margin: 0px;
	    margin-right: 5px;
	    height: 115px;
	}

	.pc_seccion_2 .pc_seccion_2_datos .pc_seccion_2_datos_item > div {
	    height: 30px;
	}

	.pc_seccion_2 .pc_seccion_2_datos .pc_seccion_2_datos_item > span {
	    font-size: 9px;
	    padding: 15px 0px 0px;
	}

	.pc_seccion_2 .pc_seccion_2_izq p {
	    font-size: 11px;
	    padding: 0px 15px 0px;
	    margin: 0px;
	}

	#mapa_movil {
	    height: 140px;
	    margin: 0px;
	}

	.mapa {
	    margin: 0px 10px;
	}

	.km-calificacion {
	    font-size: 55px;
	}

	.km-calificacion-icono p {
	    display: inline-block;
	    padding-left: 10px;
	    padding-top: 1px;
	}

	.km-calificacion-bondx {
	    display: inline-block;
	}

	.km-calificacion-icono {
	    padding-top: 5px;
	}

	.km-tit-ficha {
        font-size: 13px !important;
    	margin: 0px !important;
	}

	.km-calificacion-icono {
	    display: block !important;
	    text-align: center !important;
	    margin-left: 0px !important;
	}

	.km-review .km-ranking a {
	    width: 20px !important;
	    height: 20px !important;
	    background-image: url(../../img/BUSQUEDA/SVG/Huesito_azul.svg) !important;
    	background-size: 85% !important;
	}

	.km-comentario .col-xs-2 .km-foto-comentario-cuidador {
	    display: block;
	    margin: 0px auto;
	    width: 40px !important;
	    height: 40px !important;
	}

	.km-comentario .col-md-12 p {
	    margin: 0px 5px 3px;
	    font-size: 11px;
	}

	.row.km-review-categoria {
	    margin: 0px !important;
	}

	.km-review-categoria .km-ranking a {
	    width: 12px !important;
	    background-size: 16px 7px !important;
	}

	.km-review-categoria p {
	    font-size: 8px !important;
	}

	.km-comentario .col-xs-9 p {
	    font-size: 10px;
	}

	.pc_seccion_2 .pc_seccion_2_cen label {
	    font-size: 15px;
	}

	.fechas_container {
	    padding: 15px;
	    position: fixed;
	    left: 0px;
	    bottom: 0px;
	    width: 100%;
	    z-index: 100;
	    background: #FFF;
	    margin: 0px;
	    padding: 10px;
	}

	.fechas_container .fechas_box {
	    display: inline-block;
	    width: calc( 48% - 3px );
	    margin-bottom: 10px;
	}

	.fechas_container .boton {
	    display: inline-block;
	    margin: 0px 16px 0px 0px;
	    text-align: center;
	    font-size: 15px;
	    width: calc( 50% - 10px );
	    font-size: 10px;
	}

	button#btn_reservar {
        margin-right: 0px;
	    font-size: 11px;
	    padding: 8px;
	}

	a.boton.boton_verde {
	    margin-right: 0px;
	    border: solid 2px #00d2c6;
	    font-family: Gotham-Pro-Bold;
	}

	.fechas_container input {
	    height: 35px;
	}

	.fechas_container .icon_fecha {
	    top: 8px;
	}

	.pc_seccion_2_der > span, .pc_seccion_2_der > label {
		display: none !important;
	}

	footer {
	    #display: none !important;
	}

	.pc_seccion_2 {
	    margin: 0px auto;
	}

	.reservar_footer {
	    display: none;
	    position: fixed;
	    left: 0px;
	    bottom: 0px;
	    width: 100%;
	    height: auto;
	    padding: 10px 0px;
	    background: #00d2c6;
        color: #FFF;
	    font-size: 11px;
	    font-weight: 600;
	    z-index: 10000000;
	}

	.reservar_footer img {
	    height: 25px;
	    margin: 0px 15px;
	}

	.footer_favorito {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 65px;
	    height: 100%;
	    text-align: center;
	    padding: 15px 0px;
	    background: #EEE;
	}

	.footer_favorito img {
	    height: 15px;
        margin: 0px 10px;
	}

	.footer_favorito_box {    
		position: absolute;
	    top: 8px;
	    right: 15px;
	    width: 35px;
	    height: 30px;
	    border: solid 2px #CCC;
	    padding: 7px 8px;
	    border-radius: 3px;
	}

	.footer_favorito_box .favorito {
		background: url(../../img/BUSQUEDA/SVG/iconos/Corazon_Gris.svg) no-repeat center center;
	    background-size: contain;
	    width: 100%;
	    height: 100%;
	}

	.footer_favorito_box .favorito.favoritos_delete {
		background-image: url(../../img/BUSQUEDA/SVG/iconos/Favorito.svg);
	    background-size: contain;
	}

	.pc_seccion_2 .pc_seccion_2_der span,
	.pc_seccion_2 .pc_seccion_2_der label {
	    display: none !important;
	}

	#desde_container{
	    margin-right: 13px;
	}

	.zopim {
	    top: auto!important;
	    position: fixed!important;
	    bottom: 16%!important;
	}

	.modal_msg_box {
	    padding: 15px 15px 10px;
	    max-width: 95%;
	    text-align: justify;
	    font-size: 14px;
	    margin: 0px auto;
	    border-radius: 20px;
	}

	a.boton.boton_verde,
	#ocultar_msg {
	    font-size: 12px;
	}

}