@media ( max-width: 768px ){
    .solo-pc{
        display: none;
    }
    .solo-movil{
        display: inline-block;
    }
    section .container{ 
        padding: 0px; 
    }

    .box-contenedor .tbl > div,
    .box_col_left,
    .box_col_right{
        display: block;
        vertical-align: top;
        padding: 0px 15px;
        width: auto;
    }

    /* ****** Header ****** */ 
    header{
        top: -20px;
        position: relative;
        z-index: 1;
        background: #fff;
        border-radius: 20px 20px 0px 0px;
    }
    header .km-titular-cuidador{
        background-color: #fff;
        border-radius: 20px 20px 0px 0px;
        color: #000;
    }
    header .btn-kmimos-cuidador{
        margin: 40px 0px;
        font-size: 15px!important;
    }
    header .titulo-principal{   
        color: #000!important;
        font-size: 15px!important;
        padding: 10px 0px 30px 0px;
    }
    header p{
        font-size: 13px!important; 
    }   


    .section-banner-top{
        background: #f4f4f4;
    }
    .section-banner-top p.title{
        font-size: 13px!important; 
        font-weight: lighter;
        text-align: center; 
    }

    section h2{
        font-size: 15px!important;
    }
    
    .box_col_left,
    .box_col_right{
        padding-left:0px!important;
        padding-right:0px!important;
    }

    .box_item{
        width: 100%;
    } 
    .box_info{
        width: 74%;
    }
    .box_info p{
        font-size: 12px!important;
        text-align: justify;
    }
    .box .item-list{
        padding-left: 0px;
    }
    .box .item-list > li > div > strong {
        font-size: 15px;
    }
    .box .item-list > li > div > p {
        font-size: 12px!important;
    }
    .box .item-list > li > div {
        padding: 0px 0px 0px 5px!important; 
    }    
    .box_icon {
        width: 25%;
        text-align: left;
    }
    .box_icon img{
        width: 90%;
    }

    .section-banner{
        background-image: none!important;
        margin-left: 15px; 
        margin-right: 15px; 
        padding-top: 0px; 
    }
}