@media (max-width: 767px){

	.solo_PC {
		display: none;		
	}

	.pc_seccion_0 {
	    border-radius: 0px 0px 25px 25px;
	    overflow: hidden;
	    height: 250px;
	}

	h1 {
	    padding: 30px 10px;
	    text-transform: none;
	    font-size: 14px;
	}

	h3 {
		text-align: center !important;
	    padding: 0px;
	    margin: 0px;
	}

	h3 span {
	    display: block;
	    padding: 20px 0px;
	    font-size: 15px;
	}

	h3 img {
	    width: 40px !important;
	    margin-right: 0px;
	}

	.container {
		display: block;
	    margin: 10px auto 40px;
	}

	.izq {
	    display: block;
	    width: 100%;
        font-size: 10px;
	}


	.der {
	    display: none;
	}

	.ver_mas_PC{
		display: none;
	}

	.ver_mas_movil{
		display: inline-block;
	}

	.promesa {
	    font-size: 16px;
	}

	.promesa span {
	    display: block;
	}

	.img_footer {
	    padding: 50px 0px 0px;
	}

	.btns_container {
	    position: relative;
	    left: auto;
	    bottom: auto;
	    padding: 50px 0px 20px;
	}

	.btns_container .boton {
	    margin-bottom: 25px;
	    padding: 10px 0px;
	}
}