/* BEGIN Icon */
	.modified div:before{
		font-weight: normal;
		font-family: WooCommerce;
		content: "\e033" !important;
	    color: #2b4273!important;
	    float: left;
	}
	.pending div:before{
		font-weight: normal;
		font-family: WooCommerce;
		content: "\e011"!important;
	    color: #2b4273!important;
	    float: left;
	}
	.cancel div:before{
		font-weight: normal;
		font-family: WooCommerce;
		content: "\e033"!important;
	    color: #2b4273!important;
	    float: left;
	}
	.check div:before{
	    font-weight: normal;
	    font-family: WooCommerce;
	    content: "\e015" !important;
	    color: #2b4273!important;
	    float: left;
	}
/* END Icon */

/* Componentes */
button.active{
	background-color: #5175af;
	color: #fff;
}
.btn{
	margin: 0px!important;
	padding: 5px 25px!important;
	border-radius: 5px;
	border: 1px solid #ccc;
	color: #000;
	font-weight: bold;
}

/* BEGIN Graficos */
	#grafica_dia_curso,
	#grafica_vs_meses{
		width: 100%;
		max-height: 250px;
		height: 65vh;
	}

	.grafico-container,
	#grafico_leads,
	#grafico_registro,
	#grafico_resumen_ventas,
	#grafico_resumen_por_dia,
	#dona_resumen_este_mes{
		width: 100%;
		max-height: 600px;
		height: 65vh;
	}
/* END Graficos */

.postbox-container{
	width: 100%!important;
}
.options-container{
	padding: 10px 5px;
}
.options-container h1{
}
.contenedor_widget{
	display: inline-flex;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.wbox-4{
	width: 33.33333%;
}
.wbox-8{
	width: 70.66666%;
}
.wbox-12{
	width: 100%;
}

.contenedor_widget .wbox:hover div:before{
	color: #40e63f!important;
}

.wbox-margin{
	margin-top: 35px;
}

.contenedor_widget .wbox{
	padding: 10px 15px;
	border-radius: 5px;
	margin: 5px;
	color: #aaa;
	text-align: right;
}
.contenedor_widget .wbox .total{
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0px;
}
.contenedor_widget .wbox h1{
	font-size: 13px;
	color: #fff;
	text-align: left;
	border-bottom: 1px solid #ccc;	
	margin-top: 0px;
	padding-top: 0px;
}	
.contenedor_widget .wbox h2{
	color: #aaa;
	font-size: 13px;
	font-weight: normal;
	margin: 0px 0px; 
	padding: 0px; 
}
.contenedor_widget .wbox h3{
	color: #aaa!important;
	font-size: 11px;
	margin-top: 5px; 
}

@media (max-width: 768px){
	.contenedor_widget .wbox{
		padding: 5px 5px;
	}
	.contenedor_widget{
		display: inline-block;
	}
	
	.contenedor_widget .wbox .total{
		font-size: 20px;
	}
	
	.wbox-4,
	.wbox-8,
	.wbox-12{
		width: 95%!important;
	}
}