.btn_container {
	overflow: hidden;
}

.btn-right {
	float: right;
}

.wp-admin select[multiple] {
    height: 100px !important;
}

.fr-wrapper > div > a {
	display: none !important;
}

.second-toolbar #logo {
	display: none !important;
}

.campaing_despues_hidden{
	display: none;
}

.campaing_despues_show{
	display: block;
}

#campaing_despues_div{
	padding: 0px 30px;
}

select.form-control:not([size]):not([multiple]) {
    height: 30px !important;
}

.fr-box.fr-basic.fr-top > div:not([class]) {
    display: none !important;
}

.fr-sticky-off, .fr-sticky-on {
    position: relative !important;
}

.btn_emojis {
    float: right;
    font-size: 19px;
    border: solid 1px #777;
    padding: 2px 5px;
    line-height: 1;
    border-radius: 3px;
    cursor: pointer;
}

.emojis_container{
	display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 400px;
    padding: 10px 12px 10px;
    background: #FFF;
    border: solid 1px #CCC;
    border-radius: 3px;
    text-align: justify;
    z-index: 9999999999999999;
}

.emojis_container > div {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5px;
}

.emojis_container > div > i {
    position: absolute;
    top: -4px;
    right: 0px;
    font-style: normal;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
    font-weight: 800;
}

.emojis_container span {
    font-size: 25px;
    cursor: pointer;
}

.fr-view img.fr-dib {
    margin: 5px;
    display: inline-block;
}