.btn_container {
	overflow: hidden;
}

.btn-right {
	float: right;
}

.wp-admin select[multiple] {
    height: 100px !important;
}

.fr-wrapper > div > a {
	display: none !important;
}

.second-toolbar #logo {
	display: none !important;
}