.btn_container {
	overflow: hidden;
}

.btn-right {
	float: right;
}

.wp-admin select[multiple] {
    height: 100px !important;
}

.fr-wrapper > div > a {
	display: none !important;
}

.second-toolbar #logo {
	display: none !important;
}

.campaing_despues_hidden{
	display: none;
}

.campaing_despues_show{
	display: block;
}

#campaing_despues_div{
	padding: 0px 30px;
}

select.form-control:not([size]):not([multiple]) {
    height: 30px !important;
}

.fr-box.fr-basic.fr-top > div:not([class]) {
    display: none !important;
}

.fr-sticky-off, .fr-sticky-on {
    position: relative !important;
}