/* BEGIN Dark Theme */
#woocommerce_dashboard_status .wc_status_list li{
    border-top: 1px solid transparent!important; */
}

.postbox .hndle, .stuffbox .hndle{
	border-bottom: 1px solid #1a2a47;
}

#ventas_dashboard_widget,
#noches_dashboard_widget,
#resumen_dashboard_widget{
	background: #162036; 
}

#ventas_dashboard_widget h2,
#noches_dashboard_widget h2,
#resumen_dashboard_widget h2{
	color: #fff;
}

.contenedor_widget{
	border: 0px solid transparent;
}

.contenedor_widget .wbox{
	background: #1A2A47; 
}

.contenedor_widget .wbox div{
	color: #fff;
}

.contenedor_widget .wbox h1{
	border-bottom: 1px solid #2b4273;	
}