.vlz_img_portada_perfil{ position: relative; height: 100%; overflow: hidden; border: solid 0px; background: transparent; margin: 0px; }

.main .vlz_img_portada_perfil {
    height: 450px;
}
.main .mascotas_item .vlz_img_portada_perfil {
    height: 150px;
}

.vlz_img_portada {
	height: 170px !important;
    border-radius: 4px;
    border: solid 0px !important;
    background: transparent !important;
    padding: 0px 30px 10px;
}

.vlz_cambiar_portada {
	font-size: 20px !important;
    background: transparent !important;
    border: solid 0px !important;
}

.body{
	position: relative;
}

form#form_perfil > div {
	#padding: 35px 40px 0px 50px;
	padding: 0px;
}

form#form_perfil > section {
	padding: 35px 40px 0px 50px !important;
}

.menu_perfil{
	float: left;
	width: 270px;
	box-sizing: border-box;
	padding: 5px;
    position: relative;
    top: 0px;
}
 
.menu_perfil ul{    
    border-bottom: 0px;
    margin-top: 10px;
    padding: 10px 15px 0px 0px;
    border-right: solid 1px #DDD;
}
.menu_perfil ul li{
	display: block;
    border: solid 1px #DDD;
    margin-bottom: 7px;
    padding: 0px 10px;
    border-radius: 5px;
}
.menu_perfil ul li a{
	display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #555;
}
.menu_perfil ul li a i:before{
	margin-right: 5px;
    font-style: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0px;
    font-size: 20px;
}
.menu_perfil ul li a:hover{
    color: #FFF;
}
.menu_perfil ul li:hover{
	background: var(--kmimos-morado);
}
.main{
	float: left;
	width: calc( 100% - 270px );
	box-sizing: border-box;
	padding: 5px 0px 5px 10px;
}

li.vlz_resaltar a {
    color: #FFF !important;
}

li.vlz_resaltar {
    background: var(--kmimos-morado);
    padding: 0px 10px;
    color: #FFF;
    border: 0 !important;
}

/* Contenedores */

	.km-btn-primary {
	    background-color: var(--kmimos-morado) !important;
	    border-bottom: 3px solid var(--kmimos-morado) !important;
	    color: #FFF !important;
	    border-radius: 4px !important;
	}

	.km-btn-primary:hover {
	    background-color: var(--kmimos-morado-hover) !important;
	    border-bottom: 3px solid var(--kmimos-morado-hover) !important;
	}

	.inputs_containers{
		display: block;
	    padding: 30px 30px 15px;
	}

	.inputs_containers section{
	    float: none;
	    width: 50%;
	    box-sizing: border-box;
	    padding: 0px 5px;
	    display: inline-block;
	    margin: 5px -2px;
	}

	.lbl-text{
		display: block;
	    font-size: 12px;
	    padding: 5px 12px 0px;
	    font-weight: 600;
	    color: #444;
	    text-align: left;
	    margin: 0px;
	}

	.lbl-ui{
	    display: block;
	    box-sizing: border-box;
	    padding: 0px 10px 5px;
	    position: relative;
	}

	.lbl-ui input,
	.lbl-ui select,
	.lbl-ui textarea
	{
		width: calc( 100% - 4px );
	    padding: 10px;
	    outline: none !important;
	    resize: none;
	    height: 42px;
	    background: #FFF;
	    border: solid 1px #CCC;
	    font-weight: 400;
	    border-radius: 5px;
	    margin: 2px;
	    font-size: 12px;
	}

	.lbl-ui input:focus,
	.lbl-ui select:focus,
	.lbl-ui textarea:focus
	{
	    outline: none !important;
	}

	.container_full{
		width: 100% !important;
	}

	.lbl-ui textarea{
	    height: 130px;
	}

	.lbl-ui input[type="date"]{
        padding: 8px;
	}

	.container_btn {
	    overflow: hidden;
	    padding: 0px 0px 30px !important;
	    margin: 0px 15px;
	}

	.container_btn input{
		float: right !important;
		width: auto !important;
		border: 0px;
		padding: 15px 40px 7px;
		border-bottom: 3px solid var(--kmimos-morado);
		font-size: 16px;
		font-family: Gotham-Pro-Bold;
	}

	.container_btn img {
		float: right;
		width: 60px;
		cursor: pointer;
	    position: fixed;
	    z-index: 10;
	    right: 50px;
	    bottom: 50px;
	}

	.perfil_cargando{
		display: none;
		float: right;
		width: 30px;
		height: 30px;
	    margin: 5px;
		background-size: contain;
		background-position: center; 
		background-repeat: no-repeat; 
		background-color: transparent;
	}

	.btn_rotar{
		position: absolute;
	    bottom: 10px;
	    left: 10px;
	    width: auto;
	    padding: 5px 10px;
	    font-size: 20px;
	    color: #FFF;
	    background: transparent;
	    border: solid 0px;
	    z-index: 200;
	    cursor: pointer;
	}

	#rotar_d{
	    left: 50px;
	}

	.btn_aplicar_rotar{
		width: auto;
		padding: 10px;
		font-size: 12px;
		color: #FFF;
		background: #23475e;
		border: solid 1px #fff;
		z-index: 200;
		cursor: pointer;
	}

	.btn_aplicar_rotar_inactivo{
	    background: #949494 !important;
	}

	section {
	    text-align: center;
	    padding: 0px !important;
	}

	form h1 {
		/*font-size: 20px;
		padding: 15px 0px 0px !important;
		font-family: Gotham-Pro-Bold;
		text-transform: uppercase;
		border: 0px !important;
		margin: 0px;*/
	}

h4 {
    color: #000 !important;
}

/* Listas */

/* Table */

.dataTables_wrapper label {
    font-weight: 600;
    font-family: Arial;
    font-size: 13px;
    margin-bottom: 5px !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px  !important;
}

.dataTable * {
	font-size: 13px;
}

.dataTable td img {
    height: 50px;
}

.dataTable select {
    padding: 1px 25px 1px 10px !important;
    font-size: 11px;
    min-width: 50px;
    min-height: 1px;
}

.dataTable tbody tr td:first-child,
.dataTable thead tr th:first-child,
.dataTable thead tr th:last-child,
.dataTable tbody tr td:last-child
{
	#text-align: center;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 10px;
}

table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting:after {
    content: "" !important;
}

table.dataTable th,
.dataTables_length *
 {
    font-size: 11px !important;
    outline: none !important;
    box-shadow: 0px 0px 0px #000 !important;
}

.page-link:focus {
    box-shadow: 0px 0px 0px #000 !important;
}

.dataTables_filter *
 {
    font-size: 12px !important;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    font-size: 11px !important;
}
.table thead th {
    border-bottom: 1px solid #e9ecef !important;
}

.dataTables_info,
.pagination * {
    font-size: 11px !important;
}

.dataTables_info {
    font-size: 12px !important;
    float: left;
}

.container_listados {
	padding: 0px;
}

.table th, .table td {
    padding: 8px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 0px !important;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting {
    background-image: none !important;
}

.pagination > li {
    display: inline-block;
}

.table td {
    padding: 8px 0.75rem !important;
}

.btns_container > span {
    padding: 3px 10px;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 0px;
}

.table-bordered th {
    border-top: 0px !important;
}

.dataTables_length {
	display: none;
}

.dt-buttons {
    float: left;
}

button.dt-button {
    border: 1px solid var( --vlz-azul ) !important;
    background-color: var( --vlz-azul );
    color: #FFF;
    padding: 5px 20px;
    font-size: 13px;
    line-height: 1;
    margin-top: 7px;
    font-weight: 600;
    cursor: pointer;
    outline: none !important;
}

h1.titulo_perfil {
    font-size: 20px;
    border-bottom: solid 2px #dcdcdc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

table.dataTable small {
    font-size: 11px !important;
}

table.dataTable .btn_table {
    border: solid 1px var(--kmimos-morado);
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
}

table.dataTable i {
    font-size: 15px !important;
    padding: 5px 0px;
    cursor: pointer;
    min-width: 25px;
    text-align: center;
    color: var(--kmimos-morado);
}

table.dataTable .btn_cancelar {
    color: red;
    border-color: red;
}

table.dataTable .btn_cancelar i {
    color: red;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--kmimos-morado) !important;
    border-color: var(--kmimos-morado) !important;
}