hr {
    margin-top: 5px;
    margin-bottom: 15px;
    background: #ccc;
}
.form-inline{
	margin-top:10px;
}
.form-group{
	text-align: left!important;
}

.amcharts-export-menu-top-right {
    top: -20px!important;
    right: 0;
    z-index: 999;
}
.dropdown-title{
	padding-left: 15px;
	color:#bfbfbf;
}
.amcharts-axis-label tspan{
	-webkit-transform: rotate(-90deg);
    transform: transform: translate(50%, 50%) rotate(90deg) ; 
}
#wpcontent{
	background: #fff;
}
#grafico-container article{
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#chartdiv{
	overflow-x:auto;
	min-width:500px; 
	width:100%; 
	height:250px; 
}

.container-item article{
    border: 1px solid #ddd;
    background-color:#f4f4f4; 
    color: #989696;
    margin: 15px 5px;
    padding: 15px;
    border-radius: 9px;
    width: 32.5%;
    text-align: right;
} 