hr {
    margin-top: 5px;
    margin-bottom: 15px;
    background: #ccc;
}
.form-inline{
	margin-top:10px;
}
.form-group{
	text-align: left!important;
}

.amcharts-export-menu-top-right {
    top: -20px!important;
    right: 0;
    z-index: 999;
}
.dropdown-title{
	padding-left: 15px;
	color:#bfbfbf;
}
.amcharts-axis-label tspan{
	-webkit-transform: rotate(-90deg);
    transform: transform: translate(50%, 50%) rotate(90deg) ; 
}
#wpcontent{
	background: #fff;
}
#grafico-container article{
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#chartdiv{
	overflow-x:auto;
	min-width:500px; 
	width:100%; 
	height:250px; 
}

#contenedor-items {
    margin-bottom:20px;
    text-align: right; 
    color:#31708f;
}
#contenedor-items article:nth-child(1){
    padding-left: 0px;
} 
#contenedor-items article:nth-child(3){
    padding-right: 0px;
} 
#contenedor-items article div{
    border: 1px solid #ddd; 
    background: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
}
#contenedor-items article p{
    color: #b1b0b0;
}
#contenedor-items article h4{
    text-align: left;
    margin-top:0px;
}