table.dataTable th,
.dataTables_length *,
.dataTables_filter *
 {
    font-size: 11px !important;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    font-size: 11px !important;
}
.table thead th {
    border-bottom: 1px solid #e9ecef !important;
}

.dataTables_info,
.pagination * {
    font-size: 10px !important;
}

.container_listados {
	padding: 20px 0px;
}

#wpcontent, #wpfooter {
    /*margin-left: 140px !important;*/
}

.table th, .table td {
    padding: 8px;
}

body, html {
    height: auto !important;
    margin: 0;
    padding: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0 0 !important;
}

.enlaces {
	color: #158acd;
	cursor: pointer;
	font-weight: 600;
}

.titulos{
    padding-right: 15px;
    padding-left: 15px;
}

.titulos h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 30px;
    font-weight: 400 !important;
}

.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999999999999999;
	background: rgba(0,0,0,0.8);
	display: none;
	text-align: center;
}

.modal > div {
	display: block;
	margin: 20px auto;
	text-align: left;
	background: #FFF;
	padding: 20px;
	max-width: 500px;
	border-radius: 5px;
	box-sizing: border-box;
}