.status{
    width: 15px;
    height: 15px;
    margin: 0px auto;
    border-radius: 50%;
}

.status-2{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}

.status-ok{
	background: #1bb11b;
}

.status-ok-medio{
	background: orange;
}

.status-mal{
	background: red;
}

.status-medio{
	background: yellow;
}

.status-inicio{
	background: #9c9c9c;
}

.status-futuro{
	background: #FFF;
	border: solid 1px #9c9c9c;
}

.modal > div > div * {
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tabla_vertical > tbody > tr > th{
	text-align: left;
	width: 100px;
}

.tabla_vertical > tbody > tr > td{
	text-align: left;
}

.tabla_horizontal{
	border: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

.tabla_horizontal > tbody > tr > th{
	background: #EEE;
	border-bottom: solid 1px #CCC;
	border-right: solid 1px #CCC;
    padding: 5px;
    text-align: center;
}

.tabla_horizontal > tbody > tr > td:last-child{
	border-right: solid 1px #CCC;
}

.tabla_horizontal > tbody > tr > td{
	border-bottom: solid 1px #CCC;
	padding: 5px;
    text-align: center;
}

.tabla_horizontal > tbody > tr:hover td{
	background: #EEE;
}

.left{
	text-align: left !important;
}

.right{
	text-align: right !important;
}

.center{
	text-align: center !important;
}

.top{
	vertical-align: top !important;
}

.legenda{
	margin: 0px 10px 10px;
}

.legenda th span {
	margin: 5px;
	border-bottom: solid 1px #CCC;
	display: block;
	padding: 5px;
}

.legenda *{
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal .legenda *{
	font-size: 11px;
}

.fotos_moderar {
	overflow: hidden;
}

.fotos_moderar > div {
	float: left;
	width: calc( 50% - 20px );
	height: 190px;
	box-sizing: border-box;
	margin: 10px;
	background-color: #000;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

.fotos_moderar input {
	position: absolute;
	top: 10px;
	right: 10px;
}

.botones_container {
    border-top: solid 1px #CCC;
    margin: 5px 0px;
    padding: 10px 0px;
    text-align: right;
}

.botones_container input {
	border: solid 1px #CCC;
    background: #CCC;
    padding: 10px 20px;
    cursor: pointer;
	box-shadow: 0px 0px 0px #CCC;
}

.botones_container input:hover {
	background: #dfdfdf;
	box-shadow: 0px 0px 0px #CCC;
}

.botones_container input:focus {
	box-shadow: 0px 0px 0px #CCC;
}

.img{
    margin: 4px;
	max-width: 270px;
    max-height: 182px;
}

.img_vista{    
	margin: 4px;
    max-width: 90%;
    max-height: 90%;
}

.img_collage{
	max-width: 270px;
    max-height: 190px;
    margin: 4px;
}

#fondo{
	display: none;
}

#base_table{
	position: fixed;
	top: -99999999999999999999px;
	display: inline-block; 
	background-color: #CCC; 
	padding: 0px; 
	margin: 20px; 
	border: solid 1px #CCC; 
	border-radius: 4px;
}

#myCanvas{
	position: fixed;
	top: -99999999999999999999px;
}

input[type=checkbox]:checked:before {
	margin: 0px -2px;
    font-size: 30px;
}

input[type=checkbox] {
    height: 30px !important;
    width: 30px !important;
}