@font-face {font-family: 'PoetsenOne';src: url('../font/PoetsenOne-Regular.ttf')  format('truetype');}
@font-face {font-family: 'CaviarDreams';src: url('../font/CaviarDreams.ttf')  format('truetype');}
@font-face {font-family: 'CaviarDreamsBold';src: url('../font/CaviarDreams_Bold.ttf')  format('truetype');}
section{clear: both;}
strong{font-weight: 900;}

/***************************************/
/*  Global	                           */
/***************************************/
.container-fluid{
	padding: 0px!important;
	margin: 0px!important;
	width: 100%!important;
}
.simple-black{
  font-size: 30px;
  font-family: "CaviarDreamsBold", sans-serif;
}
.simple-purple{
  font-size: 35px;
  font-family: "CaviarDreamsBold", sans-serif;
  color: #6b1b9b;
}
.bold-white{
  font-size: 35px;
  font-family: "CaviarDreamsBold", sans-serif;
  color: white;
}
.simple-white{
  font-family: "CaviarDreams", sans-serif;
  color: white;
}
.button{
  margin-top: 30px;
  font-size: 30px;
  font-family: "CaviarDreamsBold", sans-serif;
  background: linear-gradient(#ff960e, #edbd31);
	display: inline-block;
	padding: 25px 30px;
	border-radius: 70px;
	color: white;
}

/***************************************/
/*  Section-1                          */
/***************************************/
#section-1{
    background-image: url(../img/cabecera-fondo.png);
    background-size: cover;
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    font-family: 'PoetsenOne', sans-serif;
}
.cabecera{
  float: right;
  margin-top: 1.2%;
  margin-right: 2%;
}
.cabecera-img{
  width: 20%;
  float: right;
}

/***************************************/
/*  Section-2                          */
/***************************************/
#section-2{
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  width: 100%;
  height: 620px;
  background-repeat: no-repeat;
}

/***************************************/
/*  Section-3                          */
/***************************************/
.header-text{
  margin-top: 30px;
}

/***************************************/
/*  Section-4                          */
/***************************************/
.top-row{
  margin-top: 50px;
}
.bot-row{
  margin-top: 50px;
}
.info{
  display: inline-block;
  float: left;
  width: 50%;
}
.info-img-1{
  width: 25%;
}
.info-img-2{
  width: 23%;
}
.info-img-3{
  width: 21%;
}
.info-img-4{
  width: 32%;
}
.info-text{
  font-size: 25px;
  margin-top: 20px;
}
.separador{
  width: 100%;
  height: 5px;
}

/***************************************/
/*  Section-5                          */
/***************************************/
#section-5{
  background-image: url(../img/cabecera-fondo.png);
  background-size: cover;
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
}
.reserva-separador{
  padding-top: 30px;
}
.separador-text{
  font-size: 50px;
}

/***************************************/
/*  Section-6                          */
/***************************************/
.reserva{
  float: left;
  display: inline-block;
  width: 30%;
  margin-left: 1%;
  margin-top: 30px;
}
.reserva-img-1{
  width: 60%;
}
.reserva-img-2{
  width: 60%;
  margin-top: 25px;
}
.reserva-img-3{
  width: 35%;
}
.reserva-img-num-1{
  position: absolute;
  left: 6%;
  width: 3.5%;
}
.reserva-img-num-2{
  position: absolute;
  left: 36%;
  width: 3.5%;
}
.reserva-img-num-3{
  position: absolute;
  left: 66%;
  width: 3.5%;
}
.reserva-text{
  font-size: 20px;
  margin-top: 20px;
}

/***************************************/
/*  Section-7                          */
/***************************************/
.embed-responsive{
  width: 55%;
  height: 500px;
  position: absolute;
  left: 20%;
  margin-top: 3%;
}

/***************************************/
/*  Section-8                          */
/***************************************/
#section-8{
  background-image: url(../img/promesa-img.jpg);
  background-size: cover;
  width: 100%;
  height: 850px;
  background-repeat: no-repeat;
  margin-top: 360px;
}
.promesa-text{
  padding-top: 640px;
  font-size: 40px;
}
.promesa-bold{
  font-size: 40px;
}

/***************************************/
/*  Media                              */
/***************************************/
@media (min-width: 280px) and (max-width: 380px) {
	/*Global*/
	.simple-black{font-size: 25px; line-height: 115%;}
	.simple-purple{font-size: 20px;}
	.button{margin-top: 2%; font-size: 17px; padding: 15px 30px;}
	/*Section 1*/
	#section-1{height: 50px;}
	.cabecera{margin-top: 3%; margin-right: 8%;}
	.cabecera-img{width: 25%;}
	/*Section 2*/
	#section-2{height: 300px;}
	/*Section 3*/
	.header-text{margin-top: 2%}
	/*Section 4*/
	.top-row{margin-top: 40px;}
	.bot-row{margin-top: 0px;}
	.info{float: none; width: 80%;margin-left: 10%; margin-bottom: 20px;}
	.info-img-1{width: 50%;}
	.info-img-2{width: 48%;}
	.info-img-3{width: 46%;}
	.info-img-4{width: 50%;}
	.info-text{font-size: 20px;}
	.separador{height: 2px; margin-bottom: 20px;}
	/*Section 5*/
	#section-5{height: 120px;}
	.reserva-separador{padding-top: 22px;}
	.separador-text{font-size: 25px;}
	/*Section 6*/
	.reserva{float:none; display: block; width: 100%; margin-left: 0%;}
	.reserva-img-num-1{left: 12%; width: 13%;}
	.reserva-img-num-2{left: 12%; width: 13%;}
	.reserva-img-num-3{left: 12%; width: 13%;}
	/*Section 7*/
	.embed-responsive{width: 80%; height: 200px; left: 10%; margin-top: 10%;}
	/*Section 8*/
	#section-8{height: 300px; margin-top: 220px;}
	.promesa-text{padding-top: 50px; font-size: 20px;}
	.promesa-bold{font-size: 24px;}
}
@media (min-width: 381px) and (max-width: 480px) {
	/*Global*/
	.simple-black{font-size: 25px; line-height: 115%;}
	.simple-purple{font-size: 20px;}
	.button{margin-top: 2%; font-size: 17px; padding: 15px 30px;}
	/*Section 1*/
	#section-1{height: 60px;}
	.cabecera{margin-top: 3%; margin-right: 8%;}
	.cabecera-img{width: 25%;}
	/*Section 2*/
	#section-2{height: 300px;}
	/*Section 3*/
	.header-text{margin-top: 2%}
	/*Section 4*/
	.top-row{margin-top: 40px;}
	.bot-row{margin-top: 0px;}
	.info{float: none; width: 80%;margin-left: 10%; margin-bottom: 20px;}
	.info-img-1{width: 50%;}
	.info-img-2{width: 48%;}
	.info-img-3{width: 46%;}
	.info-img-4{width: 50%;}
	.info-text{font-size: 20px;}
	.separador{height: 2px; margin-bottom: 20px;}
	/*Section 5*/
	#section-5{height: 120px;}
	.reserva-separador{padding-top: 22px;}
	.separador-text{font-size: 25px;}
	/*Section 6*/
	.reserva{float:none; display: block; width: 100%; margin-left: 0%;}
	.reserva-img-num-1{left: 12%; width: 13%;}
	.reserva-img-num-2{left: 12%; width: 13%;}
	.reserva-img-num-3{left: 12%; width: 13%;}
	/*Section 7*/
	.embed-responsive{width: 80%; height: 200px; left: 10%; margin-top: 10%;}
	/*Section 8*/
	#section-8{height: 300px; margin-top: 220px;}
	.promesa-text{padding-top: 50px; font-size: 20px;}
	.promesa-bold{font-size: 24px;}
}
@media (min-width: 481px) and (max-width: 580px) {
	/*Global*/
	.simple-black{font-size: 28px; line-height: 115%;}
	.simple-purple{font-size: 24px;}
	.button{margin-top: 2%; font-size: 20px; padding: 15px 30px;}
	/*Section 1*/
	#section-1{height: 80px;}
	.cabecera{margin-top: 3%; margin-right: 8%;}
	.cabecera-img{width: 25%;}
	/*Section 2*/
	#section-2{height: 400px;}
	/*Section 3*/
	.header-text{margin-top: 2%}
	/*Section 4*/
	.top-row{margin-top: 40px;}
	.bot-row{margin-top: 0px;}
	.info{float: none; width: 80%;margin-left: 10%; margin-bottom: 20px;}
	.info-img-1{width: 50%;}
	.info-img-2{width: 48%;}
	.info-img-3{width: 46%;}
	.info-img-4{width: 50%;}
	.info-text{font-size: 25px;}
	.separador{height: 2px; margin-bottom: 20px;}
	/*Section 5*/
	#section-5{height: 120px;}
	.reserva-separador{padding-top: 18px;}
	.separador-text{font-size: 30px;}
	/*Section 6*/
	.reserva{float:none; display: block; width: 100%; margin-left: 0%;}
	.reserva-img-num-1{left: 12%; width: 13%;}
	.reserva-img-num-2{left: 12%; width: 13%;}
	.reserva-img-num-3{left: 12%; width: 13%;}
	/*Section 7*/
	.embed-responsive{width: 80%; height: 350px; left: 10%; margin-top: 10%;}
	/*Section 8*/
	#section-8{height: 500px; margin-top: 380px;}
	.promesa-text{padding-top: 150px; font-size: 30px;}
	.promesa-bold{font-size: 34px;}
}
@media (min-width: 581px) and (max-width: 765px) {
	/*Global*/
	.simple-black{font-size: 30px; line-height: 115%;}
	.simple-purple{font-size: 35px;}
	.button{margin-top: 2%; font-size: 30px; padding: 15px 30px;}
	/*Section 1*/
	#section-1{height: 100px;}
	.cabecera{margin-top: 3%; margin-right: 8%;}
	.cabecera-img{width: 25%;}
	/*Section 2*/
	#section-2{height: 500px;}
	/*Section 3*/
	.header-text{margin-top: 2%}
	/*Section 4*/
	.top-row{margin-top: 40px;}
	.bot-row{margin-top: 0px;}
	.info{float: none; width: 80%;margin-left: 10%; margin-bottom: 20px;}
	.info-img-1{width: 50%;}
	.info-img-2{width: 48%;}
	.info-img-3{width: 46%;}
	.info-img-4{width: 50%;}
	.info-text{font-size: 30px;}
	.separador{height: 2px; margin-bottom: 20px;}
	/*Section 5*/
	#section-5{height: 150px;}
	.reserva-separador{padding-top: 20px;}
	.separador-text{font-size: 35px;}
	/*Section 6*/
	.reserva{float:none; display: block; width: 80%; margin-left: 10%;}
	.reserva-img-num-1{left: 12%; width: 13%;}
	.reserva-img-num-2{left: 12%; width: 13%;}
	.reserva-img-num-3{left: 12%; width: 13%;}
	/*Section 7*/
	.embed-responsive{width: 80%; height: 450px; left: 10%; margin-top: 10%;}
	/*Section 8*/
	#section-8{height: 500px; margin-top: 480px;}
	.promesa-text{padding-top: 100px; font-size: 35px;}
	.promesa-bold{font-size: 38px;}
}
@media (min-width: 766px) and (max-width: 999px) {
	/*Global*/
	.simple-black{font-size: 30px; line-height: 115%;}
	.simple-purple{font-size: 35px;}
	.button{margin-top: 2%; font-size: 30px; padding: 15px 30px;}
	/*Section 1*/
	#section-1{height: 110px;}
	.cabecera{margin-top: 3%; margin-right: 8%;}
	.cabecera-img{width: 25%;}
	/*Section 2*/
	#section-2{height: 500px;}
	/*Section 3*/
	.header-text{margin-top: 2%}
	/*Section 4*/
	.top-row{margin-top: 40px;}
	.bot-row{margin-top: 0px;}
	.info{float: none; width: 80%;margin-left: 10%; margin-bottom: 20px;}
	.info-img-1{width: 50%;}
	.info-img-2{width: 48%;}
	.info-img-3{width: 46%;}
	.info-img-4{width: 50%;}
	.info-text{font-size: 30px;}
	.separador{height: 2px; margin-bottom: 20px;}
	/*Section 5*/
	#section-5{height: 150px;}
	.reserva-separador{padding-top: 50px;}
	.separador-text{font-size: 35px;}
	/*Section 6*/
	.reserva{float:none; display: block; width: 80%; margin-left: 10%;}
	.reserva-img-num-1{left: 12%; width: 13%;}
	.reserva-img-num-2{left: 12%; width: 13%;}
	.reserva-img-num-3{left: 12%; width: 13%;}
	/*Section 7*/
	.embed-responsive{width: 80%; height: 450px; left: 10%; margin-top: 10%;}
	/*Section 8*/
	#section-8{height: 500px; margin-top: 480px;}
	.promesa-text{padding-top: 100px; font-size: 35px;}
	.promesa-bold{font-size: 38px;}
}
@media (min-width: 1000px) and (max-width: 1280px){
	/*Global*/
	.simple-black{font-size: 30px; line-height: 115%;}
	.simple-purple{font-size: 35px;}
	.button{margin-top: 2%; font-size: 30px; padding: 15px 30px;}
	/*Section 1*/
	#section-1{height: 110px;}
	.cabecera{margin-top: 3%; margin-right: 8%;}
	.cabecera-img{width: 25%;}
	/*Section 2*/
	#section-2{height: 500px;}
	/*Section 3*/
	.header-text{margin-top: 2%}
	/*Section 4*/
	.top-row{margin-top: 40px;}
	.bot-row{margin-top: 0px;}
	.info{float: none; width: 80%;margin-left: 10%; margin-bottom: 20px;}
	.info-img-1{width: 50%;}
	.info-img-2{width: 48%;}
	.info-img-3{width: 46%;}
	.info-img-4{width: 50%;}
	.info-text{font-size: 30px;}
	.separador{height: 2px; margin-bottom: 20px;}
	/*Section 5*/
	#section-5{height: 150px;}
	.reserva-separador{padding-top: 50px;}
	.separador-text{font-size: 35px;}
	/*Section 6*/
	.reserva{float:none; display: block; width: 80%; margin-left: 10%;}
	.reserva-img-num-1{left: 12%; width: 13%;}
	.reserva-img-num-2{left: 12%; width: 13%;}
	.reserva-img-num-3{left: 12%; width: 13%;}
	/*Section 7*/
	.embed-responsive{width: 80%; height: 450px; left: 10%; margin-top: 10%;}
	/*Section 8*/
	#section-8{height: 500px; margin-top: 480px;}
	.promesa-text{padding-top: 100px; font-size: 35px;}
	.promesa-bold{font-size: 38px;}
}
