/* LANDING PASEOS */

	#msg_paseos{
		display: none;
	}

	#msg_paseos .mesaje_reserva_inmediata_container {
	    padding: 30px 44px 30px !important;
	}

	#msg_paseos .mesaje_reserva_inmediata_izq {    
		background-image: url(../img/BUSQUEDA/SVG/Fecha_msg.svg);
	    background-color: #ffd62c;
	    border-radius: 50%;
	    width: 35px;
	    height: 35px;
	    border: solid 1px #000;
	}

	#msg_paseos .mesaje_reserva_inmediata_der {
    	padding: 0px 20px;
	}

/* MENU */

	.nav>li>a>img {
	    max-width: none;
	    height: 40px !important;
	    width: 40px !important;
	}

/* CONTENEDORES PRINCIPALES */
	
	footer{
		display: none !important;
	}

	.busqueda_container{
		position: fixed;
		top: 56px;
		z-index: 0;
		width: 100vw;
		height: calc( 100vh - 56px );
		box-sizing: border-box;
	}

	.filtos_container{
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 300px;
	    height: 100%;
	    box-sizing: border-box;
	    background-color: #FFF;
	    border-right: 0px;
	    padding: 0px;
	    transition: all .3s ease-in-out;
	    z-index: 101;
	}

	.filtos_container form {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	    padding: 10px;
	}

	.resultados_container{
		position: absolute;
		left: 300px;
		top: 0px;
		width: calc( 100vw - 650px );
		height: 100%;
		
		background-color: #FFF;
	    overflow: auto;
	}

	.mapa_container{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 350px;
		height: 100%;
		transition: all .3s ease-in-out;
		background: #FFF;
	    z-index: 999;
	}

/* FILTROS */
	
	.cerrar_filtros_movil, .cerrar_mapa_movil{
		display: none;
	}

	/* SERVICIOS PRINCIPALES */

		.servicios_principales_container{
		    margin-bottom: 15px;
		}

		.input_check_box {
			position: relative;
		    display: inline-block;
		    width: calc( 25% - 15px );
		    border: solid 1px #CCC;
		    height: 70px;
		    margin-right: 10px;
		    border-radius: 5px;
		    cursor: pointer;
		    padding: 5px 0px;
		}

		.input_check_box input {
		    display: none;
		}

		.adicionales_container .input_check_box input {
		    display: inline-block;
		    position: absolute;
		    top: 6px;
		    right: 10px;
		    width: 20px;
		    height: 20px;
		}

		.input_check_box img {
		    display: block;
		    margin: 2px auto;
		    height: 24px;
		}

		.input_check_box span {
		    color: #828282;
		    font-weight: 400;
		}

		.input_check_box .top_check {
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 5px;
		    background-color: #00d2c6;
		    border-radius: 5px 5px 0px 0px;
		    transition: all .3s ease-in-out;
		    opacity: 0;
		}

		.input_check_box input:checked ~ .top_check {
		    border: solid 2px #00d2c6;
	        opacity: 1;
		}

		.input_check_box:last-child {
		    margin-right: 0px;
		}

		.adicionales_container .input_check_box input:checked ~ .top_check {
		    border: solid 1px #CCC;
		}

	/* UBICACION */

		.ubicacion_container{
		    position: relative;
		    display: inline-block;
		    width: 100%;
		    box-sizing: border-box;
		    margin-right: 10px;
		}

		.ubicacion_container input {
			width: 100%;
			border: solid 1px #CCC;
			height: 40px;
			border-radius: 5px;
			box-sizing: border-box;
			padding: 0px 40px 0px 35px;
			font-size: 13px;
			font-family: 'Lato', sans-serif;
			color: #777;
			outline: none;
		}

		.ubicacion_container small,
		.fechas_container small {
		    position: absolute;
		    left: 0px;
		    width: 100%;
		    display: inline-block;
		    padding: 2px;
		    color: red;
		    display: none;
		}

		.ubicacion_container img {
			height: 20px;
		}

		img.mi_ubicacion {
		    position: absolute;
		    top: 11px;
		    right: 10px;
		    z-index: 100;
		}

		.ubicacion_container .ubicacion_gps,
		.ubicacion_container .ubicacion_localizacion
		{
			position: absolute;
			top: 0px;
		}

		.ubicacion_container .ubicacion_localizacion{
			left: 12px;
			top: 10px;
		}

		.ubicacion_container .ubicacion_gps{
			right: 0px;
			cursor: pointer;
			font-size: 20px;
			color: #00d2c6;
			height: 100%;
			padding: 11px 12px;
			left: auto!important;
		}

		.ubicacion_container .barra_ubicacion{
			position: absolute;
			right: 40px;
			border-left: solid 1px #CCC;
			top: 0px;
			height: 100%;
			width: 0px;  
		}

		#ubicacion_list{
			overflow: auto;
		    max-height: 200px;
		    padding: 10px;
		}


		.ubicacion_list_hover {
			display: block !important;
		}

		.ubicacion_list li {
		    padding: 2px 10px;
		    margin: 0;
		    line-height: 17px;
		    font-size: 10px !important;
		    text-align: left;
		    cursor: pointer;
		}

		#ubicacion_list li:hover {
			background: #DDD;
		}

		.cerrar_list_box{
			display: none;
			position: absolute;
		    top: 43px;
		    left: -1px;
		    width: calc( 100% + 2px );
		    z-index: 99999999999999;
		    border: 1px solid #e5e5e5;
		    border-radius: 0px 0px 5px 5px;
		    background: #FFF;
		    min-height: 50px;
		}

		.cerrar_list {
		    position: absolute;
		    top: 0px;
		    right: 5px;
		    padding: 10px 20px 15px !important;
		    font-size: 20px !important;
		    z-index: 999999999999999999 !important;
		}

		.error_fecha input {
			border: solid 1px red !important;
		}

		.error_fecha small{
			display: block;
		}

	/* TIPO MASCOTA */

		.tipo_mascota_container{
		    display: inline-block;
		    width: 100%;
		    box-sizing: border-box;
		    margin-right: 0px;
		    vertical-align: top;
		    margin-bottom: 5px;
		}

		.tipo_mascota_container input {
			width: 100%;
		}

		.tipo_mascota_container .input_check_box {
		    width: calc( 50% - 7px );
		    height: 35px;
		    vertical-align: middle;
		    padding: 0px;
		    text-align: center;
		}

		.tipo_mascota_container .input_check_box * {
		    vertical-align: middle;
		}

		.tipo_mascota_container .input_check_box img {
		    display: inline-block;
		    margin: 8px 12px 8px 0px;
		    height: 30px;
		}

		.tipo_mascota_container .input_check_box span {
		    display: block;
		    padding: 5px 0px;
		    font-size: 16px;
		    text-align: center;
		}


	/* FECHAS */

		.fechas_container {
		    display: block;
		    width: 100%;
		    box-sizing: border-box;
		    margin-right: 0px;
		    padding: 15px 0px 0px;
		}

		.fechas_container > div {
		    position: relative;
		    display: inline-block;
		    width: 100%;
		    margin-bottom: 15px;
		}

		.fechas_container input {
			width: 100%;
			border: solid 1px #CCC;
			height: 40px;
			border-radius: 5px;
			box-sizing: border-box;
			padding: 0px 0px 0px 35px;
			font-size: 13px;
			font-family: 'Lato', sans-serif;
			color: #777;
			outline: none;
		}

		#desde_container{
		    margin-right: 15px;
		}

		.fechas_container img {
			height: 17px;
		}

		.fechas_container .icon_fecha{
			position: absolute;
			top: 11px;
			cursor: pointer;
			left: 10px;
		}

		.filtros_botones{
			text-align: center;
		}

		.filtros_botones button {
			border: solid 1px #CCC;
			border-radius: 0px;
			width: calc( 50% - 15px );
			margin: 15px 5px;
			padding: 5px 10px;
			border-radius: 3px;
		}

		.filtros_botones button.boton.boton_verde {
		    border: solid 1px #00d2c6;
		}

	/* TAMAÑOS */

		.tamanios_container {
		    display: block;
		    width: 100%;
		    box-sizing: border-box;
		    margin-right: 0px;
		    padding-left: 0px;
		    overflow: hidden;
		    margin-bottom: 5px;
		}

		.tamanios_container .input_check_box{
		    padding: 4px 0px;
		    box-sizing: border-box;
		    float: left;
		    width: calc( 50% - 5px );
		    text-align: center;
		    border: 0px;
		}

		.input_check_box span small {
		    display: block;
		}

		.tam_label_pc{
			display: inline-block;
		}

		.tam_label_movil{
			display: none;
		}

		.tamanios_container .input_check_box .top_check {
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    background-color: transparent;
		    border-radius: 5px;
		    transition: all .3s ease-in-out;
		    opacity: 1;
    		border: solid 1px #ccc;
		}

	/* ADICIONALES */

		.adicionales_container {
		    margin-top: 10px;
		}
		
		.adicionales_container .input_check_box{
			padding: 5px 2px;
			box-sizing: border-box;
			float: left;
			width: 100%;
			text-align: left;
			height: 40px;
			margin-right: 0px;
			border: 0px;
		}
		
		.adicionales_container .input_check_box img {
		    display: inline-block;
		    margin: 2px 5px;
		    height: 26px;
		}

		.adicionales_container .input_check_box span small {
		    display: inline-block;
		}

		.adicionales_container .input_check_box .top_check {
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    background-color: transparent;
		    border-radius: 5px;
		    transition: all .3s ease-in-out;
		    opacity: 1;
    		border: solid 1px #CCC;
		}

		.adicionales_container .input_check_box span small {
		    color: #a650c2;
		}

	/* ORDENAMIENTOS */

		.titulo_ordenamiento{
			margin-top: 10px;
		    font-size: 11px;
		    font-family: Gotham-Pro-Bold;
		    margin-bottom: 0px;
		}

		.filtros_ordenamiento{
			margin: 10px 0px;
			border: solid 1px #CCC;
			width: 100%;
			padding: 10px;
			outline: none;
		    margin-top: 0px;
		}

		.mas_filtros{
		    display: block;
		    color: #00d2c6;
		    font-weight: 600;
		    font-size: 16px;
		    padding-top: 10px;
		}

		.filtros_botones{
			display: none;
		}

	/* NOMBRE */

	input#nombre {
	    border-color: #00d2c6;
	}

/* RESULTADOS */

	/* DEBUG */

		.resultados_container pre {
			overflow: initial !important;
			background-color: #FFF;
			border: 0px;
		}

	/* Favoritos */

		/*.favorito{
			position: absolute;
			top: 10px;
			right: 10px;
			width: 25px;
			z-index: 100;
			cursor: pointer;
			background: rgba(0,0,0,0.4);
			padding: 3px;
			border-radius: 5px;
		}*/

		.favorito {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 35px;
		    height: 35px;
			padding: 4px;
			border-radius: 3px;
			background: url(../img/BUSQUEDA/SVG/iconos/Corazon_Azul.svg) no-repeat center center;
			background-size: 55%;
		}

		.favorito.favoritos_delete {
			background-image: url(../img/BUSQUEDA/SVG/iconos/Corazon_Amarillo.svg);
		}

		.destacados_item .favorito{
			top: 5px;
			right: 10px;
		}

		.resultados_item_info_img_container img.favorito {
			display: none;
		}
	
	/* Barra */
	
		.resultados_container::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 0px;
			background-color: #F5F5F5;
		}

		.resultados_container::-webkit-scrollbar{
			width: 5px;
			background-color: #F5F5F5;
		}

		.resultados_container::-webkit-scrollbar-thumb{
			border-radius: 0px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: #00d2c6;
		}
	
	/* Barra */
	
		#buscar::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 0px;
			background-color: #F5F5F5;
		}

		#buscar::-webkit-scrollbar{
			width: 5px;
			background-color: #F5F5F5;
		}

		#buscar::-webkit-scrollbar-thumb{
			border-radius: 0px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: #00d2c6;
		}

	/* MENSAJE RESERVA INMEDIATA */

		.mesaje_reserva_inmediata_container{
			display: table;
			width: 100%;
		    padding: 20px 30px;
		}

		.mesaje_reserva_inmediata_izq{
		    display: table-cell;
		    width: 60px;
    		height: 60px;
		    background-size: 60%;
		    background-position: center;
		    background-repeat: no-repeat;
		    vertical-align: middle;
		    background-image: url(../img/BUSQUEDA/SVG/iconos/Reserva_Inmediata.svg);
		}

		.mesaje_reserva_inmediata_der{
			display: table-cell;
		    vertical-align: middle;
		    text-align: left;
		    padding: 0px 10px;
		    font-size: 13px;
		    color: #747474;
		}

		.mesaje_reserva_inmediata_der strong {
		    color: #000;
		}

	/* DESTACADOS */

		div#seccion_destacados {
		    position: relative;
		}

		#seccion_destacados .Flecha_Izquierda,
		#seccion_destacados .Flecha_Derecha {
		    height: auto;
		    top: 110px;
		    border: solid 1px #CCC;
		    padding: 10px;
		    background: #FFF;
	        z-index: 999999999;
		}

		#seccion_destacados .Flecha_Izquierda {
		    left: 0px;
		    border-radius: 0px 3px 3px 0px;
		    border-left: 0px;
		}

		#seccion_destacados .Flecha_Derecha {
		    right: 0px;
		    border-radius: 3px 0px 0px 3px;
		    border-right: 0px;
		}

		#seccion_destacados .Flecha_Derecha img,
		#seccion_destacados .Flecha_Izquierda img
		{
		    width: 20px;
		    height: 20px;
		}

		.destacados_container {
			position: relative;
		    height: 275px;
		    overflow: hidden;
		    width: 100%;
		    box-sizing: border-box;
		    padding: 10px 30px;
		}

		.destacados_box {
			height: 100%;
		    white-space: nowrap;
	        position: relative;
		}

		.destacados_item {
		    height: 100%;
		    width: calc( 25% + 2px );
		    box-sizing: border-box;
		    padding-right: 8px;
		    display: inline-block;
		    position: relative;
		}

		.destacados_item .desacado_img {
			width: 100%;
			height: 100px;
		    overflow: hidden;
		}

		.destacados_item .desacado_img_interna {
			width: 100%;
			height: 100%;
			border-radius: 5px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			filter: blur(1px);
		}

		.destacados_item .desacado_img_normal {
			border-radius: 5px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			position: absolute;
			top: 5px;
			left: 0px;
			width: 100%;
			height: 90px;
		}

		.destacados_item .desacado_favorito {
			
		}

		.destacados_item .desacado_title {
		    font-size: 14px;
		    font-weight: bold;
		    text-transform: uppercase;
		    padding: 5px 0px;
		    vertical-align: middle;
		}

		.destacados_item .desacado_title span {
		    background-color: #008bf5;
		    padding: 2px 5px;
		    color: #FFF;
		    font-size: 9px;
		    vertical-align: middle;
		    border-radius: 3px;
		    margin-right: 3px;
		}

		.destacados_item .desacado_experiencia {
			font-size: 11px;
			padding: 0px 0px 5px;
		}

		.destacados_item .desacado_monto {
		    font-size: 13px;
			padding: 0px;
		}

		.destacados_item .desacado_ranking_container .km-ranking a.active {
		    background-image: url(../img/BUSQUEDA/SVG/Huesito_Amarillo.svg);
		}

		.destacados_item .desacado_boton_reservar {
			display: block;
			border-radius: 3px;
			text-align: center;
			color: #FFF;
			font-weight: 600;
			background-color: #00d2c6;
		    padding: 5px;
		    cursor: pointer;
		}

		a.desacado_reservar_abs {
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    z-index: 9999;
		}

	/* CANTIDAD DE RESULTADOS */

	 	.cantidad_resultados_container {
		    box-sizing: border-box;
		    padding: 0px 30px;
		    font-size: 15px;
		}

	/* CUIDADORES */

		.resultados_box {
		    margin-top: 15px;
		}

		.resultado_item{
			position: relative;
			border: solid 1px #CCC;
			padding: 5px;
			margin: 0px 24px 15px;
			box-sizing: border-box;
			box-shadow: 1px 1px 1px #CCC;
		}

		.resultado_item .resultados_hover {
			display: none;
		    position: absolute;
		    top: -2px;
		    left: -2px;
		    width: 5px;
		    height: calc( 100% + 3px );
		    background-color: #7c169e;
		}

		.resultado_item:hover .resultados_hover {
			display: block;
		}

		.resultado_item_container{
		    padding: 5px;
		}

		.resultados_item_top{

		}

		.resultados_item_iconos_container{
			display: table;
			width: 100%;
		    margin-bottom: 15px;
		}

		.resultados_item_icono{
			display: table-cell;
			vertical-align: top;
		}

		.resultados_item_icono span{
			display: block;
		    border: solid 1px #CCC;
		    border-radius: 3px;
		    background: #EEE;
		    padding: 5px 40px;
		    box-sizing: border-box;
		}

		.icono_disponibilidad{

		}

		.icono_flash, .icono_descuento, .icono_geo{
			position: relative;
			width: 50px;
		}

		.icono_flash span, .icono_descuento span, .icono_geo span{
			display: block;
			padding: 0px;
			height: 30px;
			margin-left: 5px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 50%;

		}

		.icono_flash, .icono_descuento{
			
		}

		.icono_disponibilidad span{
			background-image: url(../img/BUSQUEDA/SVG/iconos/Disponible.svg);
		    background-position: 11px center;
		    background-repeat: no-repeat;
		    background-size: 17px;
		}

		.icono_flash span{
			background-image: url( ../img/BUSQUEDA/SVG/iconos/Reserva_Inmediata.svg );			
		}

		.icono_descuento span{
			background-image: url( ../img/BUSQUEDA/SVG/iconos/Descuento.svg );
		}

		.icono_geo span{
			background-image: url( ../img/BUSQUEDA/SVG/iconos/Geo.svg );
		}

		.ocultar_flash span {
		    background-image: url();
    		color: #EEE;
		}

		.ocultar_flash_none, .ocultar_descuento, .ocultar_flash_descuento, .ocultar_geo{
			display: none;
		}

		.show_msg_descuento span {
		    background-image: url();
		    color: #000 !important;
		    padding: 5px !important;
		}

		.show_msg_descuento span > .msg_largo {
			display: none;
		}

		.show_msg_descuento span > .msg_corto {
			display: block;
		}

		.full_width .show_msg_descuento span > .msg_largo {
			display: block;
		}

		.full_width .show_msg_descuento span > .msg_corto {
			display: none;
		}

		.resultados_item_middle{

		}

		.resultados_item_info_container {
		    display: table;
		    width: 100%;
		}

		.resultados_item_info_img_container {
		    position: relative;
		    height: 130px;
		    overflow: hidden;
		    width: 150px;
		    box-sizing: border-box;
		    display: table-cell;
		    vertical-align: top;
		}

		.resultados_item_info_img_container .resultados_item_info_img_box {
			height: 100%;
		    white-space: nowrap;
	        position: relative;
            display: block;
		}

		.resultados_item_info_img_container .resultados_item_info_img_box .resultados_item_info_img {
			position: relative;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			display: inline-block;
    		width: 100%;
    		overflow: hidden;
		}

		.resultados_item_info_img .img_fondo {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			display: inline-block;
    		width: 100%;
		}

		.resultados_item_info_img .img_normal {
			position: absolute;
			top: 5px;
			left: 5px;
			height: calc( 100% - 10px );
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			display: inline-block;
			width: calc( 100% - 10px );
		}

		.resultados_item_info {
		    display: table-cell;
		    vertical-align: top;
		    padding-left: 10px;
		    position: relative;
		}

		.resultados_item_titulo {
		    font-size: 18px;
		    font-weight: 600;
		    text-transform: uppercase;
		    color: #000;
		}

		.resultados_item_titulo span {
		    font-weight: 400;
		    font-size: 16px;
		}

		.resultados_item_subtitulo {
		    font-size: 12px;
		    font-weight: 400;
	        padding: 0px 0px 3px;
		}

		.resultados_item_direccion {
		    font-size: 12px;
		    font-weight: 600;
	        padding: 0px 0px 3px;
            text-transform: capitalize;
		}

		.resultados_item_experiencia,
		.resultados_item_ranking_movil{
			display: none;
		}

		.resultados_item_servicios{
			padding: 5px 0px;	
		}

		.resultados_item_servicios img {
			height: 23px;
		}

		.huesitos_container{
			display: block;
	   		margin-top: 10px;
		}
		.huesitos_container .resultados_item_comentarios{
			margin-left: 0px;
		}

		.resultados_item_comentarios {
			display: inline-block;
			padding: 2px 5px;
			border: solid 1px #CCC;
			margin-left: 5px;
			font-size: 12px;
			color: #838383;
			border-radius: 2px;
		}

		.resultados_item_ranking {
		    display: inline-block;
		}

		.resultados_item_ranking .km-ranking a {
		    background-image: url(../img/BUSQUEDA/SVG/Huesito_gris.svg) !important;
		}

		.resultados_item_ranking .km-ranking a.active {
		    background-image: url(../img/BUSQUEDA/SVG/Huesito_azul.svg) !important;
		}

		.resultados_item_precio_container {
		    position: absolute;
		    top: 15px;
		    right: 0px;
		    text-align: right;
		}

		.resultados_item_precio_container > span {
		    color: #838383;
		    font-size: 13px;
		}

		.resultados_item_precio_container > div {
		    line-height: 1.1;
		    color: #7c169e;
		}

		.resultados_item_precio_container > div strong {
		    font-size: 35px;
		}

		.resultados_item_precio_container > div strong span {
		    font-size: 12px;
		}

		.resultados_item_valoraciones {
		    font-size: 12px;
		}

		.resultados_item_comentario{
			display: table;
			width: 100%;
			margin: 5px 0px 8px;
		}

		.resultados_item_comentario > div {
			vertical-align: middle;
		}

		.resultados_item_comentario_img{
			display: table-cell;
			width: 50px;
		}

		.resultados_item_comentario_avatar {
		    width: 45px;
		    height: 45px;
		    background-position: center;
		    background-size: cover;
		    border-radius: 50%;
		}

		.resultados_item_comentario_contenido{
		    display: table-cell;
    		font-size: 10px;
    		padding: 0px 5px;
		}

		.resultados_item_comentario_favorito{
			display: table-cell;
			width: 50px;
		}

		.resultados_item_comentario_favorito span{
			position: relative;
	        width: 40px;
			height: 40px;
			display: block;
			cursor: pointer;
			border: solid 2px #CCC;
			border-radius: 3px;
			box-sizing: border-box;
			padding: 0px;
		}

		.resultados_item_comentario_favorito span .favorito{
		    top: 2px;
    		right: 0px;
		    background-image: url(../img/BUSQUEDA/SVG/iconos/Corazon_Azul.svg);
		}

		.resultados_item_comentario_favorito span .favorito.favoritos_delete {
		    background-image: url(../img/BUSQUEDA/SVG/iconos/Corazon_Amarillo.svg);
		}

		.resultados_item_comentario_favorito span img {
		    width: 20px;
		    height: 20px;
		}

		.resultados_item_comentario_contenido a {
		    color: #00d2c6;
		    font-weight: 600;
		    padding-left: 5px;
		    display: inline-block;
		}

		.resultados_item_bottom{
			text-align: right;
			padding: 0px;
		}

		.resultados_item_bottom .boton{
			padding: 5px 10px;
			min-width: 125px;
			text-align: center;
			font-size: 11px;
			text-decoration: none !important;
			margin: 0px 3px;
		}

		.resultados_item_bottom .boton_verde{
			padding: 7px 10px;
		}

		.cargando_mas_resultados{
			padding: 15px;
			text-align: center;
			font-size: 35px;
		}

		.cargando_mas_resultados i.fa.fa-spinner.fa-spin {
		    color: #7c169e;
		}

		.cantidad_resultados_container.cantidad_resultados_fixed {
		    position: fixed;
		    top: 55px;
		    left: 300px;
		    width: calc( 100% - 655px );
		    background: #fff;
		    padding: 10px 25px;
		    z-index: 10;
		    box-shadow: 1px 0px 4px #CCC;
		}

		.boton_conocer_PC,
		.disponibilidad_PC {

		}

		.boton_conocer_MOVIl,
		.disponibilidad_MOVIl {
			display: none;
		}

		.disponibilidad_MOVIl{
			display: none !important;
		}

		.Flecha_Izquierda,
		.Flecha_Derecha{
			position: absolute;
			top: 70px;
			cursor: pointer;
			height: 20px;
		}

		.Flecha_Izquierda{
			left: 7px;
		}

		.Flecha_Derecha{
			right: 7px;
		}

		.Ocultar_Flecha{
			display: none;
		}

		form#buscar_2 {
		    display: none;
		}

		.filtro_check{
		    display: table;
		    width: 100%;
		    height: 40px;
		    padding: 0px;
		}

		.filtro_check > div{
			display: table-cell;
			vertical-align: middle;
			font-weight: 600;
			font-size: 13px;
		}

		.check_descuento{
			
		}

		.check_icon{
		    width: 25px;
		    background-position: left center;
		    background-size: 18px;
		    background-repeat: no-repeat;
		}

		.check_control{
		    width: 50px;
		    background-position: 0px 0px;
		    background-size: 100px 27px;
		    background-repeat: no-repeat;
		    cursor: pointer;
		}

/*		.check_control_off{
		    width: 40px;
		    background-position: right center;
		    background-size: 33px;
		    background-repeat: no-repeat;
		    cursor: pointer;
	        background-image: url(../img/BUSQUEDA/SVG/iconos/Boton_OFF.svg);
		}*/

		.check_descuento .check_icon{
	        background-image: url(../img/BUSQUEDA/SVG/iconos/Descuento.svg);
		}

		.check_disponibilidad .check_icon{
	        background-image: url(../img/BUSQUEDA/SVG/iconos/Reserva_Inmediata.svg);
		}

		.check_geo .check_icon{
	        background-image: url(../img/BUSQUEDA/SVG/iconos/Geo.svg);
		}

		.check_descuento .check_control{
	        background-image: url(../img/BUSQUEDA/PNG/Boton_descuento_2.png);
		}

		.check_disponibilidad .check_control{
	        background-image: url(../img/BUSQUEDA/PNG/Boton_R_Inmediata_2.png);
		}

		.check_geo .check_control{
	        background-image: url(../img/BUSQUEDA/PNG/Boton_Geo_2.png);
		}

		.check_geo .check_icon {    
			background-size: 23px;
		}

/*		.check_descuento .check_control_off,
		.check_disponibilidad .check_control_off{
			visibility: visible;
		}*/

		.check_descuento input:checked ~ .check_control,
		.check_disponibilidad input:checked ~ .check_control,
		.check_geo input:checked ~ .check_control{
			background-position: -50px 0px;
		}

/*		.check_descuento input:checked ~ .check_control{
			visibility: visible;
	        background-image: url(../img/BUSQUEDA/SVG/Boton_descuento.svg);
		}

		.check_disponibilidad input:checked ~ .check_control{
			visibility: visible;
	        background-image: url(../img/BUSQUEDA/SVG/Boton_R_Inmediata.svg);
		}*/

		.filtros_movil .boton.boton_gris{
			display: block;
    		text-align: center;
		}

		.destacados_container h2 {
		    font-family: 'Lato', sans-serif;
		    font-weight: 600;
		    font-size: 14px !important;
		    text-transform: uppercase;
		    color: #000;
		}

		.filtros_movil_cell input, .filtros_generales_container input {
			display: none;
		}

		.filtros_generales_container .filtro_check {
		    display: table;
		    width: 100%;
		    height: 45px;
		    padding: 0px;
		}

		.filtros_generales_container .check_icon {
		    width: 30px;
		}
/*
		.filtros_generales_container .check_control,
		.filtros_generales_container .check_control_off{
		    width: 50px;
		    background-size: 45px;
		}*/

		form#buscar_2 .filtros_movil .boton {
		    margin: 3px 0px;
		    padding: 8px 4px;
		    display: inline-block;
		    width: calc( 50% - 2px );
		    text-align: center;
		    color: #4b4b4b;
    		border-color: #CCC !important;
    		font-weight: 400;
		}

		form#buscar_2 .filtros_movil .boton_block {
		    display: block;
		    width: 100%;
		    font-weight: 600;
    		font-size: 10px;
		}

		form#buscar_2 .filtros_movil .boton img {
		    height: 16px;
		}

		form#buscar_2 .filtros_movil {
		    padding: 5px 0px 0px 10px;
		}

		.principales_container {
			position: relative;
			height: 65px;
		}

		.principales_container i {
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    z-index: 100;
		    font-size: 20px;
		    cursor: pointer;
		    padding: 17px 15px;
		    border-radius: 0px 5px 5px 0px;
		}

		/*.principales_container i:hover {
		    color: #FFF;
		    background-color: #49eada;
		}*/

		.principales_container .principales_box {
		    position: absolute;
		    top: 60px;
		    left: 0px;
		    width: 100%;
		    z-index: 999;
		    background: #FFF;
		    display: none;
		    opacity: 0;
		    transition: all .3s ease-in-out;
		}

		.principales_container .input_check_box {
			width: 100%;
			overflow: hidden;
			height: 55px;
			display: table;
			padding: 0px;
		}

		.principales_container .input_check_box .principales_img {
			display: table-cell;
			vertical-align: middle;
		    width: 60px;
		    text-align: center;
		    box-sizing: border-box;
		}

		.principales_container .input_check_box .principales_info {
		    display: table-cell;
		    vertical-align: middle;
		    width: calc( 100% - 60px );
		    text-align: left;
	        padding-top: 2px;
		    padding-left: 15px;
		}

		.principales_container .input_check_box .principales_info div {
		    color: #777;
		    font-weight: 500;
		}

		.principales_container .input_check_box .principales_info span {
		    color: #AAA;
		}

		.principales_container .input_check_box .principales_img {
		    background-size: 45%;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-color: #cdcdcd;
		}

		.principales_container .input_check_box input:checked ~ .principales_img {
		    background-color: #00d2c6;
		}

		.principales_container .input_check_box .principales_img.prin_icon_hospedaje {
		    background-image: url( ../img/BUSQUEDA/SVG/principales/hospedaje.svg );
		}

		.principales_container .input_check_box .principales_img.prin_icon_guarderia {
		    background-image: url( ../img/BUSQUEDA/SVG/principales/guarderia.svg );
		}

		.principales_container .input_check_box .principales_img.prin_icon_paseos {
		    background-image: url( ../img/BUSQUEDA/SVG/principales/paseos.svg );
		}

		.principales_container .input_check_box .principales_img.prin_icon_adiestramiento {
		    background-image: url( ../img/BUSQUEDA/SVG/principales/adiestramiento.svg );
		}

		h2.pocos_resultados {
		    color: #00d2c6;
		    font-size: 20px;
		    font-family: Gotham-Pro-Bold;
		    padding: 0px 30px;
		}

	/* PAGINACION */

		.paginacion_container{
			display: none;
			text-align: center;
			margin-top: 15px;
		}

		.paginacion_container span {
		    width: 26px;
		    display: inline-block;
		    text-align: center;
		    padding: 3px 0px;
		    background: #EEE;
		    border-radius: 50%;
		    margin: 0px 3px;
		    cursor: pointer;
		    font-weight: 700;
		}

		.paginacion_container a {
		    width: 20px;
		}

		.paginacion_container a img {
		    width: 7px;
    		padding-bottom: 5px;
		}

		.paginacion_container .active_page {
		    background: #00d2c6;
		    color: #FFF;
		}

		.cargando_mas_resultados{
			display: none;
		}

		.cargando_mas_resultados_externo {
			display: none;
		    position: fixed;
		    top: 0px;
		    left: 0px;
		    width: 100vw;
		    height: 100vh;
		    background: rgba(255, 255, 255, 0.8);
		    z-index: 99999999999;
		    text-align: center;
		    font-size: 50px;
		}

		.cargando_mas_resultados_externo i.fa.fa-spinner.fa-spin {
		    color: #00d2c6;
		    margin-top: calc( 50vh - 25px );
		}

/* MAPA */

	.mapa_container label {
		display: none;
	    position: absolute;
	    top: 10px;
	    right: 0px;
	    vertical-align: middle;
	    padding-right: 40px;
	    font-size: 14px;
	}

	.mapa_container input {
	    position: absolute;
	    top: -3px;
	    right: 10px;
	    height: 20px;
	    width: 20px;
	}

	#mapa{
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: calc( 100% - 0px );
	    height: calc( 100% - 0px );
	    background: #BBB;
	}

	.maps_h1{
	    text-transform: uppercase;
	    font-size: 16px;
	    font-family: Gotham-Pro-Bold;
	    margin: 0px 0px 2px;
	    color: #000;
	    text-decoration: none !important;
	}

	.maps_p{
		color: #555;
		padding: 2px 0px;
	}

	.maps_ranking .active {
		background-image: url(../img/BUSQUEDA/SVG/Huesito_azul.svg) !important;
	    height: 11px;
	    background-size: 20px 11px;
	}

	.maps_ranking .no_active {
		background-image: url(../img/BUSQUEDA/SVG/Huesito_gris.svg) !important;
	    height: 11px;
	    background-size: 20px 11px;
	}

	.km-opciones.maps .precio span {
	    color: #333;
	    font-weight: 600;
	    font-size: 12px;
	}

	.km-opciones.maps .precio {
	    color: #1488d0 !important;
	    font-weight: 600;
	}

	.km-ranking.maps_ranking {
	    padding: 2px 0px;
	}

	.km-opciones.maps .boton{
	    display: block;
	    text-align: center;
	    margin: 7px 0px 0px;
	    padding: 5px 15px;
	    border-width: 1px !important;
	    text-decoration: none !important;
	}