.badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.comentarios{
	resize: none;
	width: 250px;
	height: 60px;
    margin: 5px 0px 0px;
}

.items-span strong {
	font-size: 12px;
}

input[type="date"] {
    width: 100%;
    height: 33px;
}

#wpbody-content {
    padding-bottom: 0px !important;
}

.table td {
    padding: 0px 5px;
    vertical-align: middle;
}

td.dataTables_empty {
    padding: 10px;
    text-align: left !important;
}

form#filtros {
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    margin-left: 15px;
    margin: 10px 15px 25px;
}

form#filtros > div {
    display: inline-block;
    width: 155px;
    text-align: center;
}

form#filtros > div input {
    width: 100%;
    font-size: 13px;
}

form#filtros > div label {
    text-align: left;
    display: block;
    font-weight: 600;
    font-size: 13px;
}

form#filtros .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 100%;
    height: 33px;
    padding: 0px;
}