@media (max-width: 992px){
	#listado li{
	    width: 50%;
	}
	.col-mapa{
        display: inline-block!important; 
        position: initial!important; 
        padding: 0px!important; 
    }
}

@media (max-width: 768px){
	.columna_listado,
	.columna_formulario{
	    width: 100%;
	}
}

@media (max-width: 480px){
	#listado li{
	    width: 100%;
	}
}

@media (max-width: 350px){
    
}