@media (max-width: 992px){
	.row_4 section {
	    width: 50% !important;
	}
	.row_3 section {
	    width: 100% !important;
	}
}

@media (max-width: 768px){

}

@media (max-width: 480px){
	.row_4 section {
	    width: 100% !important;
	}
}

@media (max-width: 350px){
    
}