@media (max-width: 992px){
	.main .vlz_tabla .ver_reserva_botones a{
	    margin-top: 10px;
	}
	.main .vlz_tabla .vlz_tabla_inferior {
	    margin-left: 60px;
	}
	.main .vlz_tabla .boton_interno a {
		padding: 8px;
	}
	.main .vlz_tabla .vlz_botones a.cancelar {
	    padding: 6px 8px;
	}
}
@media (max-width: 650px){
	.main .vlz_tabla .ver_reserva_botones a {
	    padding: 8px 15px 8px 5px;
	}
}
@media (max-width: 500px){
	.main .vlz_tabla .ver_reserva_botones a {
	    width: calc( 100% - 5px );
	    padding: 15px;
	}	
	.main .vlz_tabla .vlz_tabla_inferior {
	    margin-left: 60px;
	}
	.main .vlz_tabla .boton_interno {
		display: none !important;
	}
	.main .vlz_tabla .boton_fuera {
		display: block !important;
	}
}

@media (max-width: 400px){
	
}