@media (max-width: 992px){
	.wpf-container {
	    margin: 0px !important;
	}

	select#transporte {
        font-size: 12px !important;
	}
}
@media (max-width: 650px){
	.vlz_destacados_contenedor {
	    width: 50%;
	}
}
@media (max-width: 500px){

	.modal_20_porciento {
	    width: calc( 100% - 20px );
	    left: 10px;
	    padding: 30px;
	    font-size: 17px;
	}

	.vlz_nav_cont {
	    overflow: auto;
    	margin: 0px 0px 25px;
	}
	.vlz_nav_cont_interno{
		width: 1000px;
	}
	.vlz_bloquear_map{
		display: block;
	}

	.atras {
	    float: none;
	    text-align: center;
	    margin-bottom: 20px;
	}

	.km-ficha-fechas input {
        width: 100% !important;
    	margin-bottom: 5px !important;
	}

	.errores_box {
	    text-align: left;
	    font-size: 12px;
	}

	.km-cupones {
	    margin-top: 20px;
	}

	.page-reservation .label-placeholder label,
	.page-reservation .label-placeholder input{
		font-size: 12px !important;
	}

	.invalido {
	    font-size: 10px;
	}

	.page-reservation .km-content-method-paid-inputs {
	    padding: 0px 0 17px 0 !important;
	}

	.page-reservation .km-detail-paid-deposit {
	    padding-top:0px !important;
	}

	.page-reservation .km-term-conditions {
	    margin: 0px 10px !important;
	}

	.btn_modificar{
	    position: fixed;
	    display: block;
	    left: 0px;
	    bottom: 0px;
	    padding: 8px;
	    font-size: 20px;
	    font-family: Roboto;
	    z-index: 999999999999999999;
	    color: #FFF;
	    border: 0;
	    border-top: solid 1px #7b7b7b;
	    width: 100%;
	    box-sizing: border-box;
	    text-align: center;
	}

	.page-reservation .km-content-step .km-content-new-pet .km-services-content .km-services .km-service-col {
	    width: 100% !important;
	    float: none !important;
	}

	.page-reservation .km-select-method-paid .km-method-paid-options .km-method-paid-option {
	    float: none !important;
	    width: 100% !important;
	    height: 95px !important;
	}

	.km-cupones > div:nth-child(1){
		width: 60%;
	}
	.km-cupones > div:nth-child(2){
		width: 40%;
		font-size: 12px;
	}
}

@media (max-width: 400px){
	.vlz_destacados_contenedor {
	    width: 100%;
	}

	.alerta_flash_importante {
	    background-size: 25px;
	    font-size: 20px;
	}

	.alerta_flash_mensaje {
	    font-size: 12px;
	}

	.alerta_flash_paso_titulo {
	    font-size: 13px;
	}

	.alerta_flash_paso_img img {
	    max-width: 60px;
	    width: 100%;
	}

	.alerta_flash_paso_txt {
	    font-size: 11px;
	}

	.km-cupones > div:nth-child(1){
		width: 55%!important;
	}
	.km-cupones > div:nth-child(2){
		width: 45%!important;
		font-size: 12px;
	}
}