/* RESPONSIVE */
@media (max-width: 1200px) {
	/* PÁGINA FICHA CUIDADOR */
	.km-costo {
		width: 250px;
	}
	/* FIN PÁGINA FICHA CUIDADOR */
}
@media (max-width: 991px) and (min-width: 768px) {
	.km-opcion {
		height: 70px;
	}
	/* PÁGINA FICHA CUIDADOR */
	/*.km-costo {
		width: 200px;
	}*/
	/* FIN PÁGINA FICHA CUIDADOR */
	.km-ficha-fechas input {
		width: 100%;
		display: block;
	}
	
}
@media (max-width: 900px) {
	button.close {
		color: black!important;
		right: 10px!important;
		color: black;
	}
	button.close:hover {
		color: black;
	}
}
@media (min-width: 767px) {
	.km-info:hover{
	    color: #2196F3 !important;
	}
	.km-info-box .km-info:hover ~ div,
	.km-info-box .km-info ~ div:hover{
	    display: block;
	    overflow: hidden;
	    text-transform: none;
	    line-height: 16px;
	    border: solid 1px #CCC;
	    padding: 10px;
	    box-sizing: border-box;
	    position: absolute;
	    background: #FFF;
	    top: 35px;
	    z-index: 0;
	    font-weight: 400;
	    font-size: 13px;
	    text-align: justify;
	}

	/* FOOTER */
	footer .km-icon-redes svg {
		transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	}
	footer .km-icon-redes svg:hover {
		fill: #00d2c6;
	}
	/* FIN FOOTER */
}
@media (min-width: 410px) {
	.km-ficha-datos br {
		display: none;
	}
}
@media (max-width: 767px) {

	.page-reservation .km-select-method-paid .km-method-paid-options .km-option-3-lineas .km-text-one {
	    font-size: 12px;
	}

	.km-info-box input:checked ~ div{
        top: 35px;
        left: -75px;
        width: 275px;
        font-size: 10px;
        text-align: left;
        line-height: 1.3;
	}

	.footer-petsitter{
		margin-bottom: 110px!important;
	}
	.footer-busqueda{
		margin-bottom: 40px!important;
	}

/*	#popup-servicios .km-opcion {
		text-align: left;
	}*/

	.km-registro-checkbox-opcion{
		width: 100%!important;
	}
	.km-select-custom{
		
		border-radius: 6px!important;
	}

	#popup-servicios .km-opcion {
	    padding: 10px 10px 5px;
	}

	.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
		display: none;
	}
	h2 {
		font-size: 29px;
	}
	h4 {
		line-height: 24px;
	}
	p {
		line-height: 15px;
	}
	section {
		text-align: left;
	}
	.h5-sub {
		font-size: 9px;
	}
	
	.km-video {
		height: 500px;
	}
	.km-servicios .km-opcion {
		text-align: left;
		padding-left: 20px;
	}
	.km-credibilidad-titular p{
		font-size: 12px;
	}
	.km-credibilidad-titular h2{
		font-size: 35px;
	}
	.km-credibilidad-titular h2,
	.km-credibilidad-titular p,
	.km-credibilidad-titular {
		text-align: left!important;
	}
	.km-servicios .col-sm-3, .km-tamanio .col-sm-3, .km-fechas .col-sm-3, .km-fechas .col-sm-6 {
		margin-bottom: 10px;
	}
	.km-cuidador .container {
		padding-left: 0;
		padding-right: 0;
	}
	.km-cuidador .km-formulario-cuidador {
		border-radius: 0;
		box-shadow: none;
		padding: 30px 30px;
	}
	/* SECCIÓN 2 - KMIMOS BENEFICIOS */
	.km-beneficios {
		text-align: left;
		margin: 20px 0;
	}
	.km-beneficios-text {
		margin-top: 0px;
	}
	/* SECCIÓN 2 - KMIMOS CLUB */
	.km-club{
		margin-top: 20px!important;
	}
	.km-club .col-sm-6:nth-child(2) {
		margin-top: 20px;
		text-align: left;
	}
	.km-club .col-sm-3 {
		text-align: center;
	}
	.km-club .col-sm-3 h4 span{
		display: block;
	}
	.km-club .col-sm-6 {
		text-align: left;
	}
	.km-video-bg {
		background: url('../videos/km-home/km-video-mobile.gif') center -40px / cover no-repeat;
	}
	.km-video-bgscreen {
		display: none;
	}
	#popup-servicios br {
		display: none;
	}
	.km-servicios-adicionales .col-sm-3 {
		margin-bottom: 10px;
	}
	#popup-servicios .modal-dialog {
		width: auto;
		padding: 0;
	}
	/* TESTIMONIALES */
	.km-testimonial-text {
		margin-top: 80px;
	}
	.km-testimonial {
		font-size: 18px;
	}
	.km-testimoniales {
		height: 500px;
	}
	.km-testimoniales .bx-wrapper img {
		width: 100%!important;
	}
	.km-testimoniales .bx-viewport, .km-testimoniales .bxslider li{
		height: 400px!important;
	}




	.km-club {
		margin-top: 0;
	}
	.km-club form {
		padding-bottom: 0;
	}
	.km-premium-slider .slide {
		width: 260px!important;
		margin-right: 2px!important;
	}

	/* PÁGINA FICHA CUIDADOR */
	.km-costo {
		width: 200px;
	}
	.km-ficha-info-cuidador {
		text-align: center;
	}
	.km-ficha-info-cuidador .col-sm-6 {
		margin-top: 10px!important;
	}
	.km-ficha-bg {
	    height: 170px;
	}
	.km-ficha-info-cuidador {
		margin-bottom: 10px;
	}
	.km-ficha-info .nav-tabs {
		margin-bottom: 20px;
		border-bottom: 2px solid #afafaf;
	}
	.km-ficha-info .nav-tabs>li.active>a, .km-ficha-info .nav-tabs>li.active>a:focus, .km-ficha-info .nav-tabs>li.active>a:hover {
	    color: black;
	    cursor: pointer;
	    background-color: #fff;
	    border: transparent;
	    font-family: 'Gotham-Pro-Bold';
	    border-bottom: 4px solid black;
	}
	.km-ficha-info .nav-tabs>li>a, .km-ficha-info .nav-tabs>li>a:focus, .km-ficha-info .nav-tabs>li>a:hover {
		color: #afafaf;
	    cursor: pointer;
	    background-color: #fff;
	    border: transparent;
	    font-family: 'Gotham-Pro-Light';
	}
	/* FIN PÁGINA FICHA CUIDADOR */

	/* PÁGINA QUIERO SER CUIDADOR */
	.km-hero-bg {
		height: 400px;
	}
	.km-titular-cuidador {
	    text-align: left;
	    top: 160px;
	}
	.km-titular-cuidador .km-btn, .km-comosoycuidador .km-btn-borderw {
		margin: 20px 0 0;
	}
	/* FIN PÁGINA QUIERO SER CUIDADOR */

	/* SECCIÓN FOOTER */
	footer .btn {
		padding: 10px;
	}
	footer .input-group {
		width: 100%;
	}
	footer .row .col-xs-12:nth-child(2) {
        margin:15px 0px 0px 0px;
	}

	.contenedor_info_extra {
	    margin-right: 0px;
	}
	/* FIN SECCIÓN FOOTER */

	/* OPCIONES DE PAGO */
	#mensaje-puntos-bancomer img{
		margin: 0 auto;
	}
	#mensaje-puntos-bancomer{
		text-align: center;		
	}
	#pasarela-container {
		display: inline-block;
	}	
	#pasarela-container .km-method-paid-option{	
		display: inline-block;
		width: 47%;
		height: 70px;
		vertical-align: top;
		margin: 2px 0px;
	}

	/* OPCIONES DE PAGO */
}
@media (max-width: 480px) {
	.flecha_fecha{
		display: none;
	}
	.bx-wrapper .bx-pager a {
		margin: 0 8px;
	}
	.bx-wrapper .bx-pager-item{
		width: 100px;
	}
}


@media all and (max-width: 991px) {
	.km-caja-resultados .km-columna-izq,
	.km-caja-resultados .km-columna-der{
		float: none;
		width: 100%!important;
	}

	.km-input-content{
	    padding-left: 2px!important;
	}


}

@media all and (max-width: 724px) {
	.header-search{
		height: 175px;
	}

	.contentenedor-buscador-todos{
		margin-top: -95px;
	}

	.km-bloque-cajas{
		height: auto;
	}

	.km-div-ubicacion,
	.km-div-fechas,
	.km-div-enviar{
		float: none;
		width: 100%;
	}

	.km-select-custom{
		
	}

	.km-submit-custom{
		-webkit-border-radius: 0px 0px 6px 6px;
		-moz-border-radius: 0px 0px 6px 6px;
		border-radius: 0px 0px 6px 6px;
	}

	.km-div-filtro{
		padding-top: 21px;
	}

	.km-cajas-filtro .km-caja-filtro{
		width: 48.666666%;
	}

	.km-cajas-filtro .km-caja-filtro:nth-child(2){
		margin-right: 0;
		margin-bottom: 2%;
	}

	.km-div-filtro .km-titulo-filtro{
		color: #000000;
	}
}

@media all and (max-width:629px) {
    .km-resultados-grid .km-item-resultado {
        width:100%!important;
    }
    .km-resultados-grid .km-item-resultado:nth-child(2n) {
        margin-right:0
    }
    .km-resultados-grid .km-item-resultado:nth-child(3n) {
        margin-right:3%
    }

    .km-foto {
    	width: 100%!important;
    }
    .km-foto .km-img{
    	height: 239px!important;
    }
}

@media all and (max-width:427px) {
	h2{
		font-size: 30px!important;
	}
    .km-resultados-grid .km-item-resultado {
        width:100%
    }
    .km-resultados-grid .km-item-resultado {
        margin-right:0
    }
    .km-resultados-grid .km-item-resultado:nth-child(2n) {
        margin-right:0
    }
    .km-resultados-grid .km-item-resultado:nth-child(3n) {
        margin-right:0
    }

    .km-foto {
    	width: 100%!important;
    }
    .km-foto .km-img{
    	height: 239px!important;
    }

}

@media all and (max-width: 629px) {
	.km-resultados-lista .km-item-resultado .km-foto{
		width: 45%;
	}

	.km-resultados-lista .km-item-resultado .km-contenedor-descripcion-opciones{
		width: 100%;
	}

	.km-resultados-lista .km-item-resultado .km-descripcion,
	.km-resultados-lista .km-item-resultado .km-opciones{
		width: 100%!important;
	}

	.km-resultados-lista .km-item-resultado .km-sellos{
		padding-top: 10px;
	}

	.km-resultados-lista .km-item-resultado .km-opciones{
		text-align: left;
		padding-left: 16px;
		padding-top: 5px;
	}

	.km-resultados-lista .km-item-resultado .km-opciones::after{
		content: "";
		display: block;
		clear: both;
	}

	.km-resultados-lista .km-item-resultado .km-opciones .km-btn-primary{
		float: left;
		width: 49%;
		margin-top: 0;
	}

	.km-resultados-lista .km-item-resultado .km-opciones .km-btn-primary.stroke{
		float: right;
	}
}

@media all and (max-width: 550px) {
	.km-caja-resultados{
		padding-top: 21px;
	}

	.km-texto-resultados{
		font-size: 11px;
	}

	.km-opciones-resultados{
		width: auto;
	}

	.km-opciones-resultados .km-orden-resultados{
		display: none;
	}
}

@media all and (max-width: 430px) {
	.km-resultados-lista .km-item-resultado .km-foto{
		width: 100%!important;
		/*display: none;*/
	}

	.km-resultados-lista .km-item-resultado .km-contenedor-descripcion-opciones{
		width: 100%;
	}
}

@media all and (max-width: 380px) {
	.km-cajas-filtro {

	}
	.km-cajas-filtro .km-caja-filtro .km-div-enviar,
	.km-cajas-filtro .km-caja-filtro .km-div-fechas,
	.km-cajas-filtro .km-caja-filtro .km-div-ubicacion{
		width: 100%!important;
	}
	.km-cajas-filtro .km-caja-filtro{
		width: 100%!important;

	}

	.km-cajas-filtro .km-caja-filtro{
		margin-right: 0;
		margin-bottom: 2%;
	}
}

@media all and (max-width: 767px) {
	 
	.km-costo{
		position: fixed!important;
	    display: block!important;
	    top: initial!important;
	    left: 0;
	    width: auto!important;
	    bottom: 0!important;
	    z-index: 99;
	}

	.km-map-content{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	    z-index: 100;
		position: fixed;
		background: white;
	}

	.km-map-content .km-tit-ficha{
		line-height: 30px;
	}

	.km-map-content .km-ficha-mapa iframe{
		left: 10px;
		right: 10px;
		bottom: 10px;
		top: 30px;
		position: absolute;
		width: calc(100% - 20px);
		min-height: calc(100% - 40px);
	}

	.km-map-content .km-map-close{
		display: block;
		position: absolute;
		right: 10px;
		top: 5px;
	}

	.page-reservation .km-content .km-col-steps {
	    padding: 125px 15px 32px;
	}

	.page-reservation .steps-numbers {
	    max-width: 250px;
	    display: block;
	}

	.page-reservation .km-title-step {
	    display: inline-block;
	    padding: 20px 0px 10px;
	    text-align: center;
	}

	.km-title-step > div {
	    font-size: 10px;
	    padding: 6px 0px;
	}

	.cuidador_select {
	    padding: 0px;
	    font-size: 15px;
	}

	.fechas_select {
		font-size: 13px;
	    border-bottom: solid 1px #CCC;
	}

	.km-services-total > div {
	    max-width: 100% !important;
	}

	.barra_inferior_2_container {
	    width: 100%;
	}

	.barra_inferior_2_container > div, .barra_inferior_2_container > span {
	    display: block;
	    vertical-align: middle;
	}

	.km-cupones {
	    margin-top: 0px !important;
        margin-bottom: 30px !important;
	}

	.km-cupones > div {
	    height: 40px;
	}

	.km-cupones input {
	    font-size: 13px;
	}

	.km-cupones span {
	    padding: 12px;
	    font-size: 13px;
	}

	.page-reservation .km-content-step .km-option-resume .km-option-resume-service {
	    font-size: 13px;
	    max-width: 100%;
	}

	.barra_inferior_2_container > div {
	    padding-right: 0px;
	}

	.km-content-step.km-content-step-2 {
	    margin-right: 0px;
	}

	.km-info-box {
	    position: relative;
	    right: auto;
	    top: auto;
	    width: 110px;
	}

	.page-reservation .km-content .km-col-steps {
	    width: 100%;
        padding: 60px 15px 32px;
        height: auto;
    	overflow: initial;
        overflow-x: hidden;
	}

	.page-reservation .km-content .km-col-empty {
	    display: none;
	}

	.page-reservation .steps-numbers {
	    max-width: 250px;
	    display: block;
	}

	.barra_inferior_container > div {
	    padding: 15px 0px !important;
        display: block;
        height: 50px;
        width: 100%;
	}

	.page-reservation .km-end-btn-form {
	    max-width: 200px;
	    font-size: 15px;
	    line-height: 1;
	    margin: 0px auto;
	    padding: 15px;
	}

	.datos_tarjeta_container > div {
	    display: block;
	    width: 100%;
	    vertical-align: top;
	}

	span#reserva_btn_next_3 {
		display: block;
		float: none;
		padding: 15px 30px;
		font-size: 14px;
		margin-top: 15px;
		margin: 15px auto 0px;
	}

	.page-reservation .km-term-conditions label {
	    font-size: 12px;
	}

	.page-reservation .km-content-step .km-services-total .km-text-total {
	    font-size: 18px;
	    font-weight: 700;
	}

	.page-reservation .km-content-step .km-services-total .km-price-total, .page-reservation .km-content-step .km-services-total .km-price-total2 {
	    font-size: 18px;
	    font-weight: 800;
	}

	.page-reservation .km-title-step {
	    display: block;
	    padding: 15px 0px;
	    text-align: center;
	    font-size: 15px;
	}

	.km-info-box a {    
	    position: relative;
	    top: 0px;
	    right: auto;
	    padding: 3px 10px;
	    height: 30px;
	    display: inline-block;
	    float: left;
	    margin: 0px -3px;
	}

	.km-info {
		font-size: 16px;
		padding: 5px 10px;
		float: right;
	}

	.page-reservation .km-sub-title-step {
	    padding: 20px 25px;
	    text-align: center;
	    font-size: 17px;
	    clear: both;
	}

	.page-reservation .km-content-step .km-option-resume .km-option-resume-service .label-resume-service {
	    font-size: 12px;
	}

    .label-resume-service{
        display: none;
    }

    .cupones_desglose .label-resume-service{
        display: inline-block;
    }

    .label-resume-service_movil{
        display: inline-block;
    }

    .atras {
	    text-decoration: none;    
	    border: solid 1px #777;
    	border-radius: 4px;
	    padding: 5px;
	}

    .vlv_1{
        display: none;
    }

    .vlv_2{
        display: block;
    }

}

@media (max-width: 992px){
	.wpf-container {
	    margin: 0px !important;
	}

	select#transporte {
        font-size: 12px !important;
	}
}
@media (max-width: 650px){
	.vlz_destacados_contenedor {
	    width: 50%;
	}

    .mensaje_cupon{
        clear: both !important;
        font-size: 10px !important;
    }

    .km-tarjeta span {
    	display: none;
    }
}
@media (max-width: 500px){

	.modal_20_porciento {
	    width: calc( 100% - 20px );
	    left: 10px;
	    padding: 30px;
	    font-size: 17px;
	}

	.vlz_nav_cont {
	    overflow: auto;
    	margin: 0px 0px 25px;
	}
	.vlz_nav_cont_interno{
		width: 1000px;
	}
	.vlz_bloquear_map{
		display: block;
	}

	.atras {
	    float: none;
	    text-align: center;
	    margin-bottom: 20px;
	}

	.km-ficha-fechas input {
		width: calc( 50% - 2px ) !important;
		margin-bottom: 5px !important;
		float: left;
	}

	.page-reservation .km-dates-step .km-ficha-fechas input {
	    font-size: 14px;
	}

	.contenedor_info > label, .contenedor_info > div {
	    display: block;
	    width: 100%;
	}

	.page-reservation .km-content-step .km-content-new-pet {
	    padding: 0px 3px;
	    border: 0px;
	    margin-right: 0px;
	}

	.contenedor_info > label {
	    padding: 15px 50px 10px 0px;
	}

	.page-reservation .km-content-step .km-content-new-pet .km-height {
	    padding: 7px 0px 0px 10px;
	    font-size: 10px;
	}

	.contenedor-adicionales .contenedor_info {
	    padding-bottom: 10px;
	}

	.page-reservation .km-content-step .km-services .km-service-col {
	    width: 100%;
	}

	.page-reservation .km-content-step .km-services .km-service-col .optionCheckout {
	    display: block;
	    margin-bottom: 0px;
	}

	.errores_box {
	    text-align: left;
	    font-size: 12px;
	}

	.km-cupones {
	    margin-top: 20px;
	}

	.page-reservation .label-placeholder label,
	.page-reservation .label-placeholder input{
		font-size: 12px !important;
	}

	.invalido {
	    font-size: 10px;
	}

	.page-reservation .km-content-method-paid-inputs {
	    padding: 0px 0 17px 0 !important;
	}

	.page-reservation .km-detail-paid-deposit {
	    padding-top:0px !important;
	}

	.page-reservation .km-term-conditions {
	    margin: 0px 10px !important;
	}

	.btn_modificar{
	    position: fixed;
	    display: block;
	    left: 0px;
	    bottom: 0px;
	    padding: 8px;
	    font-size: 20px;
	    font-family: Roboto;
	    z-index: 999999999999999999;
	    color: #FFF;
	    border: 0;
	    border-top: solid 1px #7b7b7b;
	    width: 100%;
	    box-sizing: border-box;
	    text-align: center;
	}

	.page-reservation .km-content-step .km-content-new-pet .km-services-content .km-services .km-service-col {
	    width: 100% !important;
	    float: none !important;
	}

	.page-reservation .km-select-method-paid .km-method-paid-options .km-method-paid-option {
	    float: none !important;
	    width: 100% !important;
	}

	.km-cupones > div:nth-child(1){
		width: 55%;
	}
	.km-cupones > div:nth-child(2){
		width: 45%;
		font-size: 10px!important;
	}

	.items_reservados_paso_1.items_reservados span {
	    font-size: 13px;
	}

	.items_reservados_paso_1 .km-option-resume-service {
	    padding: 0px 0px 3px;
	}

	.items_reservados_paso_1.items_reservados {
	    width: 100%;
	    padding: 5px 0px 0px;
	    float: none;
	}

	.items_reservados_paso_1_titulo {
	    width: 100%;
	    float: none;
	}
}

@media (max-width: 400px){
	.vlz_destacados_contenedor {
	    width: 100%;
	}

	.alerta_flash_importante {
	    background-size: 25px;
	    font-size: 20px;
	}

	.alerta_flash_mensaje {
	    font-size: 12px;
	}

	.alerta_flash_paso_titulo {
	    font-size: 13px;
	}

	.alerta_flash_paso_img img {
	    max-width: 60px;
	    width: 100%;
	}

	.alerta_flash_paso_txt {
	    font-size: 11px;
	}

	.km-cupones > div:nth-child(1){
		width: 55%!important;
	}
	.km-cupones > div:nth-child(2){
		width: 45%!important;
		font-size: 11px!important;
	}

	.km-cupones input {
    	padding: 10px;
    	font-size: 13px;
	}

	.contenedor_info {
	    width: 100%;
	}

	.page-reservation .km-content-step .km-content-new-pet .km-quantity-height {
	    width: 100%;
	}

	.contenedor_info > label {
		padding: 10px 0px;
	    font-size: 11px;
	}

	.page-reservation .km-content-step .km-content-new-pet .km-height {
	    width: calc(100% - 105px);
	}
}