@media (max-width: 992px){

}

@media (max-width: 768px){
	.km-hero-bg {
	    height: 400px;
	}
	.km-titular-cuidador {
	    text-align: left;
	    top: 160px;
	}
	h2 {
	    font-size: 35px !important;
	}
	p {
	    line-height: 15px !important;
	}
	section {
	    text-align: left !important;
	}
	.km-btn {
	    width: auto !important;
        margin: 20px 0 0 !important;
	}

	.km-btn-borderw {
	    background-color: #fff;
	    box-shadow: 0 5px 0 0 #480571;
	    color: #6b1c9b;
	}
	.navbar-header {
	    margin-top: -22px !important;
	}
	.navbar-brand>img {
	    height: 40px !important;
    	top: 5px !important;
	}

}

@media (max-width: 480px){
    .km-titular-cuidador h2,
    .km-titular-cuidador p {
	    text-align: left;
	}
}

@media (max-width: 350px){
    
	.km-titular-cuidador {
	    top: 80px;
	}

	ol, ul {
	    font-size: 12px !important;
	}
	.page-reservation .steps-numbers li.line {
	    width: 70px !important;
	}

	.h3, h3 {
	    font-size: 22px !important;
	}
}